[2014-07-30 00:26] iaingray opened #3075 "SSL Error on S3 connection"
I'm getting an error with S3 at the moment. If I set up a connection (using my key + secret, eu-west-1) such that `connection` is an instance of Fog::Storage::AWS::Real, then do

`puts connection.directories.to_a`, I get an array of directory objects, as expected.

However, if I try:

`p connection.directories.to_a` or `puts connection.directories`

I get the error details in the below trace, afte

[2014-07-30 18:19] omehegan opened #3079 ""Excon unable to add file to cert store" when accessing S3, reinstalling excon gem fixes problem"
I'm using fog 1.23 (also have this problem in fog 1.15 though). I have the following Ruby code for listing files in an S3 bucket:

[code]

When I call my s3_list method, it fails like this:

[excon][WARNING] Excon unable to add file to cert store, ignoring: /var/lib/gems/1.8/gems/excon-0.38.0/data/cacert.pem
[OpenSSL::X509::StoreError] system lib
/var/lib/gems/1.8/gems/excon-0.38.0/lib/excon/ssl_s

[2014-07-30 19:36] maxlinc opened #3082 "Easier retry/idempotent logic"
Just throwing an idea out there...

Or is it? Excon supports an :idempotent flag and I've thought about going through the rackspace and/or openstack providers and marking things as idempotent. But, it's tedious to mark each service when there's a pretty clear pattern at [restcookbook.com](http://restcookbook.com/HTTP%20Methods/idempotency/):

<table style="margin: 3em">
    <tbody><tr><th>HTTP Met

[2014-07-31 00:04] #3079 closed, assigned to nobody

[2014-07-31 00:11] diwakergupta opened #3083 "Image create example for Google is broken"
I'm using https://github.com/fog/fog/blob/master/lib/fog/google/examples/image_create.rb as a template. Specifically, at least two different issues:

First, `connection.image.create` should be `connection.images.create` -- trivial fix

Second, `connection.images.create` fails with:

[code]

[2014-07-31 01:26] stenstad opened #3084 "Domain support in Identity v3"
With the Identity v2.0 API marked as deprecated in Icehouse (alltho reverted after release), cloud providers are starting to require using the v3 API to authenticate.

This is needed to support domains, to achieve full multi-tenancy in public clouds.

The v2.0 API seems to be scheduled for removal in the Kilo release next year.

Please look into supporting v3 and domains.

Documentation for the v3

[2014-07-31 01:27] #2976 closed, assigned to nobody

[2014-08-02 21:34] lumberj opened #3086 "[AWS] Add support for Amazon Kinesis"
[Amazon Kinesis](http://aws.amazon.com/kinesis/)

[2014-08-03 15:11] mtjhax opened #3087 "Rackspace get_object_https_url should never return servicenet URL"
The code in lib/fog/rackspace/requests/storage/get_object_https_url.rb generates an expiring "TempUrl". The entire point of this is to grant temporary public access to private files. If, however, the server using Fog is located at Rackspace and configured with `:rackspace_servicenet => true` (to use the faster internal network) then get_object_https_url returns a servicenet URL, e.g. "https://snet

[2014-08-04 15:59] #3056 closed, assigned to nobody

[2014-08-04 16:41] diwakergupta opened #3088 "[feature] Add support for GCE SSD"
SSD disks are now GA: https://developers.google.com/compute/docs/release-notes#june252014

https://developers.google.com/compute/docs/disks#ssdperformance
https://developers.google.com/compute/docs/disks#create_disk

[2014-08-05 08:12] sgran opened #3089 "compute search filter for availability-zone broken on aws when mocking"
Hi,

It seems that the filter for availability_zone doesn't work as intended, at least when mocking.  It looks like that's because when fog is iterating the list of servers returned, it is looking for a top level key of availabilityZone, when it is nested under the placement hash.

[2014-08-05 13:05] #3088 closed, assigned to nobody

[2014-08-05 15:54] elight opened #3091 "Remove default region support"
@krames and I deprecated this over 6 months ago.  We'd agreed to let this sit for that duration. Now that the period has lapsed, it should be removed entirely.

/cc @smashwilson

[2014-08-06 16:43] #3089 closed, assigned to nobody

[2014-08-08 18:08] endzyme opened #3095 "AutoScaling Tagging Docs Incorrect (also tests)"
Documentation and tests are incorrect for the create_auto_scaling_group tags options.

https://github.com/fog/fog/blob/v1.23.0/tests/aws/requests/auto_scaling/tag_tests.rb#L18-L24

This example yields

[code]

The array each_with_index is broken (i'm running ruby 1.9.3). See link below.
https://github.com/fog/fog/blob/v1.23.0/lib/fog/aws/requests/auto_scaling/create_auto_scaling_group.rb#L74-L79

[2014-08-11 11:25] tnimmo opened #3099 "Update Nokogiri version from 1.5.11 to 1.6"
Are there any plans to upgrade Nokogiri to version 1.6?

I have forked fog and upgraded nokogiri to 1.6 and all seems to be working. Should I put this in as PR or are there other considerations I haven't thought about?

From the Nokogiri change logs (1.6.0.rc1):

"Ruby 1.9.2 and higher now required"
"Support for Ruby 1.8.7 and prior has been dropped"

Is this a problem?

[2014-08-11 13:44] varac opened #3100 "fog: `lookup_volume_by_name': Expected Connection object (ArgumentError)"
Hi, i'm following the quick start guide using the centos64 box.
i'm getting this eror, and don't know if i should address this here or at the vagrant-libvirt project:

[code]

[2014-08-11 13:55] #2988 closed, assigned to nobody

[2014-08-11 14:07] #3100 closed, assigned to nobody

[2014-08-11 15:37] #3095 closed, assigned to nobody

[2014-08-13 13:31] fwiesel opened #3106 "AWS: Hard-coded regions break provider for compatible services"
Hi,

In [validate_regions](https://github.com/fog/fog/blob/master/lib/fog/aws/region_methods.rb) there is a list of hard-coded regions. If I run a AWS compatible cloud provider, I cannot use the AWS provider with my defined regions, and neither can I use any future introduced region from Amazon without changing the code.

I'd propose to either scrap the validation and catch the resulting error whe

[2014-08-14 15:42] #3106 closed, assigned to nobody

[2014-08-15 15:20] #3091 closed, assigned to nobody

[2014-08-15 17:13] blomquisg opened #3112 "The Openstack Service Type for Storage should be an array"
If an Openstack installation doesn't have Swift running, trying to connect to Swift via Fog should throw an error indicating that the service is not available.  This is how all of the other services behave.

However, with Swift (the "Storage" service) the `openstack_service_type` is "object-store".  For all other Openstack services, the `openstack_service_type` is an array.  This is important beca

[2014-08-15 21:23] #3112 closed, assigned to nobody

[2014-08-18 17:04] dacamp opened #3114 "Exception raised in Google#get_target_pool_health when instance is terminated"
Google instances can be terminated, yet still in a Target Pool.  A `Fog::Errors::Error` exception is raised as 'resource is not ready', which prevents you from getting health for all other instances in that Target Pool.

Here's how I'm calling Target Pool `#get_health`
[code]

And the backtrace
[code]

[2014-08-19 04:46] CpuID opened #3115 "Bring AWS CloudFront API Models/Requests up to date"
Heaps of missing functionality, specifically around the use of Price Classes, Custom/Dedicated SSL certificates, etc.

Current API version is 3~ years behind, has some authentication breakage when you try and just change the version to 2014-05-31:

[code]

[2014-08-19 13:25] bwilk opened #3116 "Azure support"
Hello,
I'm about to start implementation of Microsoft Azure support in Fog. I'm corious about your opinions about using azure client for that matter:
https://github.com/Azure/azure-sdk-for-ruby
Would you prefer to have independent implementation creating requests to API directly or rather make use of the client gem.
Thanks for any help.
BW

[2014-08-19 23:00] plainlystated opened #3120 "[Rackspace | LoadBalancer] Adding nodes to load balancer"
I cannot figure out how to add nodes to an existing load balancer.  I'm trying various things like:

[code]

and

[code]

I don't get any error, but the node doesn't actually get added to the load balancer.

Can you direct me as to the appropriate way to use this API?

Thanks,
Patrick

[2014-08-20 19:29] #3120 closed, assigned to nobody

[2014-08-21 14:56] #2902 closed, assigned to nobody

[2014-08-27 13:39] martinb3 opened #3129 "Failures to bootstrap ubuntu 12.04 in the Rackspace cloud"
Hello! I'm using test-kitchen with the Rackspace driver, which wraps fog. And whenever the bootstrap (rackspace/models/compute_v2/servers.rb) and setup (rackspace/models/compute_v2/server.rb) methods are called on an Ubuntu 12.04 server, net-ssh dies:

[code]

I noticed someone else had also seen failures, and added a retry in https://github.com/fog/fog/pull/2918. And in the comments of the code i

[2014-08-27 18:26] #3129 closed, assigned to nobody

[2014-08-29 18:18] displague opened #3131 "[linode] add Images support"
Linode has support for snapshotting and deploying from custom Images now: https://www.linode.com/api/image

I would like to [contribute support](https://github.com/displague/fog/compare/fog:master...more_linode_support) for this but I am struggling with how to deal with the fact that linode.images is already present in fog -- with the current implementation dealing with Linode's [deployable](https

[2014-08-31 22:22] teaforthecat opened #3134 "[vsphere] vm_clone method uses wrong path to find vm"
If you pass 'template_path' but not a 'dest_folder' in the options to the vm_clone method, the vm will be created in the template folder but the get_virtual_machine method at the end of the vm_clone method uses the option['dest_folder'] which is nil so the path is wrong.

[2014-09-02 13:38] julz opened #3137 "Fog::Local::File not safe for concurrent use"
Hi, we've run in to issues using Fog as a local blobstore from multiple concurrent clients. Specifically the [`.save` method](https://github.com/fog/fog/blob/master/lib/fog/local/models/storage/file.rb#L99) creates parent directories (**ab/cd**/abcd-efgh-ijkl) only if they don't exist before the file is saved. This is fine, but if another file with the same first four characters in its key is bein

[2014-09-02 13:46] lhandl opened #3138 "select vlan or portgroup for first network interface with vsphere?"
Hello,

can you tell me, if there is a solution for selecting the vlan on vSwitch and if I'm on a distributed virtual switch, the portgroup the vm should be connected to, during vm_clone with the vsphere provider? I've been looking in the docs, and on google but didn't find out the right way.

Kind regards,
Lothar

[2014-09-02 21:31] #3134 closed, assigned to nobody

[2014-09-07 14:02] ncri opened #3148 "How to update an aws s3 file caching header?"
Hi, this is not an issue, but a question:

How to update an s3 object's cache control header?

I tried:

[code]

That worked fine, but removed the file's acl. How can I simply update the cache_control header without changing anything else?

Is there a comprehensive guide somewhere how to do common things with fog? I found http://fog.io/, but there is only very basic info.

[2014-09-09 16:49] jrunning opened #3151 "AWS::AutoScaling::Instance#healthy? return incorrect ("Healthy" vs. "HEALTHY")"
Using Fog 1.22.1, `AWS::AutoScaling::Instance#healthy?` returns `false` when it should return `true` because the method compares the value `"Healthy"` to the string `"HEALTHY"`:

[code]

`AWS::AutoScaling::Instance#healthy?` is [defined thusly](https://github.com/fog/fog/blob/v1.22.1/lib/fog/aws/models/auto_scaling/instance.rb#L39-L41):

[code]

[According to the Auto Scaling docs](http://docs.aws

[2014-09-10 09:15] rcarrillocruz opened #3152 "Error 404 "CLASSIFICATION_FAILURE" when accessing Neutron endpoint in HP Cloud"
Since 9th September, I get the following error when accessing the Neutron endpoint in HP Cloud (EXCON_DEBUG is set to true for showing response in detail):

[code]

The script to reproduce is this:

[code]

This happens in both HP US East and West, so it doesn't appear a HP Cloud problem.

Regards

[2014-09-11 19:31] marcusn opened #3155 "New release"
Please release a new version, I especially need the compatibility fixes for cloudstack.

[2014-09-12 10:41] tokengeek opened #3156 "Sakuracloud changes have broken require / incorrect dependencies"
As of e8a9ecaf7d6616b8031b68657a5c911c5c7fcc30...

[code]

[2014-09-12 10:42] tokengeek opened #3157 "Number of 1.9 style hashes introduced in testing"
Travis is showing failures due to 1.9 hashes being introduced into the tests.

These should be fixed to be hash rocket versions.

e.g. https://travis-ci.org/fog/fog/jobs/34821735

[2014-09-12 11:58] #3157 closed, assigned to tokengeek

[2014-09-15 13:53] tokengeek opened #3161 "Google compute tests are failing due to Not Found error"
Travis has been failing for a while, mostly from `tests/google/models/compute/target_pools_tests.rb` failing.

E.g. https://travis-ci.org/fog/fog/jobs/35336198 (and many others)

@icco Can you have a look, assign a minion or something please?

[2014-09-16 21:20] jfelchner opened #3165 "Why are the credential keys not generalized?"
We're currently implementing `fog` in one of our applications and were surprised to find that all of the credential keys for each service are specific to that service.

I would have thought that I'd be able to set something like:

[code]

And in my code do something like:

[code]

Considering the point of fog is that you can abstract away your cloud providers, then theoretically changing it should

[2014-09-16 23:50] #2817 closed, assigned to nobody

[2014-09-17 10:55] tacticiankerala opened #3168 "AWS S3 Server Side Encryption using Customer Key(SSE-C)"
I was trying to use AWS S3's Server Side Encryption using Customer Key(SSE-C) - http://docs.aws.amazon.com/AmazonS3/latest/dev/ServerSideEncryptionCustomerKeys.html . I was successful in getting the encryption working by setting the 'fog_attributes'.

But I need to send the same headers while making a GET request for the file as well (for decrypting). Unfortunately I could not make a GET request s

[2014-09-17 14:28] #3151 closed, assigned to nobody

[2014-09-17 18:36] #3161 closed, assigned to icco

[2014-09-18 15:08] christiangenco opened #3172 "Is there a reason not to set up one global S3 storage object in an initializer?"
Here's what I'd like to do:

[code]

Then, all over my application (including in sidekiq threads), do things like:

[code]

and:

[code]

Currently I have things set up so I dynamically create a separate `Fog::Storage` object whenever I need one, but having one global `S3` to work with would make my code a lot cleaner.

So yeah, is there a reason I shouldn't do this?

[2014-09-18 15:51] #3172 closed, assigned to nobody

[2014-09-21 21:27] inspire22 opened #3174 "EXCON_DEBUG and DEBUG env variables have no effect?"
The getting started document suggests using them

[code]

Grepping the source didn't find any mention of them.

If this document is out of date, any suggestions how to get fog to print to stderr the locations it's accessing please?

[2014-09-22 14:24] #3174 closed, assigned to nobody

[2014-09-22 20:06] #3148 closed, assigned to nobody

[2014-09-24 12:34] HackRanger opened #3177 "Compute.Servers Failing : CExcon::Errors::SocketError: SSL_connect SYSCALL returned=5 errno=0 state=SSLv2/v3 read server hello A (OpenSSL::SSL::SSLError)"
Hello,
I am repeatedly getting error after trying to do connection.servers. Compute.new wont fail. But connection.servers is failed

[2014-09-25 15:24] mikepea opened #3179 "[vcloud-director] Independent disk attachment prevents local disk attachment"
Leaving this issue as a note to myself to investigate further, but I have noticed that after attaching an independent disk via the post_upload_disk (sic) call, it is no longer possible to add local disks via the Model vm.disks operations.

This _might_ be a limitation of vCloud Director, but I suspect it's down to assumptions made in the VM model.

[2014-09-26 14:25] zivel opened #3184 "Fog::Identity.new(provider: Openstack... fails. Need guidance for Testcase."
Hello
When I tried to connect with Fog::Identity.new(provider: 'Openstack' ... to our Keystone Instance which has different regions it failed. When adding the attribute :openstack_region I got the Warning "[fog][WARNING] Unrecognized arguments: openstack_region" so I added the followin lines of code to ./lib/fog/openstack/identity.rb and now it works.

[code]

 I read your guidelines for contribut

[2014-09-30 19:18] #3177 closed, assigned to nobody

[2014-10-03 14:52] #3152 closed, assigned to nobody

[2014-10-05 10:48] dLobatog opened #3190 "Homogenize error handling"
Error handling differs a lot between providers in Fog. This is especially annoying when you develop with Fog and have to handle different providers, from the client side, it makes us impossible to rescue exceptions without having to look at each case. Part of what makes Fog a great library is that **centralized** 'API' for all cloud resources. When everything works well, usually values returned ar

[2014-10-11 09:26] ysbaddaden opened #3194 "Lazy Fog::Storage::OpenStack connection?"
I'm hitting a performance issue with Fog::Storage::Openstask which authenticates to the remote server as soon as it's initialized. The `auth_token` is indeed required when interacting with the storage, yet I often just need to generate signed URL to dowload private files, but these do require the `management_url` which is received along with the `auth_token` (to extract the scheme, host and port).

[2014-10-14 19:01] #3155 closed, assigned to nobody

[2014-10-14 22:10] #2865 closed, assigned to nobody

[2014-10-15 14:26] #2162 closed, assigned to nobody

[2014-10-15 21:51] brandocorp opened #3200 "Fog::AWS::Compute::Real#describe_instances does not conform to the published query standards"
While working with an internal project aimed at providing an API compatible with with Amazon's, it was found that the  [Fog::AWS::Compute::Real#describe_instances](https://github.com/fog/fog/blob/master/lib/fog/aws/requests/compute/describe_instances.rb#L65-L67) method does not follow the published [query standards](http://docs.aws.amazon.com/AWSEC2/latest/APIReference/Query-Requests.html#query-pa

[2014-10-16 02:11] techlunacy opened #3201 "PreDefined Policies in ELBs"
how do i assign a pregenerated policy to an elb listener using fog?

if anyone has a script to deal with POODLE that would be much apreciated as well

[2014-10-16 19:21] geemus opened #3203 "undefined Fog::Version in travis edge tests"
Somehow this ONLY comes up in edge and only since we changed the fog vs fog core version stuff. See: https://travis-ci.org/fog/fog/jobs/38187824

@plribeiro3000 could you take a look and see if you can maybe figure it out?

[2014-10-17 07:55] jnicklas opened #3204 "Regression in Fock.mock causing CarrierWave specs to fail"
It seems that fog 1.24.0 introduced a regression not present in 1.23.0 which is causing CarrierWave's test suite to fail. Here's a reproduction:

[code]

On 1.23.0 this prints:

[code]

But on 1.24.0 this fails like this:

[code]

Everything works fine, but it seems that the `File` object for Google has not received a `key`. Printing out the file object looks like this:

[code]

Note that `key` is

[2014-10-17 12:45] pmartins21 opened #3205 "Flavours in OpenNebula not applied"
We're currently investigating how we can implement fog to deploy VMs into our OpenNebula-Cloud. After some test I found a problem with I'cant fix or find a solution for it.

When I create a VM threw the OpenNebula provider, the vm still is deployed with 1 VCPU and 128MB of memory. I have tested this with the flavours of the template and also override the flavours of the template. In the code snipp

[2014-10-18 22:18] #3203 closed, assigned to nobody

[2014-10-20 14:40] #3204 closed, assigned to icco

[2014-10-20 14:59] #2812 closed, assigned to nobody

[2014-10-20 18:53] #2904 closed, assigned to nobody

[2014-10-22 00:00] #3201 closed, assigned to nobody

[2014-10-23 15:27] drnic opened #3214 "AWS China region"
I don't think I see `cn-north-1` references in fog yet.

It was announced Dec 2013 http://aws.amazon.com/blogs/aws/coming-soon-new-china-beijing-region/

Services:

[code]

[2014-10-27 21:10] selund opened #3221 "libvirt lxc support"
Hello, I've had a quick look at getting lxc support in the libvirt driver. I'm no programmer, and have no experience with ruby. With the following changes I was able to create a lxc container using the libvirt driver.

I would like to see lxc support in some fashion in the libvirt driver, hope this can help that happen.

[code]

[code]

[2014-10-29 00:40] CpuID opened #3224 "AWS Cloudfront Requests/Models do not support MinimumProtocolVersion attribute - SSLv3 vs TLSv1"
Listed on http://docs.aws.amazon.com/AmazonCloudFront/latest/APIReference/CreateDistribution.html and http://docs.aws.amazon.com/AmazonCloudFront/latest/APIReference/PutConfig.html

Relates to http://en.wikipedia.org/wiki/POODLE - CloudFront defaults to SSLv3 being enabled for Dedicated IP on existing buckets.

AWS Email sent to customers this week:

--------------------------

Dear Amazon CloudFr

[2014-10-31 13:15] #2864 closed, assigned to tokengeek

[2014-10-31 20:55] #1043 closed, assigned to nobody

[2014-10-31 20:55] #2769 closed, assigned to nobody

[2014-10-31 20:55] #2940 closed, assigned to nobody

[2014-10-31 20:56] #2635 closed, assigned to nobody

[2014-10-31 20:56] #2397 closed, assigned to nobody

[2014-11-03 15:46] #3116 closed, assigned to nobody

[2014-11-03 16:46] #1675 closed, assigned to nobody

[2014-11-04 08:49] siegfried opened #3238 "Aliyun support"
Is there a plan for Aliyun in China? Aliyun provides cloud compute and storage resources like AWS does. I can help on that.

[2014-11-05 16:29] obazoud opened #3239 "Undefined namespace prefix: //soapenv:Body/* (Nokogiri::XML::XPath::SyntaxError)"
I try to connect to vsphere 5.5 with fog:

[code]

I got the following stack trace at line "Fog::Compute.new..."

[code]

Any idea ?
Thanks

[2014-11-05 16:52] #3239 closed, assigned to nobody

[2014-11-05 18:01] quadriq opened #3240 "Vsphere: Specify datacenter by name"
Hi,
is it possible not lo load a datacenter form esx/vsphere but specify a specific datacenter by name?

Regards

[2014-11-05 20:14] IvanovOleg opened #3241 "Wrong attribute :description in Xenserver server.rb"
Hi! Foreman 1.6 software is trying to retrieve ':vm_description' attribute from /lib/fog/xenserver/models/compute/server.rb, but there is no such attribute so the error appears. Just change ':description' to 'vm_description' to fix it.

[2014-11-06 14:41] #3240 closed, assigned to nobody

[2014-11-06 21:25] #3241 closed, assigned to nobody

[2014-11-07 17:46] m4a1fox opened #3254 "LoadError: cannot load such file -- nokogiri/nokogiri"
Hi. I'm new in Ruby. Pls help me find out the solution for my problem. I've try setup the project, which use For gem, but got he error.

When I try run this command
$ rake tire:import:all:force

And got this error:
rake aborted!
LoadError: cannot load such file -- nokogiri/nokogiri
/Library/Ruby/Gems/2.0.0/gems/fog-1.3.1/lib/fog/core/parser.rb:1:in `require'
/Library/Ruby/Gems/2.0.0/gems/fog-1.3.1

[2014-11-07 18:50] #3254 closed, assigned to nobody

[2014-11-09 16:18] fcheung opened #3257 "Consider using bundler caching"
Should we be using http://docs.travis-ci.com/user/caching/ ?

Well over half the time for a travis build is currently spent running bundler

[2014-11-10 09:52] brettcave opened #3258 "AWS::ELB should allow modifying idle connection timeout attribute"
Given that AWS provides a mechanism to modify ELB attributes (http://docs.aws.amazon.com/ElasticLoadBalancing/latest/APIReference/API_ModifyLoadBalancerAttributes.html)

When I want to configure idle connection timeouts

Then Fog::AWS::ELB provides a mechanism for modifying an ELB after it has been created.

Note: connection draining and cross zone load balancing was implemented in pull #2885 . Th

[2014-11-10 12:01] omarqureshi opened #3260 "Accessing tags on Fog::Compute::RackspaceV2::Server"
Is there a way to read the tags attached to a Fog::Compute::RackspaceV2::Server ?

As far as I can tell there is no way

It would also be good to assign tags too.

[2014-11-10 16:09] #431 closed, assigned to nobody

[2014-11-11 17:17] #1277 closed, assigned to nobody

[2014-11-11 17:21] #1174 closed, assigned to nobody

[2014-11-11 17:22] #1286 closed, assigned to nobody

[2014-11-11 17:23] #1033 closed, assigned to nobody

[2014-11-11 17:30] #596 closed, assigned to nobody

[2014-11-11 20:00] #3258 closed, assigned to nobody

[2014-11-11 20:07] #3257 closed, assigned to nobody

[2014-11-11 20:16] #1422 closed, assigned to nobody

[2014-11-11 21:09] #1714 closed, assigned to nobody

[2014-11-11 21:28] #2002 closed, assigned to nobody

[2014-11-11 21:30] #1909 closed, assigned to nobody

[2014-11-11 21:46] #1534 closed, assigned to nobody

[2014-11-11 21:46] #1638 closed, assigned to nobody

[2014-11-11 21:47] #1668 closed, assigned to nobody

[2014-11-11 21:49] #1580 closed, assigned to nobody

[2014-11-11 21:49] #1704 closed, assigned to nobody

[2014-11-11 21:59] #1713 closed, assigned to nobody

[2014-11-11 22:11] #1666 closed, assigned to rubiojr

[2014-11-12 10:14] 10io opened #3263 "[AWS] S3 and public non signed urls"
This issue comes from this [post](https://groups.google.com/forum/#!topic/ruby-fog/mzVaOoQ3zCQ) on the mailing list.

In a nutshell: how to get the public (non signed) url of a public s3 object? (By public object, I mean created with the option `:public => true`).

Right now, there isn't a straightforward way to do that. You can either build the url using something like `"https://#{bucket_name}.s3

[2014-11-12 23:58] #1784 closed, assigned to nobody

[2014-11-13 10:55] #3168 closed, assigned to nobody

[2014-11-13 21:28] #1322 closed, assigned to nobody

[2014-11-14 12:25] #1745 closed, assigned to nobody

[2014-11-14 14:30] #2148 closed, assigned to nobody

[2014-11-14 14:51] #1848 closed, assigned to nobody

[2014-11-14 14:56] #1881 closed, assigned to nobody

[2014-11-14 15:05] #3205 closed, assigned to nobody

[2014-11-14 15:48] #1883 closed, assigned to nobody

[2014-11-14 15:50] #1733 closed, assigned to nobody

[2014-11-14 15:53] #1911 closed, assigned to nobody

[2014-11-14 15:56] #1941 closed, assigned to nobody

[2014-11-15 14:47] #3138 closed, assigned to nobody

[2014-11-16 14:59] dcampano opened #3271 "[AWS] Security Group reload is returning wrong group if same group name exists in EC2-Classic and VPC"
If you get a Security Group from a VPC by group_id and then call "reload", the reloaded group is the group from EC2-Classic if one exists with the same name.

[code]

[2014-11-17 20:19] #1952 closed, assigned to nobody

[2014-11-17 20:23] #1959 closed, assigned to nobody

[2014-11-17 20:37] #3271 closed, assigned to nobody

[2014-11-17 20:42] #2011 closed, assigned to nobody

[2014-11-17 20:54] #1973 closed, assigned to nobody

[2014-11-18 15:37] #3263 closed, assigned to nobody

[2014-11-18 15:53] #2045 closed, assigned to thekvn

[2014-11-18 20:02] johnnyshields opened #3275 "Fog broken for Amazon S3 in ap-northeast-1 region after 1.25.0 release."
Fog is broken for me after upgrading to the 1.25.0 release when uploading to Amazon S3 in ap-northeast-1 region. Rolling back to 1.23.0 fixes the issue. Here's the error:

[code]

[2014-11-19 03:29] kapso opened #3276 "Latest version 1.25.0 is giving errors"
...when writing to S3.

[code]

[2014-11-19 12:23] greysteil opened #3277 "Breaking change to AWS-S3 expiry dates in 1.25.0"
https://github.com/fog/fog/commit/b90b6040bcc6ea08c0d8a5cd242634994b593fa9 changes how expiry works to use X-Amz-Expires. It's a good change, but means that URLs need to be 7 days or fewer in the future (previously 1 year+ was fine).

Worth documenting in the changelog?

[2014-11-19 15:14] #3277 closed, assigned to nobody

[2014-11-19 18:17] aaronchi opened #3279 "Don't add all cloud modules as gem dependencies"
The fog gem currently forces you to load a bunch of extra cloud gems as dependencies when they likely won't be used. These should not be required dependencies so users have the choice to only load the ones they use into their application.

[2014-11-19 18:36] athirn opened #3280 "ready? not working for Cloudstack"
if you create a server or volume, you should be able to call ready? to see if the new object is ready to be used.  Right now the ready method just checks a member variable which means that it stays as 'false' even after the vm/volume are ready to use.  Instead the method should get the job Id and then use connection.jobs.get(job_id) to get the current status of the job from Cloudstack.

[2014-11-19 20:18] #3279 closed, assigned to nobody

[2014-11-20 01:47] alexreg opened #3281 "fog --version fails"
Error as follows:

[code]

This is the same error that prevents the `rumm` Rackspace utility from functioning, it would seem (see https://github.com/rackspace/rumm/issues/93).

[2014-11-20 14:25] jhellan opened #3283 "Can't find owner of S3 Object"
Sorry if this is a faq. I'm trying to find the owner of an S3 Object. The following gets owner = nil,
other variations give owner = { 'user_id' => nil, 'display_name' => nil }. I've verified that the ListBucketResult in the html response does include owner.

Am I doing it wrong?

Regards
Jon

Jon Kåre Hellan, UNINETT AS, Trondheim, Norway

[code]

[2014-11-20 14:46] #3281 closed, assigned to nobody

[2014-11-20 16:17] #3276 closed, assigned to nobody

[2014-11-20 16:40] #3283 closed, assigned to nobody

[2014-11-20 22:25] clsacramento opened #3285 "Libvirt VM creation: disk of file type regardless volume/pool type"
Due to libvirt /models /compute/templates/server.xml.erb, when creating a VM the disk attached is always of file type :
[code]

When the volume type is not file such as scsi or rbd, in my case, I get 'vol.path' file not found error from libvirt.

To get around it, replacing the code snippet to this (should be more generic?):
[code]

As far as I have tested, this works for file, block and network v

[2014-11-21 08:04] thomasalrin opened #3286 "knife_hp fog version error"
I'm using ubuntu14.04 LTS, ruby 2.1.5p273, gem-2.2.2, knife-hp-0.4.2 and fog-1.25.0. When i try to list my hp servers, it shows the following error

root@megamd:~# knife hp server list -VV
DL is deprecated, please use Fiddle
WARNING: No knife configuration file found
DEBUG: hp_auth_uri: https://region-a.geo-1.identity.hpcloudsvc.com:35357/v2.0/
DEBUG: hp_access_key: ACCESS_KEY
DEBUG: hp_secret_key

[2014-11-21 12:20] paos opened #3287 "Enabling logging on AWS:Storage throws error"
When using fog / lib / fog / aws / requests / storage / put_bucket_logging.rb for enabling logging on an s3 bucket, an error is thrown. The put_bucket_logging method references an undeclared variable called 'acl' in line 40:

@storage.put_bucket_logging( bucket_name, logging_status )

[code]

[2014-11-21 13:22] mtimofiiv opened #3288 "Fog 1.25.0 gets Excon warning"
Our Amazon EC3 uploading seems to have broken as of the 1.25.0 release. Ruby 2.1.4 and Rails 4.1.8. The only message that comes up is this stack trace and warning from Excon.

Version-locking to 1.24.0 fixed the issue.

[code]

Let me know if you need further details!

[2014-11-21 20:18] #2061 closed, assigned to nobody

[2014-11-21 20:20] plribeiro3000 opened #3289 "Change architecture attribute in AWS::Compute::Server model"
change `:architecture` from attr_accessor to attribute in `lib/fog/aws/models/compute/server.rb`

[2014-11-21 20:23] #2123 closed, assigned to nobody

[2014-11-21 20:33] #2233 closed, assigned to nobody

[2014-11-21 21:08] #3286 closed, assigned to nobody

[2014-11-21 21:11] #2327 closed, assigned to nobody

[2014-11-21 21:14] #2351 closed, assigned to nobody

[2014-11-21 21:32] #2368 closed, assigned to nobody

[2014-11-21 21:38] #2372 closed, assigned to nobody

[2014-11-21 21:42] #2418 closed, assigned to nobody

[2014-11-21 21:46] #2436 closed, assigned to nobody

[2014-11-21 21:49] #2357 closed, assigned to nobody

[2014-11-21 22:27] #2398 closed, assigned to nobody

[2014-11-22 00:57] #2661 closed, assigned to nobody

[2014-11-22 01:36] #2742 closed, assigned to nobody

[2014-11-22 12:14] #2687 closed, assigned to nobody

[2014-11-23 14:17] #2364 closed, assigned to nobody

[2014-11-23 22:06] #2740 closed, assigned to nobody

[2014-11-23 22:07] #2701 closed, assigned to nobody

[2014-11-23 22:15] #2686 closed, assigned to nobody

[2014-11-23 22:24] #3287 closed, assigned to nobody

[2014-11-23 22:25] #2469 closed, assigned to nobody

[2014-11-23 22:26] #2502 closed, assigned to nobody

[2014-11-24 10:30] #2695 closed, assigned to nobody

[2014-11-24 16:05] #2566 closed, assigned to nobody

[2014-11-24 16:07] #2168 closed, assigned to nobody

[2014-11-24 16:18] #2558 closed, assigned to nobody

[2014-11-24 16:23] #2682 closed, assigned to nobody

[2014-11-24 16:32] #2076 closed, assigned to nobody

[2014-11-24 16:34] #2548 closed, assigned to nobody

[2014-11-24 16:36] #2577 closed, assigned to nobody

[2014-11-24 16:37] #2595 closed, assigned to nobody

[2014-11-24 16:38] #2833 closed, assigned to nobody

[2014-11-24 16:39] #2851 closed, assigned to nobody

[2014-11-24 16:40] #2883 closed, assigned to nobody

[2014-11-24 16:41] #2960 closed, assigned to nobody

[2014-11-24 16:43] #3087 closed, assigned to nobody

[2014-11-24 16:44] #3260 closed, assigned to nobody

[2014-11-24 16:47] #2644 closed, assigned to nobody

[2014-11-24 20:18] #2888 closed, assigned to nobody

[2014-11-24 20:24] #2874 closed, assigned to nobody

[2014-11-24 20:45] #3184 closed, assigned to nobody

[2014-11-24 21:03] #2567 closed, assigned to nobody

[2014-11-24 21:16] #3073 closed, assigned to nobody

[2014-11-24 21:25] #3280 closed, assigned to nobody

[2014-11-24 22:44] #2759 closed, assigned to nobody

[2014-11-26 10:13] domcleal opened #3295 "Remove explicit opennebula runtime dependency"
#3255 has added the opennebula gem as a runtime dependency, but this seems unusual to me, as other provider-specific libraries aren't explicitly required.

The usual approach (e.g. rbovirt/oVirt) appears to be to add it as a development dependency if it's needed for tests, but then to allow the Fog user to add it to their deps if they need this provider.

(My motive is trying to cut down fog's dep

[2014-11-26 15:04] #3288 closed, assigned to nobody

[2014-11-26 15:09] #3295 closed, assigned to nobody

[2014-11-27 10:12] jhellan opened #3299 "Ceph radosgw, other systems that require AWS signature v2, broken by #3233"
Fog no longer supports AWS signature v2. Radosgw - the S3 compatible gateway for Ceph, does not understand signature v4. Pull #3233 made v4 mandatory.

See also the comments at the end of #3283. It looks like it would be a whiIe until I would be able to come up with a solution on my own, if at all! So I'm opening the issue.

[2014-11-27 17:31] gentle0219 opened #3300 "TypeError - no implicit conversion of nil into String:"
I'm using now
<h1>ruby '2.1.4' and rails 4.1.0</h1>

<h4>Hear are my gems</h4>

gem 'mongoid', git: 'https://github.com/mongoid/mongoid.git'
gem 'bson_ext'
gem 'carrierwave-mongoid', :require => 'carrierwave/mongoid'
gem 'fog'

<h5>This is carrierwave.rb file content</h5>

require 'carrierwave/mongoid'
CarrierWave.configure do |config|
  config.fog_credentials = {
    :provider                 =>

[2014-12-01 14:38] #3299 closed, assigned to nobody

[2014-12-01 15:07] mbasset opened #3305 "Large dependency tree with many un-used services/adapters"
I really like fog but lately is dependency tree has grow very large. When we add fog into our build we get a ton of additional gems for services and systems that we will never use. In turn we also get all of their dependencies. I wonder if it would be possible to simply split these adapters out of the main fog core out so that we could require only the fog-core and the gems of the services/adapter

[2014-12-01 15:34] #3305 closed, assigned to nobody

[2014-12-02 20:26] aliismayilov opened #3308 "Email providers"
Hello!

`fog` gem description states:

I'd like to see this gem supporting popular mail service providers. We could start with [Sengrid](https://sendgrid.com/) and [Mandrill](https://mandrill.com/).

I didn't find any discussion on this topic so I've created it. This is also a question to maintainers if this feature is welcomed, so that I can start doing it. It can be `fog-email` gem, later to be

[2014-12-04 20:16] #3308 closed, assigned to nobody

[2014-12-04 20:56] KenBackupify opened #3315 "Invalid XML Character in S3 Response"
I'm trying to get all the versions in a directory, but the code is encountering ```xmlParseCharRef: invalid xmlChar value 26 (Nokogiri::XML::SyntaxError)``` when I call the versions function on the directory. Looking at the raw XML, it looks like there is some invalid characters in the response...a couple keys have those diamond-with-question-marks characters in them, which I'm guessing is what No

[2014-12-05 16:48] #3015 closed, assigned to nobody

[2014-12-06 00:09] aetaric opened #3316 "Rackspace Provider forces reauth and new token generation"
It looks like the Rackspace provider forces users to get a new token everytime an object is instantiated and provides no means for passing a token that was generated prior.

[2014-12-07 21:40] joshwayne opened #3318 "The specified s3 bucket name contains a '.' so is not accessible over https as a virtual hosted bucket"
I'm using middleman-s3_sync (3.0.38) and fog (1.25.0).

I'm getting this warning repeated around 50 times anytime I try to sync to my s3 bucket:

`
[fog][WARNING] fog: the specified s3 bucket name(bucketname.com) contains a '.' so is not accessible over https as a virtual hosted bucket, which will negatively impact performance.  For details see: http://docs.amazonwebservices.com/AmazonS3/latest/de

[2014-12-08 19:55] germs12 opened #3319 "Google Cloud Storage [excon][WARNING] Invalid Excon request keys: :url"
When connecting to googles cloud I get the following warning:

[code]

I don't get this with Rackspace.  Any ideas?  I see it is a warning, but not an error.  Still odd.  Thanks!

[2014-12-09 00:14] germs12 opened #3320 "Google Cloud Storage File Listing Limit"
I am connecting to Google Cloud Storage where I have 20,000+ records, but when I connect to the bucket with Fog and list all files I only get 1000.  Is there a way to increase the number of files returned?  I was hoping to programmatically go through all of these and make modifications, but now I'm stuck.  Anyone?  Thanks and great work on this Gem. :smile:

[2014-12-09 00:18] #3318 closed, assigned to nobody

[2014-12-10 15:06] tokengeek opened #3330 "DigitalOcean Server does not respond to `private_networking`"
Changes introduced in https://github.com/fog/fog/pull/3304 broke all
DigitalOcean tests by referencing `Server#private_networking`

This was missed due to Travis being unavailable and other breakage.

To clear the build I have disabled the tests in https://github.com/fog/fog/commit/f08b2e02779ef8ff9e63e38c3b4913dad0fac45e

The original changes need fixing or reverting and the tests re-enabled.

/c

[2014-12-10 18:55] #3330 closed, assigned to nobody

[2014-12-10 22:02] #2310 closed, assigned to nobody

[2014-12-10 22:20] bdunne opened #3333 "[Openstack] Move to a separate gem"
Similar request to https://github.com/fog/fog/issues/2877 but for Openstack.

Benefits:
- Isolate Openstack changes from fog-core
- More easily follow SemVer (more stable API)
- More easily track Issues and PR's related to Openstack
- Smaller code base makes contribution easier

I saw the work [here in fog-openstack-core](https://github.com/fog/fog-openstack-core), but it doesn't appear to be very

[2014-12-11 11:31] jfindley opened #3336 "AWS create_health_check broken."
Attempts to create a health check in AWS always fail if using an IP address.  Even though a valid IP is supplied in the create_health_check() call, it's never included in the actual request.

This is due to a conflict between the IPAddress field name in the XML, and the IPAddress method of the ipaddress gem, which is included by other parts of fog.

[2014-12-11 22:59] #3336 closed, assigned to nobody

[2014-12-12 17:30] 0x414f opened #3339 "Accessing url with Google as a provider is slow"
So I'm having a problem where If I try to access say `image.url` it takes a little too long. For example calling `url` on 100 images takes around 28 seconds when using Google Storage but using S3 with the same function call takes around half a second.

This might be related to this [CarrierWave issue](https://github.com/carrierwaveuploader/carrierwave/issues/261). However, the problem they were ha

[2014-12-12 18:06] bdunne opened #3340 "v1.26.0 release"
@geemus Do you have an expected release date yet?

[2014-12-12 22:27] #3340 closed, assigned to nobody

[2014-12-14 10:49] eolamey opened #3342 "[libvirt] hugepages support"
Hi,

Would it be possible to optionally enable `hugepages` support for the libvirt driver? This could default to `false`, but having an option to enable it when creating the VM would be great.

When enabled, the `server.xml` template would have:

[code]

Enabling hugepages support on a Linux system requires a few steps, but I'm guessing documenting them would be outside of fog's scope.

Thank you.

[2014-12-14 10:58] eolamey opened #3343 "[libvirt] autostart support for servers"
Hi,

There is an `autostart` attribute in the server model for libvirt. However, I don't see where this attribute could be enabled when creating a VM. I don't know libvirt's API, but it seems there's a [separate method](https://libvirt.org/html/libvirt-libvirt-domain.html#virDomainSetAutostart) to call when enabling `autostart`.

Is it currently possible to enable `autostart` when creating a VM wi

[2014-12-16 16:53] #3319 closed, assigned to nobody

[2014-12-16 22:42] mdarby opened #3345 "Fog Registry"
Hello @tokengeek, @geemus, @plribeiro3000 !

What is the status of the fog provider registry implementation? Need help? Should I take a crack at it? `Fog::Rackspace` has some very long standing issues that need to be squashed and I need to significantly refactor our code.

I'd be happy to help on this front any way I can.

[2014-12-17 09:44] #3345 closed, assigned to nobody

[2014-12-17 11:08] tokengeek opened #3347 "Fog 2.0 preparation / Fog 1.x feature freeze"
So this is the line in the sand to start on Fog 2.0

/cc @geemus @krames @plribeiro3000 @mdarby

I need some help with the following:

* Deciding on what to feature freeze and what is still viable for fog 1.x
* Last release date for a fog 1.x release
* If we are going to do a "1.99" release where deprecation warnings are switched on to the max
* Flag any unsupported providers ready for removal
* C

[2014-12-18 11:03] #3068 closed, assigned to nobody

[2014-12-22 15:12] plribeiro3000 opened #3360 "Open Pull requests"
As we are moving to a modularized architecture i guess we will have to deal with the massive open prs.

I guess the best option is to merge the working ones and look towards improve the code once it got extracted. I'm just not sure what to do about the ones missing tests and feedback. Should we just close them?

cc/ @tokengeek @geemus

[2014-12-22 16:41] #3360 closed, assigned to nobody

[2014-12-26 10:45] THPubs opened #3367 "How to detect whether there's an error and do something?"
Im trying to catch the failed uploads and send a special notification to the admins. Here's how I tried to do it :

      def perform(photo_id)
        photo = Photo.find(photo_id)
        photo.file = File.open(photo.tempfile.file.file)
        user = photo.user

        if photo.save
          user.uploaded << photo.originalname
          user.save!
          photo.tempfile.remove!
          pho

[2014-12-29 12:32] bublik opened #3371 "duplicated key at line 80 ignored: "name""
fog-1.23.0/lib/fog/rackspace/mock_data.rb:42

Line 42
 "name" => "Ubuntu",
Line 80
 "name"     => image_name,

[2014-12-30 22:17] #3371 closed, assigned to nobody

[2014-12-31 23:30] rcrocker opened #3375 "AWS SQS AddPermission API missing"
Pretty straightforward: the AddPermission API from AWS SQS (http://docs.aws.amazon.com/AWSSimpleQueueService/latest/APIReference/API_AddPermission.html) is not available in Fog::AWS::SQS.

Is this intentional (i.e., there's some issue with it) or inadvertent? If the latter, please add.

(EDIT: RemovePermission is also missing... might as well add that one too)

[2015-01-02 14:16] perlun commented on #1883
I think the problem still persists, but as I changed to `aws-sdk-ruby`, it hasn't really bothered me. :smile:

[2015-01-02 20:10] shwoodard commented on #2357
I'm having this issue, but I don't have dots in my bucket name.  It is like, `foo-bar`.

[2015-01-02 20:55] shwoodard commented on #3300
I'm getting the same thing here,

[code]

data is nil.

What might cause this?

[2015-01-03 03:34] starbelly commented on #3075
I too have this issue, similar anyway. I can upload images, create directories, etc. However, if I try to list directories, it hangs ( way past the read/write_timeout(s) ). I tried to replicate this outside of fog with the aws-s3 gem, but could not. I've also tried manually listing buckets with excon outside of fog ( using the headers that fog generates ) and no problems there either. I did find i

[2015-01-03 18:45] tokengeek opened #3378 "JRuby builds currently ignored due to Travis issue."
Recent Travis failures are probably due to https://github.com/travis-ci/travis-ci/issues/3067

E.g. https://travis-ci.org/fog/fog/jobs/45708040

I set all the JRubies to be ignored failures in 44aa10f

I've tested some of the same changes locally on `jruby 1.7.16 (1.9.3p392)` and it passes with no problems with `curses`

Either the workaround mentioned needs to be implemented or when the platform

[2015-01-05 17:20] geemus commented on #3378
Thanks for tackling this.

[2015-01-05 21:26] geemus commented on #3300
Not sure. It seems to be when region gets set to nil, but I haven't been able to track down when that might come up.

[2015-01-05 21:27] geemus commented on #2357
@shwoodard could you open a new issue with the relevant details to your case? Thanks!

[2015-01-05 21:28] geemus commented on #1883
fair enough

[2015-01-05 21:29] geemus commented on #3375
It is (to the best of my knowledge) inadvertent. We usually add things as people need them, so perhaps nobody happened to need that yet. I'd certainly welcome a pull request with this addition, otherwise it might be a bit before somebody is able to tackle this. Just let me know if you have questions or anything I can help with. Thanks!

[2015-01-05 21:43] geemus commented on #3075
@starbelly have you tried adjusting the timeout lengths? Do you have a lot of directories? Are the directories you have mostly in one region or pretty spread out? ie I don't know exactly whats up, so whatever further info you can provide may help narrow it down. Thanks!

[2015-01-05 21:45] geemus commented on #3367
I believe the error there will be raised (rather than having save return false). So you may need to do something more like:

[code]

[2015-01-05 21:45] #3367 closed

[2015-01-05 23:15] starbelly commented on #3075
@geemus I tried changing timeout lengths, but doesn't have an effect. If I change the timeout lengths to 10 seconds it takes around 7 to 8 minutes for the script to throw an error about SSL ( SSL_connect SYSCALL returned=5 errno=0 state=SSLv2/v3 ). If I change it to 540 seconds, same thing, takes about 6 minutes to puke, but instead throws a connection reset by peer error. In regards to what is in

[2015-01-06 05:45] shwoodard commented on #2357
The issue was that I am using carrierwave and it does not support the
latest fog; I did not lock it down in my Gemfile.

On Mon Jan 05 2015 at 1:27:54 PM Wesley Beary <notifications@github.com>
wrote:

[2015-01-06 09:52] tokengeek commented on #3378
Thanks to @domcleal for keeping an eye on this.

Newer versions of gems are out and `trollop` is not causing the issue
on travis any more. The old builds have been rerun and fixed.

[2015-01-06 10:02] tokengeek commented on #3378
Resolved

[2015-01-06 10:02] #3378 closed

[2015-01-06 16:29] geemus commented on #3378
Thanks!

On Tue, Jan 6, 2015 at 4:02 AM, Paul Thornthwaite <notifications@github.com>
wrote:

[2015-01-06 18:50] geemus commented on #2357
Ah, perhaps we need to nudge carrierwave to update that then.

[2015-01-06 18:52] shwoodard commented on #2357
Agreed.

On Tue Jan 06 2015 at 10:50:06 AM Wesley Beary <notifications@github.com>
wrote:

[2015-01-06 21:01] geemus commented on #3075
Weird. If you run with `EXCON_DEBUG=true` in fog and directly in excon, any noticeable differences in the format or contents of the request? I'm wondering where the discrepancy is... (feel free to post both and I can try to look if that is easier). Thanks!

[2015-01-06 21:49] starbelly commented on #3075
Diff of the two requests :

[code]

 Note that I tried getting the same behavior by passing in `:idempotent => true` and so forth, but could not replicate.

[2015-01-06 21:53] geemus commented on #3075
I wouldn't expect those to matter particularly. Are the excon versions the same between the two attempts?

[2015-01-06 22:12] starbelly commented on #3075
Yes, 0.42.1

[2015-01-07 19:07] tdg5 opened #3381 "AWS S3 multipart uploads reported as having invalid signatures post-1.25.0"
Hello!

I suspect this is related to https://github.com/fog/fog/issues/3275, but figured it might be better to start a new issue. Similar to those affected by https://github.com/fog/fog/issues/3275, starting with v1.25.0 I get a 403 error like the following for all multipart s3 object uploads:
[code]

Single part uploads are fine. I've also verified it's not some kind of weird server issue using s

[2015-01-07 20:48] bousquet commented on #3381
+1, i had a similar issue with 403 responses from Amazon S3 all of a sudden (after bundle update).  Backing down fog down to ~> 1.24.0 fixed the issue.

[2015-01-07 20:50] xian opened #3382 "Compute's mock detach_volume fails"
`attach_volume` adds an entry to `self.data[:volumes][volume_id]`, but `detach_volume` attempts to find it via `self.data[:volumes][attachment_id]`. Instead, it should find the volume in `self.data[:volumes]` that has an attachment with the given `attachment_id`:

[code]

https://github.com/fog/fog/blob/master/lib/fog/openstack/requests/compute/detach_volume.rb#L17

[2015-01-07 21:10] starbelly commented on #3075
I tried using IO.select in place of Timeout.timeout and that works, though most of the unit tests for excon do not pass, but that's probably because I'm doing something thupid. There doesn't seem to be good resolution to this issue, you're damned if you do and damned if you don't. The best solution seems to be to set the timeout on the socket itself  via SO_RCVTIMEO and SO_SNDTIMEO, but doesn't se

[2015-01-08 14:15] dblia opened #3385 "[OpenStack] Store user metadata at file creation"
Currently, for the `Fog::OpenStack` provider it is not possible to store user metadata while uploading a file using the `create` method.

Consider the following scenario:
[code]
As it turns out, in order to set the metadata of a file you have to do the following actions:
[code]
Is this the indented behavior? It would be a nice feature to allow setting the metadata of a file at a single step using

[2015-01-08 15:35] geemus commented on #3382
Good catch, could you turn the change into a quick pull request for us? Thanks!

[2015-01-09 15:57] geemus commented on #3385
I don't think that is intended, but I think you might be able to get it to work with create via a slightly different invocation. In particular it looks like myattr might need to be nested, so you would have something like:

[code]

At least, that is in effect what you are doing with the #new related stuff above, so I suspect it might work here also. Let me know if it doesn't or you could use some

[2015-01-09 17:28] tka commented on #3300
I'm get the same problem.

there two line in my old config

      :region: 'ap-northeast-1'
      :endpoint: "https://s3-ap-northeast-1.amazonaws.com"

when i remove the endpoint setting,  problem solved

[2015-01-10 22:16] drnic opened #3387 "[aws][iam] InvalidClientTokenId => The security token included in the request is invalid"
Using fog/1.26.0 fog-core/1.27.2

[code]

[2015-01-11 20:45] fcheung commented on #3387
What type of credentials are they (e.g. are they federated credentials etc) ?

[2015-01-11 21:12] fcheung commented on #3381
This will have been down to the switch to AWS signature v4 (required to use newer aws regions). I have opened a pull request to fix this on master, you can also use my [branch](https://github.com/fcheung/fog/tree/1.26-sig-fix) which is just 1.26 with this one fix.

Forcing signature v2 (pass `:aws_signature_version => 2` to Fog::Storage.new) should also work as long as you're not using a region th

[2015-01-12 14:21] dblia commented on #3385
This should be the effect of the above example, but it doesn't. The reason behind this behavior might be that the `metadata` variable is not computed directly from the fog `attributes` but using a separate method, that is the `headers_to_metadata`. This method subsequently calls the  `metadata_attributes`, which always sets the `metadata` to `{}` if the `last_modified` option is not  set, resultin

[2015-01-12 15:15] i11 opened #3389 "Release any time soon?"
Hi there!

Do you plan to release any time soon? It would be great to get the hands on those merged fixes.

Thanks.

[2015-01-12 15:59] geemus commented on #3300
I believe this should be the same as fog/fog-aws#2, so redirecting to there for further discussion. Will hopefully merge/release with that soon.

[2015-01-12 15:59] #3300 closed

[2015-01-12 16:01] geemus commented on #3275
I think I finally nailed down a fix (fog/fog-aws#2). Will try to merge/release soon, but for now I'm redirecting any further comments/questions there. Thanks!

[2015-01-12 16:01] #3275 closed

[2015-01-12 16:02] geemus commented on #3381
Thanks @fcheung.

[2015-01-12 16:02] #3381 closed

[2015-01-12 16:15] geemus commented on #3385
I think that ^ might help, could you check it out? Thanks!

[2015-01-12 16:16] geemus commented on #3389
Hey, thanks for the prod. Yes. I have a couple things to land still, but probably some time in the next 2-3 days anyway.

[2015-01-12 16:24] dblia commented on #3385
I've applied the patch and the metadata are stored correctly using the nested structure you proposed. Thanks!

[2015-01-12 16:27] geemus commented on #3385
@dblia thanks for getting to that so quickly. I'll merge that in so it can go out with the next release (hoping that will be in the next 2-3 days).

[2015-01-12 16:27] #3385 closed

[2015-01-12 16:30] dblia commented on #3385
That's great! Thank you for the immediate response!

[2015-01-12 16:49] geemus commented on #3389
released v1.27.0

[2015-01-12 16:49] #3389 closed

[2015-01-12 16:56] tsdbrown commented on #3381
Hey, just wondering whether this is in getting merged soon? I couldn't see it 1.27 a min ago, unless I missed it! Just hit this problem today. Can use @fcheung's branch in the meantime. Thanks all.

[2015-01-12 16:57] geemus commented on #3381
I'm not sure there was a pull yet, maybe we missed this.

@fcheung do we still need to get this on master?

I can just do a quick patch releases once we have this if needed.

[2015-01-12 17:02] fcheung commented on #3381
No pull here because on master the aws stuff is in the fog-aws gem (and this was merged into fog-aws yesterday)

[2015-01-12 17:04] geemus commented on #3381
Ah ha. We should be good then (I did a new release of fog-aws prior to the fog release). @fcheung thanks for the clarification.

[2015-01-12 17:05] tsdbrown commented on #3381
:+1: Aha  – thank you.

[2015-01-12 17:25] icco commented on #2877
Ok, I've got a coworker who wants this split to happen for the GOOG. @geemus, could you create a fog-google repo?

[2015-01-12 17:27] plribeiro3000 commented on #2877
@icco :heart: :clap:

[2015-01-12 21:58] i11 commented on #3389
Cool! Thanks!

[2015-01-12 22:07] i11 commented on #3389
Hm.. still shows as 1.26.0 in rubygems.

[2015-01-12 22:23] geemus commented on #3389
Oops, I had finished it locally but part of the script failed before
everything was out. Should be there now.

On Mon, Jan 12, 2015 at 4:07 PM, Ilja Bobkevic <notifications@github.com>
wrote:

[2015-01-12 22:25] i11 commented on #3389
Yeah, it's there now. Thank you!

[2015-01-13 06:17] diasks2 opened #3391 "Release 1.27.0 - warning: duplicated key at line 196 ignored: :openstack_region"
After installing 1.27.0 I get this warning when I open a console:

[code]

[2015-01-13 06:48] kyletolle commented on #3391
I opened a PR in the hopes of addressing this issue: https://github.com/fog/fog/pull/3392

[2015-01-13 15:04] geemus commented on #2877
Created. It has an admin-priv group called fog-google that you are a member of also (and can add the coworker if you think that makes sense). When it is further along I'll just ask for gem privileges as well. Otherwise, we've been through it a few times now, so just let us know if you have any questions or concerns along the way. Thanks!

[2015-01-13 15:04] #2877 closed

[2015-01-13 15:07] geemus commented on #3391
Yep, I believe #3392 should have this fixed (though doesn't feel quite worthy of a release since we just released yesterday). Thanks!

[2015-01-13 15:07] #3391 closed

[2015-01-13 15:18] geemus commented on #3075
@starbelly yeah, I've had a lot of issues around sockets/ssl and varying support across ruby versions. I tried to settle in toward a "usually works in most places" kind of approach, though I know it is less than ideal in an increasing number of edges. I guess we could do stuff to do it depending on version, but that gets to be a maintenance mess pretty quick. I don't know beyond that, any further

[2015-01-13 19:43] starbelly commented on #3075
You are right with your approach. I mean, only two people have even talked about the issue on here ( AFAIK ). The way I see it, this isn't an excon or fog problem, this is a ruby problem, that's what makes me sad. I definitely wouldn't be in favor of adding different ops and conditions depending on the OS, etc. You said it right, that would become a maintenance nightmare.  The only ideas I have ar

[2015-01-13 19:55] geemus commented on #3075
@starbelly yeah, select is used in non-blocking in some cases, but didn't seem to always do the right thing across versions. So some of the timeouts are an extra layer in cases the selects don't play nice. Also, the selects can be tricky because SLOW responses that trickle in won't timeout even though sometimes that might be the behavior you would want. Anyway, hard problem that I'v struggled to i

[2015-01-13 19:59] starbelly commented on #3075
Well, with that said and since I've already played around with IO.select a few times and learned about the trade-offs that come with that, I'll jump right into playing with C.

[2015-01-13 20:19] geemus commented on #3075
oof...

[2015-01-13 22:33] icco commented on #2877
Cool, thanks!

[2015-01-14 01:19] petems commented on #2528
I ran into this today, is there an example of what it's supposed to look like?

I dont get how you can bootstrap a given server...

[2015-01-14 15:51] sheldonh commented on #978
By the way, this one reason why the AWS IAM documentation recommends key rotation even when the key id is exposed.

[2015-01-14 16:02] default50 opened #3395 "(RDoc::Error) unknown type of %string "i""
Hi,

on a freshly installed Ubuntu 14.04.01, fully upgraded, after trying to install fog-1.27.0 I got the following error:

Thanks!

[2015-01-14 16:18] plribeiro3000 commented on #3395
@default50 #3396 should fix it.

[2015-01-14 16:19] geemus commented on #2528
@petems not sure I understand your question. The rough idea had been that bootstrap would provision the server and then do what was needed to get ssh setup with a particular username/password. It was seen as roughly a bare minimum needed to do interesting things and simplifying that step seemed like a nice touch. Does that make sense/help?

[2015-01-14 16:21] #3395 closed

[2015-01-14 16:31] petems commented on #2528
Yeah, basically I didn't understand how bootstrap worked, I now get that it's how you create a server *and* bootstrap it at the same time, whereas I thought it was used to bootstrap a server that already existed:

[code]

I might do a PR to add some docs to the DO stuff to help out the next person who gets as stumped as I do. And possibly to fix this issue also by adding sensible defaults :smile:

[2015-01-14 16:43] davehatton opened #3398 "undefined method `redisplay_progressbar' for Fog::Formatador:Class"
After upgrading from 1.25 to 1.27 the following error

undefined method `redisplay_progressbar' for Fog::Formatador:Class

is generated by fog-1.27.0/lib/fog/vcloud_director/models/compute/task.rb

The problem occurs when calling fog from the vcloud-tools gem when creating a new VM in a vcloud_director/Skyscape environment.

Downgrading to 1.25 resolves the issue.

[2015-01-14 16:45] plribeiro3000 commented on #3398
Closed in favor of fog/fog-core#121

[2015-01-14 16:45] #3398 closed

[2015-01-14 16:46] plribeiro3000 commented on #3398
Please follow that one instead.

[2015-01-14 17:19] default50 commented on #3395
Thanks @plribeiro3000 and @geemus, you rock!

[2015-01-14 18:06] petems opened #3399 "[digitalocean|compute] DO doesnt like two keys with the same value"
If you try to add a new public key with the same value as one already in the system, then DigitalOcean throws a 500 error message with no details.

I think this is fixed in v2, but in any-case it'd be good to highlight this when trying to make an ssh key

[2015-01-14 19:56] geemus commented on #2528
@petems yep, sounds good, thanks!

[2015-01-14 19:57] geemus commented on #3399
cool, thanks

[2015-01-15 11:18] andrew-github opened #3401 "Duplicated key in hash [lib/fog/openstack/volume.rb]"
Ruby 2.2.0 says after rails s command: /Users/{user}/.rvm/gems/ruby-2.2.0/gems/fog-1.27.0/lib/fog/openstack/volume.rb:191: warning: duplicated key at line 196 ignored: :openstack_region

[2015-01-15 12:44] bechampion opened #3402 "vsphere set_mv_customvalue(id,'date','1')"
Hey guys any one experiencing problems when setting custom attributes on vsphere , here's my call and the error:

[code]

I see on the vcenter log that the call gets forwarded to vcenter but a message with the same error "Aspecified parameter was not correct. key" .
I've tried with different keys , with virtualmachines on and off ,  and when i create the custom parameter manually through vcenter e

[2015-01-15 15:28] plribeiro3000 commented on #3401
@andrew-github This was already solved at b8981c1d90d2954aca29fbebd30c789cfb83f08e.

Since it is just a warning i think we can let it until we cut a new release.

Thank you for reporting!

[2015-01-15 15:28] #3401 closed

[2015-01-15 17:36] geemus commented on #3402
@nirvdrum could you take a look? thanks!

[2015-01-15 18:15] gshively11 commented on #2160
We're blocked by this issue.  chef-client blows up with an Excon::Errors:Forbidden error, due to this line: https://github.com/fog/fog/blob/639c5e348a5ea8757c8ea1cae1af151d063130c7/lib/fog/openstack/models/compute/server.rb#L147
Explicitly telling fog to use the private ip for ssh still attempts to grab the list of floating ips, which is not supported in our installation of OpenStack.  Any suggest

[2015-01-15 18:55] krames commented on #2160
@gshively11 As you probably know there are different strategies for allocating ip address in OpenStack and at the time this issue first occurred there was not a good way to programmatically retrieve an accessible ip address. I believe OpenStack was aware of this issue and was trying to address it, however, I haven't kept up with it.

TLDR; I do not think fog/chef is going to work out of the box fo

[2015-01-15 20:05] plribeiro3000 commented on #1737
closed in favor of fog/fog-aws#6

[2015-01-15 20:05] #1737 closed

[2015-01-15 20:06] plribeiro3000 commented on #1965
Closing due inactivity.

[2015-01-15 20:06] #1965 closed

[2015-01-15 20:08] plribeiro3000 commented on #1187
closed in favor of fog/fog-aws#7

[2015-01-15 20:08] #1187 closed

[2015-01-15 20:10] plribeiro3000 commented on #3315
closed in favor of fog/fog-aws#8

[2015-01-15 20:10] #3315 closed

[2015-01-15 20:11] plribeiro3000 commented on #3075
closed in favor of fog/fog-aws#9

[2015-01-15 20:11] #3075 closed

[2015-01-15 20:15] plribeiro3000 commented on #3165
Closed in favor of fog/fog-aws#10

[2015-01-15 20:15] #3165 closed

[2015-01-15 20:22] plribeiro3000 commented on #2850
Closing due inactivity.

[2015-01-15 20:22] #2850 closed

[2015-01-15 20:23] plribeiro3000 commented on #2019
Closing in favor of fog/fog-aws#11

[2015-01-15 20:23] #2019 closed

[2015-01-15 20:29] plribeiro3000 commented on #1521
Closed in favor of fog/fog-aws#12

[2015-01-15 20:29] #1521 closed

[2015-01-15 20:31] plribeiro3000 commented on #2928
Closing due inactivity. Please create a new issue at [fog-aws](https://github.com/fog/fog-aws) if this stills need to be tackled.

Thanks!

[2015-01-15 20:31] #2928 closed

[2015-01-15 20:32] plribeiro3000 commented on #3019
Closing due inactivity.

Please open a new issue at [fog-aws](https://github.com/fog/fog-aws) if this still need a fix.

Thanks!

[2015-01-15 20:32] #3019 closed

[2015-01-15 20:33] plribeiro3000 commented on #1746
closed in favor of fog/fog-aws#13

[2015-01-15 20:33] #1746 closed

[2015-01-15 20:35] plribeiro3000 commented on #2875
Closed in favor of fog/fog-aws#14

[2015-01-15 20:35] #2875 closed

[2015-01-15 20:38] plribeiro3000 commented on #3200
Closing due inactivity.

@brandocorp Please create a new issue at [fog-aws](https://github.com/fog/fog-aws) if you still need this fix or intend to work on it.

[2015-01-15 20:38] #3200 closed

[2015-01-15 20:39] plribeiro3000 commented on #3224
Closing due lack of feedback.

Please create a new issue at [fog-aws](https://github.com/fog/fog-aws) if some action is needed.

[2015-01-15 20:39] #3224 closed

[2015-01-15 20:40] plribeiro3000 commented on #2906
Closing due inactivity.

Please create a new issue at [fog-aws](https://github.com/fog/fog-aws) if this needs to be fixed somehow.

[2015-01-15 20:40] #2906 closed

[2015-01-15 20:47] plribeiro3000 commented on #1118
Closing due inactivity.

Please create a new issue at [fog-aws](https://github.com/fog/fog-aws) if this needs to be fixed somehow.

[2015-01-15 20:47] #1118 closed

[2015-01-15 20:50] plribeiro3000 commented on #1503
Closed in favor of fog/fog-aws#15

[2015-01-15 20:50] #1503 closed

[2015-01-15 20:52] plribeiro3000 commented on #2932
Closed in favor of fog/fog-aws#16

[2015-01-15 20:52] #2932 closed

[2015-01-15 20:54] plribeiro3000 commented on #2785
Closing due inactivity.

Please create a issue at [fog-aws](https://github.com/fog/fog-aws) if this issue still needs a fix.

[2015-01-15 20:54] #2785 closed

[2015-01-15 20:54] plribeiro3000 commented on #3115
Closed in favor of fog/fog-aws#17

[2015-01-15 20:54] #3115 closed

[2015-01-15 20:56] plribeiro3000 commented on #3021
Closed in favor of fog/fog-aws#18

[2015-01-15 20:56] #3021 closed

[2015-01-15 20:58] plribeiro3000 commented on #3086
Closed in favor of fog/fog-aws#19

[2015-01-15 20:58] #3086 closed

[2015-01-15 21:00] plribeiro3000 commented on #3289
Closed in faovr of fog/fog-aws#20

[2015-01-15 21:00] #3289 closed

[2015-01-15 21:01] plribeiro3000 commented on #3387
Closed in favor of fog/fog-aws#21

[2015-01-15 21:01] #3387 closed

[2015-01-15 21:02] plribeiro3000 commented on #1839
Closing due inactivity.

Please create a issue at [fog-aws](https://github.com/fog/fog-aws) if this still needs a fix.

Thanks!

[2015-01-15 21:02] #1839 closed

[2015-01-15 21:03] plribeiro3000 commented on #2656
Closed in favor of fog/fog-aws#22

[2015-01-15 21:03] #2656 closed

[2015-01-15 21:05] plribeiro3000 commented on #1825
Closed in favor of fog/fog-aws#23

[2015-01-15 21:05] #1825 closed

[2015-01-15 21:06] plribeiro3000 commented on #2287
Closed in favor of fog/fog#24

[2015-01-15 21:06] #2287 closed

[2015-01-15 21:07] plribeiro3000 commented on #3214
Closed in favor of: fog/fog-aws#25

[2015-01-15 21:07] #3214 closed

[2015-01-15 21:08] plribeiro3000 commented on #3375
Closed in favor of fog/fog-aws#26

[2015-01-15 21:08] #3375 closed

[2015-01-15 22:11] geemus commented on #1965
Thanks!

On Thu, Jan 15, 2015 at 2:06 PM, Paulo Henrique Lopes Ribeiro <
notifications@github.com> wrote:

[2015-01-15 23:11] geemus commented on #2850
Thanks!

On Thu, Jan 15, 2015 at 2:22 PM, Paulo Henrique Lopes Ribeiro <
notifications@github.com> wrote:

[2015-01-16 18:26] marclennox commented on #3381
Was this issue fixed in 1.27?  I've been having a similar issue that started at 1.25 and is not fixed by 1.27...  only worked with 1.24.  The response I get back from AWS is as follows:

[code]

[2015-01-16 21:26] fcheung commented on #3381
If the problem is a failed signature then the body of the response should contain a SignatureDoesNotMatch message, which I don't see in the response you've posted

[2015-01-16 21:26] fcheung commented on #3381
Make sure you're running latest version of fog-aws too

[2015-01-16 22:48] marclennox commented on #3381
We are running the latest.  Something in fog 1.25 and beyond has definitely broken paperclip gem uploads to s3 for us.  Is there a way to get detailed error logs?

—
Sent from Mailbox

On Fri, Jan 16, 2015 at 4:26 PM, Frederick Cheung
<notifications@github.com> wrote:

[2015-01-17 08:09] fcheung commented on #3381
If the DEBUG_RESPONSE environment variable is set and Fog::Logger has a log level of debug then you should get the raw response logged

[2015-01-17 15:26] mdarby opened #3404 "Breaking change on initialize?"
This worked before the 1.27 release. Must we now manually pass in auth info if it's in a ~/.fog file?

[code]

[2015-01-17 16:08] mdarby commented on #3404
Even with credentials passed in...
![1 bundle exec rails c ruby 2015-01-17 11-04-46](https://cloud.githubusercontent.com/assets/2805/5789446/146af08c-9e39-11e4-8d1b-5732325069c2.jpg)

[2015-01-17 16:37] mdarby commented on #3404
Seems that this was was introduced in https://github.com/fog/fog-core/commit/55e82a37f43ea012ae9c5a1e088edb8a27484c38#diff-0cb327cd048d944b77e791db03dec94c

[2015-01-17 16:38] mdarby commented on #3404
@starbelly any insight on this?

[2015-01-17 20:05] mrjcleaver opened #3405 "Why is OpenVZ not listed as a Provider?"
Is there a reason OpenVZ is not listed on http://fog.io/about/provider_documentation.html ? Thx, Martin.

https://github.com/fog/fog/pull/1842

[2015-01-17 20:42] starbelly commented on #3404
Are you sure what you're running is at `55e82a3`?.  It's croaking on a constructor call but in that revision  Fog::Formatador is a module, not a class. Please double check that and try this with HEAD as well, some other bugs related to Fog::Formatador have been fixed in the last day or so as well that you will no doubt run into.

[2015-01-17 22:48] mdarby commented on #3404
I'm just running the latest gem, as are my users.

Sent from my iPhone

[2015-01-17 22:51] plribeiro3000 commented on #3404
@mdarby I think the changes @starbelly suggested are not on the latest gem but on the master instead.
Could you try it out?

[2015-01-17 22:53] plribeiro3000 commented on #3404
Possible a duplicate of fog/fog-core#123 fog/fog-core#124 fog/fog-core#121 fog/fog-core#119.

[2015-01-18 18:56] mdarby commented on #3404
Yep, this is a dup. I'll close.

[2015-01-18 18:56] #3404 closed

[2015-01-18 21:39] deepj commented on #3347
I'd appreciate if fog would have always optional provider dependencies. I think it'd be nice a thing being in fog 2.x

Now in my applications I have a lot of unneeded providers which are taking a lot of RAM for an application.

[2015-01-19 03:45] donnykurnia opened #3406 "Errors backup gitlab to aws using specific region (in my case, singapore)"
Version affected: fog 1.21.0 and fog 1.27.0

The stacktrace is here:
https://github.com/gitlabhq/gitlabhq/issues/8402#issuecomment-70442934
https://github.com/gitlabhq/gitlabhq/issues/8402#issuecomment-70443066

From the error, I guess it's because fog try to use default endpoint. Should the configuration also specify endpoint? Why not determine the endpoint automatically based on the region using

[2015-01-19 09:18] fcheung commented on #3406
The endpoint to use is a property of the bucket - the error message you post seems to be saying that you should be using the us-east-1 endpoint.

[2015-01-19 09:29] tokengeek commented on #3347
@deepj - Problem with aiming for that in 2.0 is that a large number of providers still have to be extracted and don't have maintenance volunteers. So the fog gem still has a large number of providers included.

To streamline you can reference `fog-provider` separately if it has been extracted. That should work for most cases unless you have inadvertently used features meant for the `fog` CLI comma

[2015-01-19 09:32] tokengeek commented on #3405
There wasn't a PR adding it to the documentation site yet... https://github.com/fog/fog.github.com

Please feel free to add it as a PR.

[2015-01-19 10:58] donnykurnia commented on #3406
@fcheung is this means that the endpoint should be set explicitly when initialize carrierwave?

Gitlab use fog with this initializer:
https://github.com/gitlabhq/gitlabhq/blob/7-7-stable/config/initializers/carrierwave.rb

[2015-01-19 11:02] nulian opened #3407 "duplicate key :openstack_region"
With ruby 2.2 I get the following warning

fog-1.27.0/lib/fog/openstack/volume.rb:191: warning: duplicated key at line 196 ignored: :openstack_region

Which is correct openstack region is assigned twice.

[2015-01-19 11:12] fcheung commented on #3406
just setting the region should be enough, but that error message is (to me) saying that the bucket was created in the us-east-1 region. In at least some circumstances fog will auto connect to the correct region, but I'm not very familiar with that. Any ideas @geemus ?

[2015-01-19 11:17] plribeiro3000 commented on #3407
Hey @nulian . Thank you for opening an issue.

This is a duplicate of #3401 which was already solved.

[2015-01-19 11:17] #3407 closed

[2015-01-19 12:23] donnykurnia commented on #3406
I found the solution. In aws console I see this message in the navigation bar: "S3 does not require region selection."
So, I remove region from the config file and now the upload work fine.

Setting the region other than default will cause the problems. So, you might need to update the document  to let the user know that Amazon expect the region to be default one.

[2015-01-19 12:23] #3406 closed

[2015-01-19 13:24] plribeiro3000 commented on #1487
WIP in #3408. Please take a look at. I will close this issue so we can continue to work from there.

[2015-01-19 13:24] #1487 closed

[2015-01-19 14:23] geemus commented on #1487
Thanks!

On Mon, Jan 19, 2015 at 7:24 AM, Paulo Henrique Lopes Ribeiro <
notifications@github.com> wrote:

[2015-01-19 14:24] geemus commented on #3405
Yeah, quite likely it was simple oversight. Definitely would welcome the fix/addition. Thanks!

[2015-01-19 14:24] #3405 closed

[2015-01-19 14:33] geemus commented on #3381
I think it may be something with v4 signatures, but haven't gotten much closer than that yet.

[2015-01-19 14:36] geemus commented on #3406
Ah. I think it depends. If you know the region, it is best to specify it, but if you do not know the region you can ask for the default (and it will redirect/tell you where it might actually be).

[2015-01-19 15:32] mrjcleaver commented on #1328
Per https://github.com/fog/fog/issues/3405 - OpenVZ is supported in fog.io, it just wasn't documented. (https://github.com/fog/fog.github.com/issues/32)

Proxmox provides an OpenVZ environment. A lot of fog.io access will suffice through the OpenVZ API.

[2015-01-19 18:44] Karunamon commented on #2351
I'm unsure if this is helpful or not, but I ran into a bug identical to this one, and it was because there was somehow a 'junk' VM in the datacenter that didn't have a lot of its required options set. (For instance, it had a nil hostname, ipaddress, and guest_id).

It didn't show in the web UI or the VIM client, so I killed it off with rbvmomi, and all is well :)

[2015-01-20 09:26] dhague commented on #3084
Within my team at SAP we are working on an implementation of identity v3 for Fog. Additionally, we have monkey-patched some existing Fog::*::OpenStack classes to support v3 authentication (these could be patched back into the main Fog code, of course). Would it be useful for us to contribute these enhancements back to Fog?

[2015-01-20 11:44] plribeiro3000 commented on #3084
@dhague Pull requests are always welcome!

[2015-01-20 22:29] nicholasklick commented on #3300
@shwoodard
Are you setting the `endpoint` attribute at all in your options?
That will currently set `region` to nil.

https://github.com/fog/fog-aws/pull/33

[2015-01-20 22:43] nicholasklick commented on #3300
@geemus can get your thoughts on https://github.com/fog/fog-aws/pull/33 ?

[2015-01-21 01:29] yoshdog opened #3409 "Ruby 2.2 warning: duplicated key"
Keep getting this warning in ruby 2.2

[code]

[2015-01-21 02:10] yoshdog commented on #3409
looks like it was fixed in this [commit](https://github.com/fog/fog/commit/b8981c1d90d2954aca29fbebd30c789cfb83f08e), however the warning still happens with version 1.27

[2015-01-21 15:41] mdarby commented on #3316
This can be closed @geemus

[2015-01-21 16:46] shwoodard commented on #3300
I am currently sending endpoint and region and it is working.  However, if
endpoint sets region to nil, this might be ok, since we are in us-east-1,
which is the default, I believe.

On Tue Jan 20 2015 at 2:29:07 PM Nicholas Klick <notifications@github.com>
wrote:

[2015-01-21 17:23] nicholasklick commented on #3300
@shwoodard Yeah, setting `endpoint` currently ignores `options[:region]` completely. So `@region` is left nil. Would love to know why that control logic it setup up like that.

[code]

[2015-01-21 19:19] nofxx commented on #3409
Yup, waiting for next release.

[2015-01-22 09:15] #3409 closed

[2015-01-22 15:24] erjohnso opened #3413 "[google] Add support for JSON key format"
Google introduced a new Service Account key format (JSON) and over time this will likely become the preferred format.  We should begin by supporting this new format soon. If Google does make this the default, we may want to follow-up and issue a (debug | info) warning to users relying on P12 format.

AFAIK, there is no clear documentation on this format. However, if you open up the Developers Cons

[2015-01-22 17:12] erated commented on #3300
@gching downgrading from 1.2.7 to 1.2.4 solved it for me as well. Thanks - found this only after a couple hours in....

[2015-01-24 13:55] tdg5 commented on #3381
In case it needed further verification, I can confirm that this issue is resolved for me running fog 1.27.0, fog-core 1.27.3, and fog-aws 0.0.7.

Thanks for taking care of this so quickly!

[2015-01-24 20:47] tdg5 opened #3416 "AWS S3 requests to objects with '//' in path results in 403"
I haven't had a chance to research this appropriately, but I'm consistently seeing requests to S3 that include '//' in the path fail with a 403 error.

This maybe part of the reason some folks are still seeing issues related to #3381. I imagine that similar to #3381, this probably affects 1.25.0+. I can confirm that it worked for 1.23.0, but otherwise I've only tested 1.27.0 running fog-core 1.27.

[2015-01-25 07:19] frodenas commented on #3413
@erjohnso I took a look into this today and it's seems an easy fix, but I'm concerned about the the repo split.

@icco is this something you're working on? I can submit a PR to support the new JSON format, but wonder if it's better to support it on the actual fog/fog or just wait to the new [fog/google](https://github.com/fog/fog-google) repo? Thoughts?

[2015-01-25 12:59] fcheung commented on #3416
Probably an issue with how the request is being canonicalised in the signature_v4 code in fog-aws. There are test cases for // at the end of the path but not the start.

[2015-01-25 16:31] icco commented on #3413
I'm not actively working on it, and everything will make it over to the new repo. Just put everything in here and we'll work on keeping things in sync once https://github.com/fog/fog-google isn't an empty repo :p

[2015-01-26 00:09] geemus commented on #3413
Yeah, the cut-overs have usually been pretty quick once they were underway, so probably not too much threat of drift between the two places just yet.

[2015-01-26 00:09] geemus commented on #3381
@tdg5 awesome, glad to hear it.

[2015-01-26 00:17] geemus commented on #2351
@Karunamon ah, I could see how that would be problematic. Thanks for sharing your fix!

[2015-01-26 00:22] geemus commented on #3316
Will do, thanks!

[2015-01-26 00:22] #3316 closed

[2015-01-26 00:28] geemus commented on #3300
Sorry for ongoing difficulties here. I just merged that if people would like to try against master, I'll probably try for a release tomorrow.

[2015-01-26 00:29] nirvdrum commented on #2351
@Karunamon I don't suppose you could think of a way that we could maybe validate instance correctness based on your experience, could you?  If so, that'd allow us to provide better error messaging in those sorts of cases.

[2015-01-27 02:03] geemus commented on #3416
Yeah, it seems like a bad idea, even if technically valid, as you point out. That said, I wouldn't be opposed to fixing up the canonicalization (or whichever part of the signing might be off). A pull would be great, definitely just let us know if you have questions.

[2015-01-27 02:33] geemus commented on #3084
Agreed, just let us know if you have questions or there is anything we can help with. Thanks!

[2015-01-27 07:54] dhague commented on #3084
Great - thanks, guys. I will let you know as soon as we have something ready, hopefully in the next few weeks.

[2015-01-27 22:27] rkatti commented on #2372
Can I create a VM with multiple nics by passing in array instead of string ?

[2015-01-27 23:45] nirvdrum commented on #2372
When you clone a VM, the clone will have the same number of NICs as the template.  Please see earlier comments in this thread about how to adjust the NIC configuration after you've cloned.

[2015-01-28 18:16] Nik736 commented on #3275
Error is still there for me. The problem is only there if I use Frankfurt (eu-central-1), tried the default location as well and with that it works perfectly fine.

s3cmd has the same problem, I think Amazon changed some things and now new locations are broken.

[2015-01-28 22:51] ebbnormal opened #3418 "Where do I put directory initializers in my Rails project?"
Hello. After reading the README, I am confused about where I should put the following code in my RoR project.

    require 'rubygems'
    require 'fog'

    # create a connection
     connection = Fog::Storage.new({
     :provider                 => 'AWS',
     :aws_access_key_id        => YOUR_AWS_ACCESS_KEY_ID,
     :aws_secret_access_key    => YOUR_AWS_SECRET_ACCESS_KEY
    })

    # First, a p

[2015-01-29 10:40] joost commented on #3318
I had a similar problem (with v1.27.0). I also had to remove the :region option for the buckets to be found.

[2015-01-29 15:17] geemus commented on #3418
Hey, not a problem, getting started tends to be the hardest part.

The answer is, it depends. I'd actually venture to say it would be best to put this in your environment based initializers, ie config/init/development or config/init/production, etc. Relatedly, you probably will not want to generate a new directory every time you start your app (there is an account level limit of 100 total I believ

[2015-01-29 15:17] #3418 closed

[2015-01-29 15:21] geemus commented on #3418
P.S. This issue didn't mention asset_sync, but the stack overflow question did (so there is a bit more asset_sync specific detail over there, fwiw).

[2015-01-29 15:24] nickvanw opened #3419 "[DigitalOcean] Use the v2 API"
Opening this issue to track any progress toward using the DigitalOcean v2 api (documented [here](https://developers.digitalocean.com/)) in fog.

There's a DO Engineer with an in-progress branch here: https://github.com/phillbaker/fog/tree/feature/digitalocean-v2/ if anyone wants to contribute to speed things along, as the v1 API is heading toward deprecation.

[2015-01-29 15:24] geemus commented on #3318
@joost thanks for the note, good to know.

[2015-01-29 15:24] geemus commented on #3419
Thanks for the update and checking in. Just let us know if you have questions or anything we can help with along the way. Thanks!

[2015-01-29 15:30] nickvanw commented on #3419
Will do! I opened this in part so I could fund the progress via [Bountysource](https://www.bountysource.com/teams/fog/issues) (full disclosure: I'm another DO engineer with a vested interest in helping this move forward, as soon as I'm able, we'll be placing a bounty on this!)

[2015-01-29 15:33] geemus commented on #3419
Cool, thanks for the extra context!

[2015-01-29 23:29] TerryHowe opened #3420 "Image Seems to Broken for HP Provider"
My guess is that HP public cloud compute no longer supports listing images.  It should be using the image service (glance) anyway.  Anyway, compute (nova) is 502ing or 500ing image requests.

[2015-01-30 15:26] geemus commented on #3420
Thanks for the heads up. Would you be up for digging a bit deeper to try and work on a fix?

[2015-01-30 15:42] TerryHowe commented on #3420
It looks somewhat complicated and I'm spread a little thin at the moment.  Ideally, I'd like to see the HP provider use the OpenStack provider for cases like this.  The HP provider should only really be extending OpenStack for extensions like DNSaaS, LBaaS, etc.

[2015-01-30 15:47] geemus commented on #3420
Agreed, would be great to see a more unified front there, but I think the efforts around that have lost a bit of steam lately. I gather we are all spread a bit thin unfortunately.

[2015-01-30 19:05] seigel opened #3421 "S3 Buckets with periods in them Fail"
I know amazon updated their restrictions at some point, but they don't disallow people (like myself) from making buckets with dots in them.  I can't fog with the latest version for some reason.

... .rvm/gems/ruby-2.1.4/gems/fog-aws-0.0.8/lib/fog/aws/storage.rb:606:in `rescue in _request': undefined method `captures' for nil:NilClass (NoMethodError)

[2015-01-30 21:42] geemus commented on #3421
I think it may just be a corner case where both the bucket has periods and the region specified doesn't match the bucket, but I could be wrong. Could you describe the context a bit more?

[2015-01-30 22:17] cdwilhelm opened #3422 "Google Services authentication"
Hello,

I can't seem to identify how to provide the credential to authenticate with the google servers using Fog.  Can someone provide some direction.  Thank you!

[2015-01-30 22:21] geemus commented on #3422
@icco could you help? Thanks!

[2015-01-31 04:04] seigel commented on #3421
I will look into it more, and update

[2015-01-31 04:50] seigel commented on #3421
It seems like if I don't specify the region (as you suggest), then I have issues.
WIN:
 {provider: 'AWS', aws_access_key_id: <a key>, aws_secret_access_key: <another key>, region: 'us-west-1'}
FAIL:
 {provider: 'AWS', aws_access_key_id: <a key>, aws_secret_access_key: <another key>}

Weird.  It all works fine with fog 1.3.1

[2015-02-01 19:51] fcheung commented on #3421
Is this a dupe of fog/fog-aws#33?

[2015-02-02 13:12] plribeiro3000 commented on #2910
@geemus This is related to aws, right?

Just to make sure before move this to the [`fog-aws`](https://github.com/fog/fog-aws) repo.

[2015-02-02 13:15] plribeiro3000 commented on #2914
@geemus Maybe we should move this to `fog-core` ?

[2015-02-02 13:17] plribeiro3000 commented on #2958
Closing due inactivity. If you guys still pretend to add support to `Centurylink` let us know so we can setup a repo for `fog-centurylink`.

Thanks for your interest in adding support for `centurylink` in fog!

[2015-02-02 13:17] #2958 closed

[2015-02-02 13:20] plribeiro3000 commented on #2981
@erjohnso Did you get a chance to open a PR for this?

[2015-02-02 13:22] plribeiro3000 commented on #2896
Closing due inactivity. Please let me know if you still need/want this feature/request.

Thanks!

[2015-02-02 13:22] #2896 closed

[2015-02-02 13:31] plribeiro3000 commented on #3156
@tokengeek @sawanoboly Should fog/fog-sakuracloud#6 close this?

[Fog `.gemspec`](https://github.com/fog/fog/blob/master/fog.gemspec#L60) was updated also.

[2015-02-02 14:11] erjohnso commented on #2981
No, I didn't but @icco did [https://github.com/fog/fog/commit/5f7886e08d0ecd7d84264fb9c8e1cc05ef085427]. We just forgot to close this issue (doing that now).

[2015-02-02 14:11] #2981 closed

[2015-02-02 14:46] plribeiro3000 commented on #2981
Thx @erjohnso !

[2015-02-02 14:57] sawanoboly commented on #3156
Sure, thanks.

[2015-02-02 14:59] plribeiro3000 commented on #3156
Closing. Tnx @sawanoboly !

[2015-02-02 18:12] eherot commented on #2910
My original request regarded aws. Not sure if the problem is unique to aws, though.

[2015-02-02 21:07] geemus commented on #3421
@fcheung quite possibly (and/or 33 didn't fix it for all cases)

[2015-02-02 21:07] #3416 closed

[2015-02-02 21:11] geemus commented on #2914
@plribeiro3000 perhaps. If we were adding this, maybe it would go in something like fog-ftp though?

[2015-02-02 21:12] geemus commented on #2896
Thanks!

On Mon, Feb 2, 2015 at 7:22 AM, Paulo Henrique Lopes Ribeiro <
notifications@github.com> wrote:

[2015-02-02 21:12] geemus commented on #2958
Thanks!

On Mon, Feb 2, 2015 at 7:17 AM, Paulo Henrique Lopes Ribeiro <
notifications@github.com> wrote:

[2015-02-02 21:21] geemus commented on #2981
Thanks!

On Mon, Feb 2, 2015 at 8:46 AM, Paulo Henrique Lopes Ribeiro <
notifications@github.com> wrote:

[2015-02-02 21:25] geemus commented on #2910
It is an interesting question. I guess the problem is that wait_for can loop indefinitely, but 400 series errors are unlikely to resolve themselves. Perhaps it should be a change in the wait_for logic in fog-core actually?

[2015-02-02 21:26] geemus commented on #3156
Thanks!

On Mon, Feb 2, 2015 at 8:59 AM, Paulo Henrique Lopes Ribeiro <
notifications@github.com> wrote:

[2015-02-02 21:46] plribeiro3000 commented on #2910
Hmmm. If it is related to the `wait_for` then we should move it to `fog-core` indeed. Can i move it? :smile:

[2015-02-02 21:48] geemus commented on #2910
go for it, thanks!

On Mon, Feb 2, 2015 at 3:46 PM, Paulo Henrique Lopes Ribeiro <
notifications@github.com> wrote:

[2015-02-02 21:48] plribeiro3000 commented on #2914
Hmmm. Can't this be like [SSH](https://github.com/fog/fog-core/blob/master/lib/fog/core/ssh.rb) ?

Or you think we should have a provider for ftp?

[2015-02-02 21:52] plribeiro3000 commented on #2910
Closing in favor of fog/fog-core#129.

Thanks!

[2015-02-02 21:52] #2910 closed

[2015-02-02 22:09] geemus commented on #2914
It might be fine to be like SSH, depends on how many dependencies there are and whether they are in standard library. I wouldn't want to force extra gems on everybody for this is all.

[2015-02-02 22:23] plribeiro3000 commented on #2914
@geemus Good point. I was thinking it would be something really simple. Another dependency would not be welcome indeed. =s

[2015-02-03 01:45] doxxon commented on #3275
+1

[2015-02-03 03:22] nirvdrum commented on #3402
@bechampion Are you trying to set a value that you've already added via the Administration -> Custom Attributes dialog?  If not, I think you need to:

http://pubs.vmware.com/vsphere-51/index.jsp#com.vmware.vsphere.vcenterhost.doc/GUID-0E69C0F6-9EDD-47E8-8F1D-200B394F54C1.html

My reading is the setCustomValue call we make can only use predefined keys.  It looks like there's a different API call we

[2015-02-03 03:23] nirvdrum commented on #3402
@bechampion Please confirm either way.  It'd help me determine whether this is a functional bug or a usability problem.

[2015-02-03 03:31] nirvdrum commented on #3402
@bechampion And finally, one quick way to check whether the key is valid is to look at the results of the `list_customfields` call.  If my understanding is correct, we can issue that call and validate the results to improve the error message at the very least.

[2015-02-03 03:39] nirvdrum commented on #3402
And finally, creating a new custom field can be done by:

[code]

[2015-02-04 01:33] plribeiro3000 commented on #2937
Closing due inactivity. Since this specific piece of code resides in `fog-core` please open a new issue there if you still have this issue or want to provide more feedback.

Thank you!

[2015-02-04 01:33] #2937 closed

[2015-02-04 01:37] plribeiro3000 commented on #2985
I will move this issue to fClosing in favor of fog/fog-riakcs#1.

Please comment and follow development from there. Thanks!

[2015-02-04 01:37] #2985 closed

[2015-02-04 01:39] plribeiro3000 commented on #3156
Opss. Forgot to close it. =s

[2015-02-04 01:39] #3156 closed

[2015-02-04 01:42] plribeiro3000 commented on #3421
@seigel It seems your error is related to fog/fog-aws#33. Please follow up there if a `bundle update fog-aws` does not solve your issue.

Thanks!

[2015-02-04 01:42] #3421 closed

[2015-02-04 01:48] plribeiro3000 commented on #3382
@xian Are you up to submit a PR for your patch?

[2015-02-04 14:58] geemus commented on #2937
Thanks!

On Tue, Feb 3, 2015 at 7:33 PM, Paulo Henrique Lopes Ribeiro <
notifications@github.com> wrote:

[2015-02-04 14:58] geemus commented on #3156
Thanks!

On Tue, Feb 3, 2015 at 7:39 PM, Paulo Henrique Lopes Ribeiro <
notifications@github.com> wrote:

[2015-02-04 15:37] EZtheOG opened #3428 "[AWS] distributionConfig.enabled: Member must not be null"
I have a Script to create a CDN Environment which does:

cdn = Fog::CDN.new({
     :provider               => 'AWS',
     :aws_access_key_id      => 'MY_KEY',
     :aws_secret_access_key  => 'MY_SECRET'
})

cdn.post_distribution({
  'CustomOrigin' => {
    'DNSName'               => 'cdn.foo.bar',
    'HTTPPort'              => '80',
    'OriginProtocolPolicy'  => 'match-viewer',
    'DefaultRootO

[2015-02-04 15:52] plribeiro3000 commented on #3428
@EZtheOG Could you reopen this against [`fog-aws`](https://github.com/fog/fog-aws) and link it back here please?

[2015-02-04 15:53] EZtheOG commented on #3428
Yep!  Can do!  Sorry if I put it in the wrong place!

[2015-02-04 15:53] #3428 closed

[2015-02-04 19:30] lukewendling opened #3429 "Declaring only fog-aws in Gemfile: uninitialized constant CarrierWave::Storage::Fog"
In an effort to load only the fog service gem we're using, I'm declaring only fog-aws in the Gemfile:

``` gem fog-aws ```

However, on Rails console boot:

[code]

I've googled and stackoverflowed for examples of using specific service gems only. No luck.

*Anyone know which gems to include to fix this?* I would post in the Carrierwave project but this is only a problem when declaring fog-aws ins

[2015-02-04 20:57] plribeiro3000 commented on #3429
@lukewendling Which version of `carrierwave` are you using?

[2015-02-04 21:01] plribeiro3000 commented on #3429
I did a deeper dig and found [this file](https://github.com/carrierwaveuploader/carrierwave/blob/master/lib/carrierwave/storage.rb) It is requiring `fog` and rescuing `LoadError` so if you have `fog-aws` it won't load aws at all.

So for now you need to use `fog` instead of just `fog-aws`. In the future we are gotta create service based gems like `fog-storage` that will help this kind of issue.

T

[2015-02-04 21:01] #3429 closed

[2015-02-04 21:21] lukewendling commented on #3429
@plribeiro3000 Thanks for the explanation. I'll watch for updates and continue to scan the Readme for the new feature.

[2015-02-05 04:22] philayres opened #3430 "require "fog" consuming 100% CPU for > 1 minute"
I'm using fog to access Rackspace Cloud Files within an eventmachine environment.

At the top of my code, before any eventmachine reactor is invoked, I'm doing

    require 'fog'

Simple it would seem. On my powerful desktop PC this takes several seconds (much slower than other gems). On my low end cloud server (single vCPU, 1GB ram) it takes a minute or more to simply `require 'fog'` and during t

[2015-02-05 19:50] geemus commented on #3429
You might also be able to get it to work by manually including fog-aws prior to carrierwave (could be worth a quick try anyway). That said, it may ultimately be that we would need to tweak carrierwave to better support this case.

[2015-02-05 19:53] geemus commented on #3430
We are in the process of splitting fog out into a number of more granular gems, which we

[2015-02-05 21:49] sofam commented on #2954
@rob12 also looking for info on how to pass the customization spec to foreman!

[2015-02-06 01:13] philayres commented on #3430
Is there is a fog-rackspace yet? I only need rackspace Cloud Files for this project.

[2015-02-06 01:53] geemus commented on #3430
I think there is work-in-progress on that, but it hasn't landed quite yet. @mdarby can maybe speake more to the specifics.

[2015-02-06 14:49] mdarby commented on #3430
Unfortunately the last I heard was that the "gem registry" was being developed? That was several weeks ago.

[2015-02-06 15:05] mdarby commented on #3430
Just tried requiring the gem on my machine:
![about this mac 2015-02-06 10-04-55](https://cloud.githubusercontent.com/assets/2805/6081468/b0e0c780-ade7-11e4-918e-87347ae8b572.jpg)

`ruby script.rb  43.01s user 1.96s system 98% cpu 45.599 total`

[2015-02-06 21:23] tokengeek commented on #3430
I ran a little script against this and there was a **big** performance regression with `fog-v1.26.0`

https://gist.github.com/tokengeek/19dd1d96c923a3d19d90

Went from 2s to 10s

I ran `git bisect` to find where the performance regression occurred and it was 7d047e7

[code]

Unfortunately the obvious trick or removing the references to "ecloud" is not fixing the performance issue.

Reverting that

[2015-02-07 06:13] erjohnso commented on #3413
Hiya @frodenas - any progress on tests / docs?  Want any help with that part of it?  We could likely merge what you have and then do the rest in separate PRs if @icco is cool with that approach and you don't have the time to do it all on your own.

[2015-02-08 11:40] icco commented on #3413
+1 to what @erjohnso said.

[2015-02-08 19:07] frodenas commented on #3413
@erjohnso @icco I started working on tests, but got stuck trying to mock the google client calls. Unfortunately, I'm traveling all this week, so I won't be able to work on this until next week. Feel free to merge what's done or pick up the PR and complement it with the required tests and docs.

[2015-02-10 09:24] pdilung opened #3432 "Implement floating disks attach and detach action in rbovirt provider"
Implement disk attach and detach action in _ovirt_ provider based on abenari/rbovirt#60 proposal and abenari/rbovirt#61 pull request.

[2015-02-10 12:44] pdilung commented on #3432
I have made an initial implementation of the feature. Please see 6b64bd08cab234292034b94f000f620801759a52 for details.
Please note that this feature must be supported by `rbovirt` library as well. Currently, there is a pending pull request abenari/rbovirt#61. Once it is merged, I shall open a pull request on fog part as well.

[2015-02-10 15:38] geemus commented on #3432
Sounds good, thanks!

On Tue, Feb 10, 2015 at 6:44 AM, Pavol Dilung <notifications@github.com>
wrote:

[2015-02-10 23:44] everett-toews opened #3433 "Allow prepending a custom user agent"
Give your users the ability to _prepend_ a custom user agent. So if the existing user agent is

    fog/1.1.0

Provide a method for your users to easily prepend their own user agent so they can further customize it.

    users-app/0.1.2 fog/1.1.0

This will give cloud providers much better insight into how people are using fog. This should be well documented and part of examples that are written f

[2015-02-11 07:46] kevinykchan opened #3434 "[joyent|compute] support for gracefully handling 400 error responses from api"
This fixes ```Exception: NoMethodError: undefined method `body' for nil:NilClass``` when server returns a 400 bad request in cases where clock skew is too large

With this fix:
[code]

[2015-02-11 07:57] #3434 closed

[2015-02-11 12:23] plribeiro3000 commented on #3434
:+1:

[2015-02-11 14:56] geemus commented on #3433
Yeah, makes sense, would you be up for working on a pull request around this?

[2015-02-11 15:30] mdarby commented on #3433
I'll take this one @geemus

[2015-02-11 15:46] geemus commented on #3433
Great, thanks!

On Wed, Feb 11, 2015 at 9:30 AM, Matt Darby <notifications@github.com>
wrote:

[2015-02-11 16:58] geemus commented on #3430
I don't know why that was the straw that broke the camels back, but I do have some ideas for possible improvements that may help. I suspect this may come down to the search path for "/lib/fog" being enormous now and possibly some load order stuff. Some things that might be worth exploring:

1. I think it would be good to add simple `lib/fog-#{service}.rb` to each gem, so that they can be required

[2015-02-11 17:48] mdarby commented on #3433
@geemus Could you assign this to me so that I may track more easily?

[2015-02-11 19:38] mdarby commented on #3433
Is this what you had in mine @everett-toews?

![1 irb ruby 2015-02-11 14-36-16](https://cloud.githubusercontent.com/assets/2805/6154682/8b18efc4-b1fb-11e4-82ab-0e76480e5d27.jpg)

[2015-02-11 19:42] mdarby commented on #3433
Something like this @everett-toews?
![adf](https://cloud.githubusercontent.com/assets/2805/6154764/336af5d2-b1fc-11e4-8362-499a72cb5440.jpg)

[2015-02-11 20:23] geemus commented on #3433
@mdarby I guess I can not assign to you since you are not a member of a team on this (or something?)

[2015-02-11 20:24] mdarby commented on #3433
Ahh yes.

[2015-02-12 17:06] woohoou commented on #3275
+1

[2015-02-12 21:41] mdarby commented on #3433
This can be closed as the discussion has moved to the PR.

[2015-02-13 15:05] pdilung commented on #3432
Created a pull request #3435

[2015-02-13 18:15] plribeiro3000 commented on #3433
@everett-toews @mdarby Thanks!

[2015-02-13 18:15] #3433 closed

[2015-02-13 18:27] plribeiro3000 commented on #3430
I agree with you @geemus. I will update the providers i have access and submit PR's to the ones i don't asap.

[2015-02-13 23:05] wolf31o2 commented on #2160
We have similar issues with caskdata/coopr-provisioner and the fog_provider plugin.

[2015-02-13 23:10] wolf31o2 commented on #2528
Sensible defaults is difficult on DO, because fog uses the image ID, which changes over time and DO even removes the older ones. Rather, we need to use the "slug names" that DO provides. See https://github.com/test-kitchen/kitchen-digitalocean/issues/7 for more information.

[2015-02-13 23:12] wolf31o2 opened #3437 "[digitalocean|compute] Support using slugs and not just ID"
DO added "slugs" to their API, which allows referencing objects (such as images, or regions) by name, rather than ID. These names do not change, even when the underlying object and ID are updated.

https://developers.digitalocean.com/#list-all-images

[2015-02-14 00:04] wolf31o2 commented on #2559
We have a pretty bad hack in our fog-based fog_provider plugin for [caskdata/coopr-provisioner](https://github.com/caskdata/coopr-provisioner) where we look for 'public' then 'private' then fall back to the first network. Obviously, this isn't the best and we're going to take an approach more like opscode/knife-openstack#85 and allow specifying the network name. Currently, we require the network U

[2015-02-14 00:06] TJM commented on #3437
Wow, are you monitoring my communications? I have been troubleshooting this issue, and just filed: http://projects.theforeman.org/issues/9386 downstream. I doubt the region_id's would change significantly, but the image_id's do appear to be somewhat ephemeral.

Are you working on this, or just reporting it?

~tommy

[2015-02-14 16:46] geemus commented on #3437
Sounds like a good fix to make, are either of you interested in working on a pull request around this? Thanks!

[2015-02-14 16:47] geemus commented on #2528
see also #3437

[2015-02-14 16:49] geemus commented on #3430
@plribeiro3000 thanks, just let me know if I can help out in any way (and or which ones you don't have access to and I can tackle those, or give you access).

[2015-02-14 16:50] geemus commented on #3432
Thanks! I'll close this in favor of continuing discussion on the pull as needed.

[2015-02-14 16:50] #3432 closed

[2015-02-14 16:54] geemus commented on #3275
For those still seeing the error, could you provide some details?

Namely:
1. Which region are you specifying in credentials (if any)?
2. Which region is the bucket you are requesting against actually in?
3. What request(s) are failing?
4. Could you run with EXCON_DEBUG=true and share output?

We fixed a number of edges around this, but unfortunately there seem to be quite a few distinct ways amaz

[2015-02-14 17:08] wolf31o2 commented on #3437
I was reporting it. I may be able to work it into a sprint at work, since
our project coopr would benefit greatly from this.

[2015-02-14 17:15] geemus commented on #3437
Cool, thanks for the update!

On Sat, Feb 14, 2015 at 11:08 AM, Chris Gianelloni <notifications@github.com

[2015-02-14 22:34] atomkirk commented on #3275
[code]
Before the update `1.24.0`:
[code]
After the update `1.27.0`:
[code]

For creating an expiring url, why all this additional stuff that breaks it? Specifically the *wrong* region. Notice the second expiring url has `us-east-1` in it, but my bucket is `us-west-1`?

[2015-02-14 22:57] lautis opened #3439 "Extract local provider to a separate gem"
I tried to use extracted aws provider without the full fog gem as dependency. This worked, but I also needed the local provider for development environment. So, I went ahead and extracted it out as [a separate repo](https://github.com/lautis/fog-local). Would you be interested having fog-local as a separate gem?

There's still some things to do, such as

* moving the repository under fog organisat

[2015-02-16 17:16] TJM commented on #3437
If I understand the code, it may be a "one line" fix (adding a "slot" to hold the value) in the model?

[2015-02-17 10:28] sentience opened #3441 "Excon unable to load S3 URLs with AWS v4 signatures generated by Fog"
Fog began generating AWS v4 signatures with version 1.25.0. Specifically, following b90b6040bcc6ea08c0d8a5cd242634994b593fa9, Fog now returns a v4-signed URL when asked for a URL for a file stored on an S3 private bucket.

Although these v4-signed URLs seem to work fine with most HTTP clients including major browsers, curl, and others, these URLs are rejected with a SignatureDoesNotMatch error fro

[2015-02-17 19:32] wndxlori commented on #3409
Is there an ETA on that next release?

[2015-02-17 21:51] geemus commented on #3439
Yeah, I'd be up for having it be distinct. If you add me with full permissions on the repo I should be able to move it across.

[2015-02-17 21:57] geemus commented on #3275
@atomkirk we changed from v3 signatures to v4 (v4 requires a region in the signature stuff). We needed to make the move as many newer capabilities wouldn't work with the old signatures. I think it should work in this case if you start with a connection to the matching region, does that make sense/help?

[2015-02-17 22:08] lautis commented on #3439
Cool, I'll update the urls in the repo.

[2015-02-17 22:11] geemus commented on #3441
Thanks for bringing this to my attention. I'm going to go ahead and close this out in favor of keeping discussion together on the excon side.

[2015-02-17 22:11] #3441 closed

[2015-02-17 22:15] geemus commented on #3439
Thanks. I pulled it in to the org, I think you should have an invite to be a collaborator/admin on it, should you need it. If you want to work on the gem/removal parts that would be great. @plribeiro3000 has a lot of experience with these steps, so maybe he can give advice and/or guidance if you need it. Thanks!

[2015-02-17 22:18] geemus commented on #3409
Hey, I plan to try and cut a release some time this week. So hopefully the warning won't be an issue for much longer, thanks!

[2015-02-18 00:18] philayres opened #3442 "Memory leak in Rackspace Cloud Files directory and file calls?"
I'm using Fog to access Rackspace Cloud Files within EventMachine. I seem to be getting a memory leak related to the `Rackspace::Service#request` method. At this point I have not managed to separate out the code to make a simple example of the issue, but I'd like to see if the description of my current investigation can trigger any ideas around the real source of the problem. I've tried various Fo

[2015-02-18 13:46] philayres commented on #3442
To demonstrate the issue, see the Gist here: https://gist.github.com/philayres/2af8f67edbaf4470744a

Using EM.defer to provide a non-blocking server, the memory jump on each call to http://localhost:9999 is obvious. When just working in blocking mode (easily demonstrated by doing `work.call` and `callback.call` rather than `EM.defer`) the memory is pretty stable.

Does this help trigger any ideas

[2015-02-18 18:13] colszowka commented on #3391
@geemus I would be very grateful if you could reconsider a release since on 2.2.0 my rails app gives me this warning every time I load my environment, including running a spec file, rake tasks et cetera, which is slowly but steadily driving me insane :roller_coaster:

[2015-02-18 19:48] farneman commented on #3391
@geemus I would be grateful as well. We now have 2 apps running ruby 2.2 in production that throw whenever the environment is loaded. Since we're now more than a month since 1.27 was released would it be possible to get a patch release with this fixed?

[2015-02-18 20:49] craig1410 commented on #3391
@geemus Given the last two comments came in the last 3 hours, this probably looks like a conspiracy but Occam's Razor suggests it's just a trio of OCD devs who can't stand clutter in their consoles. :) Thanks in advance for your time if you are able to push out a release to fix it.

[2015-02-18 20:52] nheinrich commented on #3391
@geemus Not a conspiracy, there are more of us OCD devs out here. :)

[2015-02-19 10:31] fcheung commented on #3442
I'm not familiar with rackspace, but perhaps you could try using the raw requests (https://github.com/fog/fog/tree/master/lib/fog/rackspace/requests/storage). If that doesn't leak then the problem is likely to be in the model layer.

[2015-02-19 16:45] plribeiro3000 commented on #3439
@lautis LMK if you need anything!

[2015-02-19 17:26] geemus commented on #3442
@mdarby - could you take a look? Thanks!

[2015-02-19 17:40] geemus commented on #3391
Understood. I have a bit of issue/PR backlog I want to try and catch up to, but hope to releases once that his sorted (later today or tomorrow if my luck holds).

[2015-02-19 18:08] colszowka commented on #3391
@geemus Thanks for your effort and time! :heart:

[2015-02-19 19:27] mdarby commented on #3442
I will take a look.

[2015-02-19 22:19] geemus commented on #3391
v1.28.0 is out

On Thu, Feb 19, 2015 at 12:08 PM, Christoph Olszowka <
notifications@github.com> wrote:

[2015-02-19 22:22] craig1410 commented on #3391
@geemus thanks, much appreciated.

[2015-02-19 22:23] nheinrich commented on #3391
Thanks @geemus!

[2015-02-19 22:57] farneman commented on #3391
Awesome, thanks!

[2015-02-19 23:40] philayres commented on #3442
@mdarby - just let me know if I can do anything to help

[2015-02-20 00:17] philayres commented on #3430
@tokengeek - thanks for identifying which release caused this. I just had a chance to roll back my underpowered cloud server to 1.24 and it now starts up in a handful of seconds. I had to forcibly `gem uninstall` a bunch of fog gems to get this to work though, otherwise just bundling the older version didn't make any difference. (I feel like it has a lower memory footprint too, but that's probably

[2015-02-20 20:45] jonbuda opened #3450 "Empty 'Content-Encoding' header for images on S3"
I'm using the Carrierwave gem with Rails, to help handle file uploading. It uses Fog in the background to upload to S3. On a recent update, up to 1.28.0, I've noticed that images have a 'Content-Encoding' header that is blank. The only reason I noticed is because iTunes was rejecting an image I uploaded for use in a Podcast.

I pegged fog at version 1.22.1 in order to fix the problem. All subseque

[2015-02-22 00:16] jfelchner opened #3451 "Local provider blows up on calling `directory`"
Not sure why but I have this:

[code]

[2015-02-22 00:25] jfelchner commented on #3451
nm I did a dumb thing :)

[2015-02-22 00:25] #3451 closed

[2015-02-23 09:27] artm opened #3453 "Is there API documentation?"
I can't seem to find the API documentation. Not the [tutorials](http://fog.io/), but the API reference of everything there is. Does it exist?

[2015-02-23 16:32] geemus commented on #3451
No worries, easy mistake to make.

[2015-02-23 16:37] geemus commented on #3453
I think maybe this is what you want? http://www.rubydoc.info/gems/fog/

[2015-02-23 16:37] #3453 closed

[2015-02-23 17:02] artm commented on #3453
yep, thanks

[2015-02-24 15:01] #3439 closed

[2015-02-24 15:07] geemus commented on #3450
@fcheung could this maybe be related to the transition to v4 signatures? Thats the only thing that comes to mind, but maybe the timing is wrong.

[2015-02-24 15:09] fcheung commented on #3450
Timing is wrong - v4 sigs were 1.25

[2015-02-24 15:11] geemus commented on #3450
@fcheung Cool, thanks. I thought it might be, but suspected you might know more quickly/definitively. I guess it depends on what version he was on prior to going to 1.28.0 maybe?

@jonbuda Was the original update from 1.22.1 to 1.28.0? Or did you arrive at 1.22.1 as a working version in some other way?

[2015-02-24 15:40] jonbuda commented on #3450
@geemus I didn't go directly from 1.22.1 to 1.28.0. I actually had some code in production for awhile before I used it. I noticed it first at 1.26.0, but it was present below that as well. Didn't seem to go away until 1.22.1

[2015-02-24 16:30] ideaoforder commented on #2701
+1 - Exact same issue. Works fine in production, but not from our local dev server. I'm on localhost--maybe that's part of the problem? I'm using 1.27.0.

[2015-02-24 23:03] jonbuda commented on #3450
@fcheung still could be? it's happening post-1.22.1

[2015-02-24 23:30] sentience commented on #3275
We just rolled out Fog 1.28.0 (from 1.24.0) and ran into this issue as well.

[code]

This code errors if the bucket specified by `ENV["S3_BUCKET"]` is not in US-East-1 (in our case, it’s in US-West-1). We get a 400 Bad Request error essentially identical to the one in the original issue description above.

As suggested, the workaround is to specify the region explicitly when creating the `Fog::St

[2015-02-25 07:47] stonith opened #3458 "1.28 seems to break the get_template() method"
@nirvdrum
With fog 1.28.0 (commit ccafa8bf1), I get the following error:

[code]

However, I grabbed the previous version of get_virtual_machine.rb and it works properly.

[2015-02-25 16:15] fcheung commented on #3450
If it happens in versions 1.23 or 1.24 then it's almost certainly not sig v4.

If it happens in current versions, but not if you set signature_version => 2, then it probably is sig v4

There is some code in the v4 signature that manipulates the content encoding - for streaming uploads you have to implement this thing that's a bit liked chunked encoding in http, which means that content encoding ge

[2015-02-25 21:31] hulu1522 opened #3459 "Joyent Connection SSL Verify Error"
Connecting to a Joyent Cloudapi service fails if using a self-signed certificate. (Note: using test-kitchen also)

[code]

Please allow an option to be passed in that will disable this.  The only fix I found was to add the following to [this](https://github.com/fog/fog/blob/master/lib/fog/joyent/compute.rb) file:
[code]

This was also suggested as a fix for a different issue [here](https://github.

[2015-02-25 21:56] tokengeek commented on #2528
I'm removing the 2.0 milestone since this might be worth looking at _after_ 2.0 but it isn't something I'd want to block a release.

[2015-02-25 22:12] geemus commented on #2528
Sounds good.

On Wed, Feb 25, 2015 at 3:56 PM, Paul Thornthwaite <notifications@github.com

[2015-02-25 22:13] geemus commented on #3459
To clarify, where/how do you imagine the option would be passed in? Thanks!

[2015-02-25 22:14] geemus commented on #3450
@fcheung ah, good point.

@jonbuda could you try with version 2 signature setting? That could help us narrow in on whether this is really a culprit or just a red herring. Thanks!

[2015-02-25 22:16] geemus commented on #3275
It is always desirable to use the accurate region, when available, because the old behavior ended up needing to follow redirects around a lot. We've done our best to patch up the new version to maintain this behavior, but unfortunately the new behavior is wildly inconsistent (I've seen at least 3 completely different ways that S3 sometimes returns where the actual host is). We've chased those the

[2015-02-25 22:33] hulu1522 commented on #3459
@geemus  I don't know if this is proper implementation but something similar to this would work:

https://github.com/hulu1522/fog/commit/25db88412a8e7b3ba56fcd58b4e55c083409a0c1

[2015-02-26 00:00] pencilcheck commented on #3288
the latest fog is still depending on the older excon, still getting errors about excon, have to manually include excon in Gemfile, please change the dependencies.

[2015-02-26 16:16] geemus commented on #3288
Bumped here: https://github.com/fog/fog-core/commit/8d5f59da1111d5d7770957d1d047569c26bce6fa

[2015-02-27 19:45] Fryguy opened #3465 "[vsphere] rbvmomi is not listed as a dependency"
It is listed as a development dependency in the gemspec, but not a runtime dependency.  How can vsphere actually work without it?  I tried look for documentation somewhere that states you have to install it manually before using vsphere, but I don't know where to even look.  Should this be documented somewhere if it is, in fact, a manual dependency?

[2015-02-27 20:54] #3413 closed

[2015-02-27 21:28] pencilcheck commented on #3288
Thx :+1:

[2015-02-27 22:02] geemus commented on #3465
It is presently a manual require, because a lot of people who use fog don't necessarily use vsphere. Ideally at some point we'll split out fog-vsphere to it's own gem (at which point it becomes much more tenable to have this require additional gems as needed). In the mean time, documenting would be great, any thoughts on where we should put it to make it super clear? Maybe we could rescue load err

[2015-03-02 17:13] geemus commented on #3459
Closing in favor of further discussion on #3464

[2015-03-02 17:13] #3459 closed

[2015-03-02 17:15] yannh opened #3466 "Automatically use multipart upload when uploading files >5G to s3"
Hello,

Directory.files.create fails on files larger than 5GB, as you need a multipart upload in this case. Would it make sense / would it be possible to make it transparent to fog users, and automatically do a multipart upload when the file is larger than 5G?

Or eventually add a new function multipart_create or similar that would mask the complexity to the user? I'd be happy to spend time on thi

[2015-03-02 17:19] geemus commented on #3466
I think we already have this, though it isn't well documented (you can see it here: https://github.com/fog/fog-aws/blob/master/lib/fog/aws/models/storage/file.rb#L249).

Basically I think if you do something like:

[code]

Basically, at least at present, that multipart_chunk_size is the magical flag. Maybe you are right that we should default this when the file is > 5gb to some value and do the mu

[2015-03-02 20:54] zarry commented on #3458
Can confirm I am also hitting this since upgrading.  Currently just rolled back to 1.27.0 which is working correctly.

[2015-03-02 21:19] geemus commented on #3458
@nirvdrum When you have a minute could you take a look? Thanks!

[2015-03-02 21:34] nirvdrum commented on #3458
On the docket.  What's frustrating is this is change is one I scrutinized quite a bit.  Unfortunately, without being able to easily have regression tests running against vSphere and having very meager mocks, breakages sneak in :-/

[2015-03-02 21:34] geemus commented on #3458
Yeah, quite understandable.

[2015-03-02 21:34] geemus commented on #3458
Thanks again for your efforts!

[2015-03-04 16:30] ploomans commented on #2701
I had the same issue but for me both production and development didn't work when I used the latest fog version together with rails 4.2.0

I had an old code base for another project with rails 4.1.1 and fog 1.3.1 where the same credentials did work. I just solved it for the moment by using the same 4.1.1 and fog 1.3.1 gem version for my new project...

[2015-03-05 13:44] tochman commented on #3391
Using `fog-core 1.28.0` running ruby 2.2 still gives me this warning:
[code]

[2015-03-05 14:51] geemus commented on #3391
@tochman I believe you need 1.28.0 or greater of the `fog` gem (where the bug is), rather than `fog-core`. Hopefully that clears it up for you.

[2015-03-05 14:56] tochman commented on #3391
@geemus: Yeah, my mistake. I see that now. Thx!

[2015-03-05 17:15] monkey1016 opened #3472 "[vcloud-director] undefined method `get_by_id' for VcloudDirector::VmCustomizations"
Hi,
I'm using the vCloud Director provider in fog and I receive the following stacktrace when trying to save a vm customization

[code]

Not sure if I'm using the library correctly.  If it helps, here is the relevant block of code where the exception occurs:

[code]

If it actually is an issue, I can probably work around it and submit a PR in the future.  Any guidance in the right direction would

[2015-03-07 15:27] geemus commented on #3472
Looks like there is some meta-programming here. It looks like we need to add a `get_by_id` method to the collection for vm_customizations. I'm afraid I don't have much experience with vcloud (or a setup to test against). Would you be up for exploring this and working on a PR? Thanks!

[2015-03-09 18:24] monkey1016 commented on #3472
Sure thing.  I'll check it out and see about submitting a PR.

[2015-03-09 20:09] geemus commented on #3472
Awesome, just let me know if you need anything along the way.
Thanks!
wes

On Mon, Mar 9, 2015 at 1:24 PM, Khaled Janania <notifications@github.com>
wrote:

[2015-03-10 13:15] strzibny commented on #3347
Hi,

fog currently depends on 15 modular providers (see https://github.com/fog/fog/blob/master/fog.gemspec#L56-L71). Could we make those providers opt in? Most people probably use fog with one provider and still have to download 15 gems. And if we want to update fog in Fedora we have to package and maintain all of them.

Can we please make the core independent of providers?

[2015-03-10 14:10] plribeiro3000 commented on #3347
@strzibny The idea is to be optional as you mentioned but at this point we are still extracting stuff. All those providers were already being loaded together with fog before. The main difference here is that we will have one gem for each provider in the future.

Perhaps is the time for us to start talking/working on the optional stuff. But keep in mind that `fog` will always depend on all provider

[2015-03-10 14:12] geemus commented on #3347
Yeah, `fog-core` + `fog-#{provider}` should be enough for those that have already been modularized, but we didn't want to break backwards compatibility (at least in a minor version release). In the longer term it is likely that people would require the independent ones and probably not the main one at all (and/or perhaps we can/should deprecate the main one), but a lot of work remains to be done t

[2015-03-11 08:37] strzibny commented on #3347
@geemus Yes. For instance we need fog for vagrant-libvirt, which obviously uses just libvirt. The things are even worse when I for instance package a Software Collection for RHEL (the collection is used only for vagrant and nothing else), then I need to repackage and maintain 10+ extra packages. Then people from CentOS come and want to have my SCL in CentOS repositories so they again take that and

[2015-03-11 15:15] cluobah opened #3478 "PowerDNS Support"
I've added support for PowerDNS to a forked fog. Does fog still prefer moving towards a modular system as mentioned in #3238 or is it OK if PowerDNS lives in the main fog gem? I saw that the fog-rage4 gem just has stubs whereas their real code is in fog...

[2015-03-11 15:49] wolf31o2 commented on #3437
Unfortunately, I have been assigned to other projects at work and won't
have time to look into this for quote some time.

[2015-03-11 16:41] plribeiro3000 commented on #3478
Hello @cluobah. Thank you for your interest in adding support for `PowerDNS`. `fog-rage4` is not ready yet so thats the reason it has just stubs for now.

I think it would be nice to have it in a modularized gem but as we have a loading issue #3430.

cc/ @geemus @tokengeek What do you think?

[2015-03-12 11:01] otzy007 commented on #1791
:+1:

[2015-03-12 13:34] pdilung opened #3479 "[vsphere] Missing path attribute in Fog::Compute::Vsphere::Template"
Hello Guys,

I have just started to use _vsphere_ provider and I would like to clone a machine from a template. I am trying to search for a template in a certain data center by use of templates collection, however I miss the `path` attribute in `Fog::Compute::Vsphere::Template` class.
Is there any reason not to put `path` int that class?
I know that I could use list_templates, but using collection

[2015-03-12 15:10] pdilung commented on #3479
Perhaps, the best way would have `path` relative to `datacenter` so `vm_clone` could be done conveniently.

[2015-03-12 16:07] geemus commented on #3478
I would prefer modularized, though the load issue does still need to get sorted out somehow.

[2015-03-12 18:01] cluobah commented on #3478
OK, I'll make it modularized and put in a PR within a week.

[2015-03-12 21:03] pdilung commented on #3479
Found a workaround, closing

[2015-03-12 21:03] #3479 closed

[2015-03-12 21:11] pdilung opened #3480 "[vsphere] The clone_vm method fails to create a linked clone."
The `clone_vm` method fails to clone from a template when `linked_clone` option is set to `true`:
[code]
_Der Vorgang wird für dieses Objekt nicht unterstützt_ could be translated into English as: _The operation is not supported for this object_.

I would really need to create thin provisioned clones from a template. Is it possible to achieve this in a different way?

[2015-03-12 21:14] geemus commented on #3480
@nirvdrum could you look when you get a chance? Thanks!

[2015-03-12 21:15] geemus commented on #3478
Sounds great, thanks!

On Thu, Mar 12, 2015 at 1:01 PM, Christopher Luo <notifications@github.com>
wrote:

[2015-03-12 21:17] geemus commented on #3347
Thanks for the context. So would getting something like `fog-libvirt` split out solve a lot of the problem? That is probably a lot more tenable than the bigger changes we are talking about, especially if you or others might be willing to help with pushing the files around. Thanks!

[2015-03-13 07:46] strzibny commented on #3347
Yes, it would definitely help. I could then propose the change for `vagrant-libvirt` to only use `fog-libvirt and we save a lot of unneeded work. I could also help with the extraction.

[2015-03-13 09:06] tokengeek commented on #3347
So I added a Roadmap (https://github.com/fog/fog/wiki/Roadmap) to cover this issue and onwards.

In terms of feature freeze I'd like it so nothing else gets into `Fog 1.x` unless it is critical.

I'd like to merge the fog 2 branch to master as soon as we have resolved the loading time issue.

I think new stuff should all be modular and not get added to the `fog` gemspec.

+1 to splitting out `fog-

[2015-03-13 14:22] c1mark commented on #3458
I can confirm 1.28 breaks Chefdk test kitchen when using the vsphere driver too.

[2015-03-13 14:25] c1mark opened #3481 "1.28 gem does not contain latest vm_clone.rb code?"
Looking at the vm_clone.rb deployed by the 1.28 gem, it looks different to the 1.28 version in git. Specifically the gem version does not seem to contain the code for configuring VMware VM's onto a distributed virtual switch.

Copying the vm_clone.rb contents from git, and replacing the 1.27 version appears to work ok.

[2015-03-13 20:19] geemus commented on #3347
@strzibny sounds like that extraction (sooner rather than later) may be a win-win for everyone. If you want to take a stab toward that it would be great. Definitely let us know if you need any help along the way.

@tokengeek thanks for chiming in.

[2015-03-13 20:27] geemus commented on #3481
Hmm. Perhaps I messed something up in the release process. I think it should go out in the next release if it is on master though, so I don't think there should be further required action at present. Thanks!

[2015-03-13 20:27] #3481 closed

[2015-03-16 18:01] plribeiro3000 commented on #3478
The gem is out there already so i will go ahead and close this.

Thanks!

[2015-03-16 18:01] #3478 closed

[2015-03-16 18:27] geemus commented on #3478
Thanks!

On Mon, Mar 16, 2015 at 1:01 PM, Paulo Henrique Lopes Ribeiro <
notifications@github.com> wrote:

[2015-03-17 17:48] isabanin commented on #3099
With fog being dependent on Nokogiri 1.5 it's currently not possible to use it in a Rails 4.2 application, which requires Nokogiri 1.6.

[2015-03-17 20:35] geemus commented on #3099
@isabanin thanks for the note. Maybe our hand is going to be forced here. I need to get on top of 2.0 plans anyway...

[2015-03-17 21:43] tokengeek commented on #3099
I think this ticket belongs in https://github.com/fog/fog-xml

I actually thought this was no longer the case and that 1.8.7 users were specifying it in their application `Gemfile`s as they have to for a number of other dependencies.

`fog` will need an update to the 1.8.7 Gemfile to avoid breaking on travis however.

[2015-03-17 23:00] geemus commented on #3099
Ah, that sounds a good deal more promising.

[2015-03-18 21:58] lazzarello opened #3492 "Support Elastichosts API"
[Elastichosts has a cloud platform](http://www.elastichosts.com/support/) they sell as [white label proprietary software to licensees](http://www.elastichosts.com/reseller-programs/). I work for [one of these](http://openhosting.com/a/). I'm building a larger project for my company and would like to add support for the Elastichosts API to the library. This would in turn enable any licensee be supp

[2015-03-18 22:58] yannh commented on #3466
@geemus sorry for replying so late. Indeed this works, thanks a lot for your reply! I was unable to find any resource regarding this, nearly all sources on the web indicate to split the file first, which is a big no-no for files that big. Would there be any downside in selecting multipart upload automatically for files a certain size? Let me know if I can help, documentation could be a start :)

[2015-03-18 23:58] plribeiro3000 commented on #3492
Hey @lazzarello . I think this files might be outdated. The goal now is to have one modularized gem for each provider like the many we already extracted from the main fog gem.

Could you start it as a standalone gem instead?

[2015-03-19 06:24] lazzarello commented on #3492
I'm confused. [I'm referencing](http://fog.io/about/contributing.html) the project documentation about making contributions, which is a little more detailed than the CONTRIBUTING.md in the master branch. This branch has many directories with classes which resemble the documentation I've referenced. Are you saying the community has decided to change the path of active development? If so is there a

[2015-03-19 15:25] numkem commented on #1328
@mrjcleaver - you mention OpenVZ but not KVM, is support only planned for Proxmox through the OpenVZ API and not KVM?

[2015-03-19 15:33] mrjcleaver commented on #1328
Hi @numkem - to my knowledge the only reason Proxmox is supported (and I have not tested it) is because there already is OpenVZ support in Fog.

Proxmox has two sets of APIs, the other being KVM. I don't use KVM so I haven't looked whether Fog could support it.

This said, I was very surprised that OpenVZ had Fog support. @jedi4ever built that a long while back but it simply didn't get put it in t

[2015-03-19 17:02] plribeiro3000 commented on #3492
@lazzarello You can see active development in the modularized providers in master. (https://github.com/fog/fog/blob/master/fog.gemspec#L54-L70). All provider gems are under the `fog` organization. The documentation really needs to be updated.

The convention we are using is to have `fog-provider_name`. I think that perhaps it would be easier to create a fresh new repo since the structure and the n

[2015-03-19 18:15] lazzarello commented on #3492
I see. So master has a combination of the legacy services, which use the documented class hierarchy and current modularized providers, which are simply gem deps? I'll have to figure out what the common interface is between the individual gems and Fog, correct?

Regarding renaming my existing gem, that's not a problem. It's a new release and there aren't many users of it. I can maintain a forked re

[2015-03-19 19:32] plribeiro3000 commented on #3492
@lazzarello Its the same for both the providers that are modularized and the ones that stand inside fog.

Once you have the new project code, push it to a repo here in github so we can move it under the `Fog` organization later.

[2015-03-19 19:44] lazzarello commented on #3492
Great thanks. I'll close out this issue. I'll try and do as much documenting as I can so perhaps you can use it to update some of what is on the public contributing section?

[2015-03-19 19:44] #3492 closed

[2015-03-19 19:48] plribeiro3000 commented on #3492
Sure. if you want to contribute to documentation, send a PR to https://github.com/fog/fog.github.com. =)

[2015-03-20 12:28] dhague opened #3493 "[openstack] Fog::Identity::Openstack check_token and validate_token should not require mandatory tenant_id"
The methods check_token and validate_token require a tenant_id parameter, but according to http://developer.openstack.org/api-ref-identity-v2.html this parameter is optional. This means that unscoped tokens cannot be validated/checked using Fog.

[2015-03-20 14:12] bigon commented on #2938
Hello,

It seems that the patches proposed in the bug have been merged in 1.24.

[2015-03-20 18:07] #3493 closed

[2015-03-20 18:09] geemus commented on #3492
:+1: thanks for working through this, definitely appreciate any help you can give around docs also.

[2015-03-20 18:14] geemus commented on #3466
I guess my hesitation around automatically doing this is the added complexity of retries and whatnot, coupled with some suspicion that the actual usage might vary from case-to-case (ie I'm not sure there is a good one-size-fits-all version of this). I'd be happy to discuss further though. Thanks!

[2015-03-20 23:22] lautis commented on #3450
I can confirm @fcheung's suspicions. This seems to be caused by the `aws-chunked` encoding.

Setting signature version to 2 makes the empty header go away. Similarly if the `Content-Enconding: aws-chunked` value is not set at all, the response didn't have a Content-Encoding header. This seemed to work on all files that I tested, although they were relatively small (<25MB).

[2015-03-21 14:44] fcheung commented on #3450
Does https://github.com/fog/fog-aws/pull/75 help?

[2015-03-22 00:51] claudeomusic opened #3495 "CarrierWave config amazon s3 region not being assigned"
for context, here's the gems i'm using:
[code]
for some reason, even though i'm explicitly setting the region for carrierwave in an initializer (initializers/carrierwave.rb) as below, i keep getting an error that i'm trying to upload my data to the wrong region. the error i'm getting looks like this: "The authorization header is malformed; the region 'us-east-1' is wrong; expecting 'us-west-1'"

[

[2015-03-23 15:12] geemus commented on #3495
Hey, I replied on stackoverflow. I'll just continue the discussion over there rather than having it split in two places. Thanks!

[2015-03-23 15:12] #3495 closed

[2015-03-25 22:07] timuralp commented on #2938
Correct. I think we can close this issue.

[2015-03-25 22:07] #2938 closed

[2015-03-26 08:50] unchi opened #3499 "endpiont error"
When I set the endpoint is not a aws, it is an error.

## v1.24.0

 ok

## v1.25.0, v1.26.0, v1.27.0

[code]

[code]

## v1.28.0

[code]

[code]

[2015-03-26 20:46] geemus commented on #3499
You may need to pass `:aws_signature_version => 2` in order to get what you now need. Let me know if that doesn't help though and we can certainly review further. Thanks!

[2015-03-26 20:46] #3499 closed

[2015-03-26 20:57] geemus commented on #2938
Thanks!

On Wed, Mar 25, 2015 at 5:07 PM, Timur Alperovich <notifications@github.com>
wrote:

[2015-03-30 04:41] plribeiro3000 commented on #3430
@philayres Could you try my branch and see if it fix the issue?

`gem 'fog', github: 'fog', branch: 'fix-loading-time'`

[2015-03-31 13:01] mattheworiordan opened #3503 "Ruby warnings Comparable & Return nil"
I receive the following warnings when require Fog with Ruby 2.2.1:

[code]

I am on Fog master, commit f16fae7b0b40af3212facbf317a76628e353fcc5

[2015-03-31 14:07] plribeiro3000 commented on #3503
I believe this issue belongs to [`fog-core`](https://github.com/fog/fog). Could you move it please?

[2015-03-31 15:18] mattheworiordan commented on #3503
Sure, sorry about that, https://github.com/fog/fog-core/issues/142

[2015-03-31 15:18] #3503 closed

[2015-03-31 17:00] plribeiro3000 commented on #3503
No problem. Thanks for moving it!

[2015-03-31 17:05] ihmccreery opened #3504 "More documentation in CONTRIBUTING.md: new developer with questions about testing, architecture, and contributing"
I'm new to fog, and I'm hoping to contribute to getting fog-google working and tested better, and, if it's needed or wanted, to contribute to fog and fog-core as well, especially to support stability of gems that depend on fog, (e.g. [vagrant-google](https://github.com/mitchellh/vagrant-google)).

In getting started, I've been feeling a bit lost and without documentation to guide me.  More specifi

[2015-03-31 17:21] ihmccreery commented on #3504
I just found [fog.io/about/contributing.html](http://fog.io/about/contributing.html).  Looks like a lot of what I was looking for.  I'd like to propose to either:

1. Move that document into `CONTRIBUTING.md` in the Git repository, and link to that page at [fog.io/about/contributing.html](http://fog.io/about/contributing.html), or
2. Link to [fog.io/about/contributing.html](http://fog.io/about/con

[2015-03-31 22:45] ihmccreery commented on #1252
@tokengeek is this issue still relevant?  I see you added significant new functionality to Services between the last comment and now.  I also see this issue has the `summit` label: can you or someone else please update on where this stands post-summit?

[2015-03-31 22:50] ihmccreery commented on #1252
@tokengeek Based on [the Roadmap](https://github.com/fog/fog/wiki/Roadmap) in the Wiki, this looks like it should be marked as a v2.x issue?

[2015-03-31 23:02] ihmccreery commented on #3504
Perhaps much of what I'm looking for is referenced in the [Roadmap](https://github.com/fog/fog/wiki/Roadmap) in the Wiki.  This document should probably be referenced from whatever the authoritative source ends up being, but I don't think it stands on its own as a reference for the current state of fog development.

[2015-03-31 23:25] plribeiro3000 commented on #3504
I believe we are missing documentation for the migration indeed. Perhaps its time to start doing so.

I think that @geemus and @tokengeek are the ones with more background to say how to do the `dance` here.

[2015-04-01 08:23] tokengeek commented on #3504
At the moment it's sort of chicken and egg.

The little documentation that exists is scattered about and most of us were left copy/pasting what existed before.

We don't have new documentation because besides various ideas on tickets, there's nothing fixed about the new stuff.

Since there's potentially a big jump required (file layout, module namespacing etc) the hardest thing is planning it so w

[2015-04-01 08:47] tokengeek commented on #1252
Honestly I don't think we've done much about this!

Basically for the mentioned services, we should have a module similar to https://github.com/fog/fog-core/blob/9223a708df00be856c1413ac8970f3426509e106/lib/fog/core/service_abstraction_spec.rb that each provider can include in their own tests.

As more behaviour is agree upon, these tests will start bringing these definitions in-line.

Re: `summit

[2015-04-01 16:02] ihmccreery opened #3508 "Design document for ongoing changes"
(First off, @tokengeek, is the title of this issue right?)

Per discussion and @tokengeek's idea in #3504, this is a request for the updating of documentation and the writing of a design document for v2.0.0.  A rough outline of what I think it should include, with amendments and additions more than welcome:
1. clear documentation of where the codebase is now and the major issues we're facing, thou

[2015-04-01 16:03] ihmccreery commented on #3508
I've compiled a list of GitHub issues that seem like the most relevant ones to my confused little brain, but I'm probably missing some:

Meta-gem movement
---

- #1253, #2602, #2877

Testing
---

- General: #1266
- Shindo -> minitest: #2630
- Mocking: #1252, #1266 starting about halfway down, #1418, #2629

[2015-04-01 16:05] ihmccreery opened #3509 "Contributing guidelines should move from fog.io to the GitHub repository"
Per discussion in #3504, contributing guidelines should move from fog.io to the CONTRIBUTING.md guide in the GitHub repository, with a reference to that document on fog.io.

[2015-04-01 16:05] ihmccreery commented on #3504
@plribeiro3000 thanks for the references.

@tokengeek that all sounds about right.  I think at least noting that

- a lot of things are moving, (what things?  I know about the meta-gem movement, the change in testing framework, and the mocking question; are there are other big ones?)
- there's a chicken-and-egg problem with documentation, and
- that the documentation is out of date

would be extre

[2015-04-01 17:29] ihmccreery commented on #1252
@tokengeek thanks for the clarification.  A lot of what you wrote here could probably end up informing the design document referenced in #3508.

[2015-04-01 19:39] geemus commented on #3503
Thanks!

[2015-04-01 19:41] #3509 closed

[2015-04-01 20:57] ihmccreery commented on #3504
I'm going to go ahead and close this issue, with #3508 remaining open.  It's possible we'll want to add more to CONTRIBUTING.md that points to a roadmap, but we can take care of that in #3508.

[2015-04-01 20:57] #3504 closed

[2015-04-01 21:45] ihmccreery commented on #2877
Per fog/fog-google#3, we are reconsidering whether or not we want to make the switch to a separate fog-google repo immediately.

@geemus @tokengeek how would you all feel about us writing (new) `minitest` tests in this repo (`fog/fog`) before porting over to the `fog-google` repo?  I see that `minitest` is already a development dependency, but currently there is no provider coverage in `minitest`-

[2015-04-01 21:51] plribeiro3000 commented on #2877
@ihmccreery What about feature freeze, extract the codebase, remove the code from fog and then work on top of the extracted code?

As i can see the codebase is large and make it `read` can take months. These would also help us with the roadmap. somehow.

[2015-04-01 21:54] ihmccreery commented on #2877
@plribeiro3000 Thanks for the comment.  If I understand you correctly, that was our original intention.  The trouble is, we're not confident enough in our test suite to be sure that the extraction isn't breaking code in ways we don't know about.

[2015-04-01 22:10] plribeiro3000 commented on #2877
Got it. The thing is that if you do not depend on any code outside the `google` folder it should be a smooth migration. When extracting you can keep the original structure in all points without changing the requires for `google` in `fog` and it will work as it was before.

I can give it a tackle and do a clean extraction so you guys can work on top of it if you want. With all the providers i´ve ex

[2015-04-01 22:39] geemus commented on #3504
Sounds good. The other big issue is that our extraction work has run into some performance issues (post extraction, requiring fog is SLOW). This may relate to how we have chosen to structure some of this and remains unresolved (and seems to worsen with subsequent extractions). So whatever we did wrong (I have theories that I keep not quite managing to test) is being repeated/propagated...

[2015-04-01 22:41] geemus commented on #2877
Let me know if any help is needed here. The extractions so far have been pretty non-transformative, so I don't think we've had any cases of it introducing errors that didn't already exist. I think it should likely be pretty safe, but certainly understand your hesitation.

[2015-04-01 22:44] geemus commented on #3508
Thanks! Will definitely try to continue fleshing these things out as I am able, but do let us know if you have specific questions we can help with along the way.

[2015-04-01 23:50] ihmccreery commented on #2877
If you all think this is the best move, I definitely defer to your (much more experienced) opinions.

I'm mostly concerned about the state we're currently in, where the `google` directory structure is duplicated between `fog` and `fog-google`, and neither references the other.

@plribeiro3000 If you're willing to do a clean extraction for us, that would be awesome.  (I've talked with @danbroudy, a

[2015-04-01 23:53] plribeiro3000 commented on #2877
Sure. I will do it asap. Can i just dump the current repo?

[2015-04-01 23:54] danbroudy commented on #2877
Yes please and thanks! Feel free to dump the current repo.

[2015-04-01 23:56] ihmccreery commented on #3508
@geemus Thanks.  I know this is a big project, and I don't expect it to all happen at once.

For a stop-gap, may I at least add notes about the following to CONTRIBUTING:

- a lot of things are moving, (what things?  I know about the meta-gem movement, the change in testing framework, and the mocking question; are there are other big ones?)
- there's a chicken-and-egg problem with documentation, a

[2015-04-02 10:04] tokengeek commented on #3508
re: title and versioning

I'm trying to move us away from a "2.0" branding and using it in context of SemVer.

When we have discussed this most recently we're coming to the decision that for 2.0.0, we're going to drop 1.8.7 support and a few other things.

We don't want to then block releases whilst we then wait for some substantial changes to be designed, tested and documented.

So 2.0 will proba

[2015-04-02 10:04] fcheung commented on #3450
@jonbuda Any change you can try the linked fix & report back?

[2015-04-02 15:46] jonbuda commented on #3450
@fcheung Seems to be working, as long as 'identity' is an OK Content-Encoding header. I think it's still set to v4, but I'm not sure where to set it to v2.

[code]

[2015-04-02 15:55] fcheung commented on #3450
Cool, thanks for reporting back.

[2015-04-02 16:05] ihmccreery commented on #3508
Definitely, thanks for the notes.

The [Roadmap](https://github.com/fog/fog/wiki/Roadmap) on the wiki seems like what you're describing, though it could definitely be fleshed out some.  Perhaps that's all we need, plus a link to it from CONTRIBUTING.md, and an introduction.

The downside to keeping this kind of thing in the wiki is that it's not synced under version control with the codebase.  If

[2015-04-02 16:11] ihmccreery commented on #2877
@plribeiro3000 When you do dump the current repo, please be sure to keep @icco and @erjohnso as committers.

And, just to get a sense so we can plan accordingly, what's a rough timeline we can expect this in?  Sometime today?  The next few days?  Longer?

And definitely let me know what I can do to help out.

[2015-04-02 16:34] plribeiro3000 commented on #2877
@ihmccreery Its almost done. it should be ready today. Could you give me access to the repo?
Currently i don't have and @geemus is not online.

Thanks!

[2015-04-02 16:41] tokengeek commented on #3508
The roadmap was a very quick attempt at something just for the sake of doing something. I ran out of time to itemise everything and cross reference.

I think we may have to duplicate things somewhat.

Putting plans and notes in the codebase doesn't work too well and with a multiple codebase set up like `fog` it gets worse. Most of the changes will probably be in `fog-core`, affect the providers bu

[2015-04-02 16:43] plribeiro3000 commented on #2877
@tokengeek Can you give me access to the repo?

[2015-04-02 17:12] ihmccreery commented on #2877
@erjohnso or @icco should be able to do so as well.

[2015-04-02 17:32] erjohnso commented on #2877
Added @plribeiro3000 - thanks!!!

[2015-04-02 17:36] plribeiro3000 commented on #2877
@erjohnso Thanks!

[2015-04-02 18:13] ihmccreery commented on #3508
Sounds good.  When we decide how documentation should be structured, I suggest we write it up in CONTRIBUTING.md in the fog repo, and have all other CONTRIBUTING docs across the different repos (including `fog-core`, likely) point there, with provider- or core-specific notes in the others docs as necessary.

Each repository should also probably have its own CHANGELOG, while also somehow referencin

[2015-04-02 18:30] ihmccreery opened #3512 "Kubernetes on Fog?"
The [Kubernetes](http://kubernetes.io/) team has expressed interest in building Kubernetes support into Fog.  Kubernetes is a system for managing containerized applications across multiple hosts, providing basic mechanisms for deployment, maintenance, and scaling of applications.  Although concepts in Kubernetes don't necessarily map exactly to what Fog is often used for, (Kubernetes deals with po

[2015-04-02 18:46] geemus commented on #2877
Thanks!

[2015-04-02 18:47] geemus commented on #3508
Sounds good.

Yeah, I think the things you mention as moving are the main ones, though
1.8.7 deprecation is probably the biggest/nearest change. Having these in
issues sounds like a good next step and one that will help keep visibility
up.

Thanks!

On Thu, Apr 2, 2015 at 5:04 AM, Paul Thornthwaite <notifications@github.com>
wrote:

[2015-04-02 18:47] icco commented on #3512
I don't understand, what would fog do for kubernetes?

[2015-04-02 18:49] geemus commented on #3450
Seems like this is likely fixed then, closing.

[2015-04-02 18:49] #3450 closed

[2015-04-02 19:11] plribeiro3000 commented on #3512
Is this something that relates to `google` only?

If yes i think it is up to you guys that are ahead of `fog-google` to decide since it will be on your homeland. =)

For me its a yes because it the quantity of providers support by fog is that make me love it. =)

[2015-04-02 19:42] ihmccreery commented on #3512
@icco I think the team is imagining that one could use fog to provision resources on—or maybe even initially start up—a Kubernetes cluster, acting as a replacement for `kubectl` ([docs](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/kubectl.md)) within the Ruby ecosystem.  Whether or not that's useful or reasonable, or if there are other designs to consider, should be discussed

[2015-04-02 19:48] tokengeek commented on #3512
I was sounded out on Twitter about adding support.

I'm fine with the idea if we can find the correct service for it. I'm not sure if it fits more into orchestration rather than say compute.

`rkt` (aka Rocket) has introduced pod support so perhaps there is some possible service there for "containers" or "pods" that Kubernetes can provide or rkt can provide locally.

We have Docker as a compute pr

[2015-04-02 21:30] icco commented on #3512
Ah. Is there a link to the public docs that fog would wrap around? Probably trying to define a common pod structure would be a decent integration point.

I very much hate creating new integrations that are service specific, so if we can come up with a common (aka multiple providers) use case, then sure. Otherwise I don't see why it should go in fog and shouldn't just be a ruby wraper for the kuber

[2015-04-03 00:22] tokengeek commented on #3512
The "pods" as rkt implements is part of the ACI spec... https://github.com/appc/spec/blob/master/SPEC.md#app-container-pods-pods

Whether these are the same kind of things or directly mappable I'm not sure.

I used `rkt` as an example but a few hours later I realise we're unlikely to be shelling out to a golang implementation from `fog`. So a second implementation of a "pod" service might be a whi

[2015-04-03 01:49] philayres commented on #3430
@plribeiro3000 I have only been able to test your branch on my development machine, not my cloud server (since I need to wait for memory leaks that appeared after 1.24 have disappeared too, and that takes some testing). But my initial impression is that this is better than it was. Good work!

[2015-04-03 02:00] plribeiro3000 commented on #3430
@philayres Awesome to know. If my patches aren't the better solution at least we know it is in the right path. Can you tell how much did the branch improved the loading?

[2015-04-03 14:21] philayres commented on #3430
@plribeiro3000 I just got a chance to try this on my original "problem" server. Your branch seems to have resolved the startup problem. I'm down to about 3-4 seconds for the load, which appears to be comparable to the v1.24 version. I'd say this patch is a good direction.

[2015-04-04 01:24] zshannon opened #3516 "How to contribute new provider?"
Hello, I've put together a [provider for Dropbox](https://github.com/zshannon/fog-dropbox). What's the best way to share this with fog users?

[2015-04-04 23:11] plribeiro3000 commented on #3430
@philayres We are almost there. Missing only the biggest providers which we have to move carefully and with assistance of the maintainers.

Gotta let you know once we finish it. =)

[2015-04-04 23:56] mdarby commented on #3430
@plribeiro3000 I'd love to pitch in on behalf of Rackspace and/or OpenStack.

[2015-04-06 12:37] plribeiro3000 commented on #3430
Hey @mdarby ! I believe we don't we need to mix in any of the providers that are in `fog` since for already handle it. The main issue was with the extracted providers but we are missing only `fog-softlayer`, `fog-profitbricks`, `fog-local`, `fog-brightbox` and `fog-json`.

There are open PR's for all of them already. Most of the work left is to review all of them, merge and release a patch version

[2015-04-06 17:34] plribeiro3000 commented on #3516
@zshannon Awesome. We will have to move the repository to under the organization `fog` and them add it as a dependency here.

But as we are trying to fix a loading issue (#3430) we are kind of holding up. Once we finish this cleaning we can proceed with the official support on it. =)

[2015-04-06 17:44] zshannon commented on #3516
Exciting! Thanks. Let me know if there's anything I can do to pitch in.

[2015-04-07 06:42] strzibny commented on #3347
@geemus I will look into extracting then.

[2015-04-07 06:52] eLobato commented on #3512
As an user & contributor to the FogDocker provider for some time, the biggest advantage that Fog provides which is an abstraction over VM providers, is practically lost with containers. The reason being that common methods such as `.vms`, `.create_vm`, `.image` etc... stop making sense that much in containers, not only syntactically (I can live with calling .vms to get containers and calling .imag

[2015-04-07 08:21] abonas commented on #3512
@eLobato,
I evaluated at the beginning of [kubeclient](https://github.com/abonas/kubeclient ) development whether to add it to Fog, and similarly to you decided that it's better suited as a standalone project.

@ihmccreery ,
Google team are aware of  [kubeclient](https://github.com/abonas/kubeclient ), and it's actually listed on the [clients page](https://github.com/GoogleCloudPlatform/kubernetes

[2015-04-07 19:41] geemus commented on #3430
Thanks!

On Mon, Apr 6, 2015 at 7:37 AM, Paulo Henrique Lopes Ribeiro <
notifications@github.com> wrote:

[2015-04-07 19:50] geemus commented on #3347
@strzibny sound great, thanks!

[2015-04-08 10:43] strzibny commented on #3347
@geemus

So I went ahead and created https://github.com/strzibny/fog-libvirt repository with extracted `fog-libvirt`. I didn't do anything fancy, just took the `master` branch and deleted anything unrelated, fixed `gemspec` and rake tasks and added new simple README. Tests are passing. I am ready to transfer it under `fog` org on GitHub and probably create a clean start (without `fog` history as i

[2015-04-08 13:32] plribeiro3000 commented on #3347
@strzibny Thank you for the work. We are currently facing a loading issue related to the extraction of providers (#3430) and to make sure it does not happen again we need to do some changes on the repo you just made or if you want i can just send a PR to it fixing.

I think that it would be good to have a clean git repo for it so we could use tools like `oscrsy` as discussed in fog/fog-google#9. A

[2015-04-08 15:26] geemus commented on #3347
@strzibny oops, I just asked about this in another request but seems you answered everything here.

@plribeiro3000 thanks!

[2015-04-08 18:29] ihmccreery commented on #3512
Okay, thanks to everyone for your feedback; I'm going to go ahead and close this issue.  I really appreciate you all taking the time to hash this out.

[2015-04-08 18:29] #3512 closed

[2015-04-08 22:37] tomalessi opened #3522 "Error with OpsWorks and Amazon Linux 2015.03"
I just upgraded to Amazon Linux 2015.03 and one of my chef jobs that configures Route53 is failing with the following error:

*NameError: uninitialized constant Fog::AWS::CredentialFetcher*

I believe this relates to fog using v1 of the aws-ask gem instead of v2, as detailed here:

http://ruby.awsblog.com/post/TxFKSK2QJE6RPZ/Upcoming-Stable-Release-of-AWS-SDK-for-Ruby-Version-2

Is anyone else exp

[2015-04-09 08:32] strzibny commented on #3347
So, I made a fresh git, updated the contributors list from provider's git history and hopefully cleaned the remaining stuff from fog like unused helpers. I also added you guys (@geemus and @plribeiro3000) as contributors so you can move the repository under fog org or fix things.

[2015-04-09 09:38] fherbert commented on #2954
I've modified to vm_clone.rb and cloudinit_to_customspec.rb to support the full vmware customization spec. I've submitted a pull request https://github.com/fog/fog/pull/3523

[2015-04-09 09:52] vusaalab opened #3524 "uninitialized constant Fog::Service"
when i push to my app heroko error and logs says

      uninitialized constant Fog::Service

Working perfectly local but not in heroku server

hero is the full stack

       NameError: uninitialized constant Fog::Service
       /tmp/build_4daef779061b871c10200675ed5cb467/vendor/bundle/ruby/2.0.0/gems/fog-aws-

       0.1.2/lib/fog/aws/storage.rb:3:in `<module:Storage>'
       /tmp/build_4daef77906

[2015-04-09 15:34] geemus commented on #3522
We don't use the aws-sdk gem, so I don't think it should be that. Could you report this against fog/fog-aws and add details of what versions you have and a stack trace? Thanks!

[2015-04-09 15:34] #3522 closed

[2015-04-09 15:36] geemus commented on #3522
P.S. I think this might actually be a duplicate of fog/fog-aws#83

[2015-04-09 15:36] geemus commented on #3347
@strzibny awesome, thanks!

[2015-04-09 15:39] geemus commented on #2954
Awesome, thanks!

[2015-04-09 15:41] geemus commented on #3524
Hey, sorry for the trouble, I think this might be fallout from some refactoring. It is likely to be the same as fog/fog-aws#83, so please check there for more discussion/info. Thanks!

[2015-04-09 15:41] #3524 closed

[2015-04-09 17:15] plribeiro3000 commented on #3347
@strzibny Awesome! Thank you for the work of remaking it from scratch and add autoloading to it. :heart:

[2015-04-10 10:25] dixia opened #3526 "Create openstack swift Directory with metadata does not work"
In [this doc](https://github.com/fog/fog/blob/master/lib/fog/openstack/docs/storage.md), it was mentioned that create method support a :metadata key.

However, the create method does not really pass the metadata into headers when the put_container method is called in [directory class](https://github.com/fog/fog/blob/master/lib/fog/openstack/models/storage/directory.rb#L44)

Any reason why this is

[2015-04-10 12:44] plribeiro3000 commented on #3422
Closing due inactivity.

Please comment back if you are still in trouble. Thanks!

[2015-04-10 12:44] #3422 closed

[2015-04-10 12:47] plribeiro3000 commented on #3516
@zshannon Could you check [this page](https://github.com/fog/fog/wiki/Create-New-Provider-from-Scratch) and see if `fog-dropbox` is somewhat following it?

Also, you should not have a `bin` folder in your gem or perhaps this is a solution to our problem with the fog `bin` for extracted providers?

cc/ @geemus @tokengeek

[2015-04-10 13:27] TerryHowe commented on #3526
Bug or missing feature.  It looks kind of like put_container should have options[:metadata] support that iterates through some hash and creates the X-Container-Meta-{name}

[2015-04-10 15:06] geemus commented on #3422
Thanks!

On Fri, Apr 10, 2015 at 7:44 AM, Paulo Henrique Lopes Ribeiro <
notifications@github.com> wrote:

[2015-04-10 15:06] geemus commented on #3516
Thanks!

On Fri, Apr 10, 2015 at 7:47 AM, Paulo Henrique Lopes Ribeiro <
notifications@github.com> wrote:

[2015-04-10 15:07] geemus commented on #3526
Yeah, I suspect it was just accidentally overlooked. Definitely would welcome help in implementing it.

[2015-04-10 15:14] jaredrhine commented on #3450
For people searching on this issue, we have/had similar behavior. Using the asset_sync gem in Rails, we end up with S3 files that have two content-encoding headers on S3, one blank and one with the correct application/gzip. When served up over HTTP, some browsers pick the "gzip" and parse the CSS/JS correctly, other browsers pick the empty header and then get binary data while parsing.

We'll be t

[2015-04-10 18:36] geemus commented on #3516
@tokengeek perhaps what is a solution?

@zshannon if you transfer the repo to me (or add me as admin) I can move it into the fog org. Thanks!

[2015-04-10 18:44] zshannon commented on #3516
@plribeiro3000 Hm, yeah the `bin` folder was there in the [`fog-google` gem](https://github.com/fog/fog-google) I used as a formatting base. I'll pull it out. One big difference is my tests are written in `rspec`, not `minitest`. Not sure what we should do about that.

[2015-04-10 18:46] plribeiro3000 commented on #3516
@zshannon Awesome. Could you remake them in `minitest`? I think it should not be a pain. But this can be made after you release it. Since you already created tests it can go live.

[2015-04-10 18:47] plribeiro3000 commented on #3516
Oh, wait. my mistake. Don't remove the bin. I thought it was on the root folder.:shame:

[2015-04-10 18:50] zshannon commented on #3516
@geemus I think I added you as an admin on my repo. Haven't done this before, so I'm not sure.

[2015-04-10 18:59] geemus commented on #3516
Looks like I have access now, but not administrative controls. Probably the easiest will be to transfer to me and then I can transfer to the org, I've done that before and know it works anyway. Thanks!

[2015-04-10 22:20] Tommyixi opened #3528 "Files#get_url (expires) params returns a negative date"
I'm currently trying to get the URL of a public item in one of my buckets:

    s3 = Fog::Storage.new(:provider => 'AWS',
                          :aws_access_key_id => Rails.application.secrets.aws_access_key_id,
                          :aws_secret_access_key => Rails.application.secrets.aws_secret_access_key,
                          :region                 => 'us-west-2')
    folder = s3.di

[2015-04-11 15:49] plribeiro3000 commented on #3516
I believe this can be closed since the repo was already moved to the fog organization. Thank you for your work @zshannon!

[2015-04-11 15:49] #3516 closed

[2015-04-14 15:36] geemus commented on #3516
Thanks!

On Sat, Apr 11, 2015 at 10:49 AM, Paulo Henrique Lopes Ribeiro <
notifications@github.com> wrote:

[2015-04-16 16:23] geemus commented on #3528
Hey, I think expires expects an epoch time (rather than a duration). So you probably will want to change `1000` to `Time.now.to_i + 1000` for instance. Definitely let me know if that doesn't resolve the issue for you though. Thanks!

[2015-04-16 16:23] #3528 closed

[2015-04-17 18:55] drich10 opened #3532 "[Openstack] Issue Assigning NIC to server at create"
Hello,

Currently we are unable to create a server on our Openstack environment (Juno) with specific networking information. Here is a sample code snippet:

[code]

the request body by fog then comes out as such
[code]
and the response from Openstack is this:
[code]

Eventually the server fails to create with the error 'No valid host', code 500, and this stack trace:
[code]
In the UI we noticed th

[2015-04-17 19:19] TerryHowe commented on #3532
The request looks right to me kind of looks like that is what icehouse would expect https://github.com/openstack/nova/blob/stable/icehouse/nova/api/openstack/compute/servers.py#L668

[2015-04-17 19:21] drich10 commented on #3532
Yeah this request works perfectly on our Icehouse environment that has a nova network configuration. The issue is with our Juno environment that has a neutron configuration. Sorry if that wasn't very clear

[2015-04-17 19:27] TerryHowe commented on #3532
My first guess is it doesn't like the fixed IP.  I would take that off and see if the server comes up.

[2015-04-17 21:00] drich10 commented on #3532
You were correct that the fixed IP is the issue, unfortunately it is not viable for us to let Openstack choose which Private IP the VM has. Is there a way this could be fixed or worked around?

[2015-04-18 00:10] homezada opened #3533 "AWS S3 Disabling SSLv3 Support Findings"
This issue is mainly to record some findings of using fog with the upcoming AWS disabling of SSLv3 support on all S3 buckets on April 30th, plus ask some follow-ups. See here for all the gory details:

http://stackoverflow.com/questions/29656452/aws-s3-disabling-sslv3-support

We got in contact with AWS support after receiving an email that a number of our buckets were being accessed by SSLv3 and

[2015-04-18 13:10] TerryHowe commented on #3532
I've never tried assigning fixed ips that way and I don't know how the internals work on that why neutron would reject that.  I would try assigning fixed ips to a port and see what errors you get doing that.

Alternatively, you could assign a port to your server and then you would know the fixed ip.

[2015-04-19 20:13] bechampion opened #3534 "I can't seem to find the appropriate request to list Hosts objects"
Hi List.
Is there any way to list ESXi Hosts?? i Can't seem to find it anywhere in the code.

Thanks!

[2015-04-19 20:19] plribeiro3000 commented on #3534
Hello @bechampion. Those ESXi hots are related to which provider?

[2015-04-19 21:16] bechampion commented on #3534
HI there ,  Vpshere would be .
Thans!

[2015-04-20 14:55] geemus commented on #3533
I think you can explicitly pass in host/scheme/port and it should use them, see: https://github.com/fog/fog-aws/blob/master/lib/fog/aws/storage.rb#L414

[2015-04-20 14:57] geemus commented on #3534
@nirvdrum could you maybe chime in when you get a moment? Thanks!

[2015-04-20 17:10] homezada commented on #3533
Thanks - we missed those. We we try to use :endpoint or the :host rather than just a /etc/hosts change for s3.amazonaws.com we get the excon OpenSSL error (IP edit incase AWS don't want it public), i.e.:

[code]

Is this an excon issue?

[2015-04-20 18:42] drich10 commented on #3532
So it seems we have stumbled upon the bug described [here](https://bugs.launchpad.net/nova/+bug/1396854) and the fix is unrelated to Fog. I'll go ahead and close this issue. We were able to fix our deployment of OpenStack with these steps:
[code]
Thanks for the help!

[2015-04-20 18:42] #3532 closed

[2015-04-20 21:40] geemus commented on #3532
Thanks for the details and update!

On Mon, Apr 20, 2015 at 1:42 PM, Derek Richard <notifications@github.com>
wrote:

[2015-04-20 21:41] geemus commented on #3533
It's possible? Alternatively, it may be that AWS didn't setup a special new cert for this server and instead reused the other AWS cert, in which case it might well legitimately error in this way?

[2015-04-20 22:03] homezada commented on #3533
Our best guess would be they set up some sort of HTTPS proxy, with SSLv3 disabled. The endpoint they gave for testing allows access to all of our buckets.

It works ok (as in connects and gets data via fog) with path_style: set to true as an option, and a local /etc/hosts mapping s3.amazonaws.com to the test IP, but not with setting the :hosts or :endpoint set in the fog options. It makes testing

[2015-04-20 22:16] geemus commented on #3533
Yeah, maybe a proxy could help. I'm not really sure and definitely find this stuff rather confusing as often as not. certainly let me know if there is anything more I can clarify or help with. Thanks!

[2015-04-21 07:50] ginolon commented on #2914
Any news on this?

[2015-04-21 13:42] geemus commented on #2914
None that I'm aware of I fear.

[2015-04-21 22:45] kaseyalusi opened #3536 "Add support for all nova-manage commands"
There is no support for the "nova-manage network create" commands in the fog library.

Nova-manage has been deprecated as of Folsom (https://wiki.openstack.org/wiki/NovaManage) but it has not been removed from the project.

[2015-04-21 22:53] TerryHowe commented on #3536
I think it would be best *not* to support a lot of those features.  Maybe there are some that it would be good to have support for.

[2015-04-22 11:21] rhenning commented on #2419
@geemus @CpuID Hi gents.  We've noticed that this behavior of pruning NS & SOA records from the list of records in reponses is reflected in some other providers as well (Dyn in our case).  Thoughts on removing the reject of NS & SOA across the board?  Our use case is similar to the one @CpuID mentioned: Look up a record by name and use the value of its NS records to determine if it is delegated to

[2015-04-22 11:28] CpuID commented on #2419
Seems plausible here, deferring to @geemus for a definitive answer :)

Nathan Sullivan
Sent from a mobile device

[2015-04-22 14:45] geemus commented on #2419
@rhenning sounds good, just let me know if I can assist. Thanks!

[2015-04-22 16:36] rhenning opened #3538 "[dynect|dns] SOA & NS records are pruned from responses"
As noted in #2419 SOA and NS record types are missing from Dynect responses as well. Other DNS providers and fog plugins didn't seem to exclude them specifically.

[2015-04-22 17:56] gabecase commented on #3442
@philayres @mdarby I'm a ruby developer at rackspace do you guys still need someone to take a look at this?

[2015-04-22 18:04] mdarby commented on #3442
I'm sorry -- this fell off my radar. @gabecase Nice to meet you! I'm a Ruby dev at RAX as well.
If you want to take a crack at it, please do. Unfortunately I'm booked solid for the next couple weeks.

[2015-04-22 19:18] #3538 closed

[2015-04-22 19:18] geemus commented on #3538
closed by #3539

[2015-04-23 15:56] yannh opened #3541 "Rackspace snapshots - Force = true ignored"
So this call:

snapshot = volume.create_snapshot :display_name => snapshot_name, :force => true, :volume_id => volume.id

Fails with the following stack:

        from /var/lib/gems/1.9.1/gems/excon-0.45.3/lib/excon/middlewares/response_parser.rb:8:in `response_call'
        from /var/lib/gems/1.9.1/gems/excon-0.45.3/lib/excon/connection.rb:373:in `response'
        from /var/lib/gems/1.9.1/gems/e

[2015-04-23 16:19] yannh commented on #3541
Considering the fact that core/collection.rb calls save without parameters, and touching core is probably not what we want to do, adding an attribute :force to the Snapshot class seems inevitable to me.

Adding a :force attribute to the snapshot class and

  force = self.force if self.force

at the beginning of the save function in the snapshot class fixes the issue while staying backward compatib

[2015-04-23 20:00] kaseyalusi commented on #3536
That is a good point.  I created this so that the fog api could be used for the openstack-compute cookbook (https://github.com/stackforge/cookbook-openstack-compute) and it looks like that cookbook uses:
- nova-manage floating create
- nova-manage network create
- nova-manage network list
- nova-manage db sync

[2015-04-26 00:29] fherbert opened #3543 "[vsphere] Support more options as per vsphere API"
I'd like to modify vm_clone.rd and create_vm.rb to support more of the options available (https://www.vmware.com/support/developer/converter-sdk/conv43_apireference/vim.vm.ConfigInfo.html). The first ones I'd like to add is the ability to manage Memory and CPU hot add enable.
This will also involve changing lib/fog/vsphere/models/compute/server.rb and lib/fog/vsphere/compute.rb to enable to enable

[2015-04-27 12:23] nirvdrum commented on #3534
Sorry, I didn't realize this was a support question.  In any event, I just looked and it seems you can get the host information from the clusters, which belong to a datacenter.

In a simple two host cluster, I have the following:

[code]

If you're looking for more than that, I'm afraid you'll have to drop to the service level and issue requests directly.  Since we route everything through rbvmomi

[2015-04-27 15:29] geemus commented on #3541
@yannh hey, sorry to hear about the difficulty. Adding the attribute to the class sounds pretty reasonable actually, why do you think that solution wouldn't be good?

[2015-04-27 15:29] geemus commented on #3536
@TerryHowe any further thoughts?

[2015-04-27 15:31] geemus commented on #3543
Sounds reasonable, anything we can do to help?

[2015-04-27 15:43] geemus commented on #3534
Thanks!

[2015-04-27 15:43] #3534 closed

[2015-04-27 16:21] TerryHowe commented on #3536
Sounds good to me.

[2015-04-27 18:36] fherbert commented on #3543
I'm working on the commit now, nothing needed from you yet. Once I've tested it I'll create the pull request.

[2015-04-27 19:02] geemus commented on #3543
Great, thanks!

On Mon, Apr 27, 2015 at 1:36 PM, fherbert <notifications@github.com> wrote:

[2015-04-28 09:45] yannh commented on #3541
Hi geemus, thanks for your reply! Well "force" isn't really a feature of a snapshot per se.. Do you think I should make a PR with the patch I proposed? I think it's really quite ugly..

[2015-04-28 12:58] #3458 closed

[2015-04-28 13:14] nirvdrum commented on #3458
Sorry for taking so long on this.  Please comment if you find the fix insufficient.

[2015-04-28 14:15] geemus commented on #3541
Ah, ok, I think I see now. So you are saying that force should JUST be an argument to the save, as it is an option while saving, rather than an ongoing property of the object. (ie when you retrieve the object later it would never have a force attribute). Does that sound accurate?

If so, it seems like having something like `def save(options = {})` might be more appropriate? What do you think?

[2015-04-28 14:19] dhague commented on #3084
Hi folks,

I am now looking at merging our Identity V3 implementation into Fog. Currently we are using the class Fog::IdentityV3::OpenStack so that it can coexist with Fog::Identity::OpenStack - does that sounds OK, or is there some other pattern to follow when having parallel implementations of 2 API versions?

Thanks,
Darren

[2015-04-28 14:24] yannh commented on #3541
Yep, eventually.. But save is called from here: https://github.com/fog/fog-core/blob/master/lib/fog/core/collection.rb#L51  without arguments, and passing attributes to save() might need to change a lot of other code.. I admit I'm not familiar enough with fog's code to know what the nicest solution would be here.

[2015-04-28 14:26] geemus commented on #3458
Thanks!

On Tue, Apr 28, 2015 at 8:14 AM, Kevin Menard <notifications@github.com>
wrote:

[2015-04-28 14:28] geemus commented on #3541
I think we can probably just override that method in this case and change it a little as needed and/or super. I wouldn't be too concerned up front, at the very least I don't think it should hurt anything to give it a shot and see where it gets us. What do you think?

[2015-04-28 14:32] geemus commented on #3084
We hadn't run into it too much (non-openstack doesn't change quite so quickly or drastically). The only other example I can think of off hand would be rackspace and looking at their code it appears it basically follows a similar pattern. I guess the part that sticks out to me is where the nesting is here.

You suggest `Fog::IdentityV3::OpenStack` which seems a bit strange, as other identity stuff

[2015-04-28 14:54] TerryHowe commented on #3084
Any progress is good progress, but it would be kind of nice if the auth url was v2 Fog::Identity::OpenStack was magically a v2 version and if the auth url was v3 it was a v3 version.

[2015-04-28 14:55] yannh commented on #3541
As much as I'd like to help, I'm not sure what you mean... Happy to test any patch though..

[2015-04-28 14:57] geemus commented on #3084
Yeah, you could just ask for Fog::Identity::Openstack.new to take a version param explicitly also, and switch based on that or something maybe?

[2015-04-28 15:00] TerryHowe commented on #3084
Well, all the services use this logic which looks good to me:

https://github.com/fog/fog/blob/master/lib/fog/openstack/compute.rb#L413

[2015-04-28 15:03] dhague commented on #3084
@geemus: All the other OpenStack services follow the pattern Fog::<ServiceName>::Openstack, so Fog::OpenStack::IdentityV3 doesn't quite fit. Using OpenStackV3 would suggest that this is V3 of OpenStack, also not quite right. Maybe Fog::Identity::OpenStack::V3?
@TerryHowe: So I guess that we could rename the current Fog::Identity::OpenStack to Fog::Identity::OpenStack::V2, and then it's just a matt

[2015-04-28 15:07] TerryHowe commented on #3084
I like that idea @dhague

[2015-04-28 16:15] geemus commented on #3084
@TerryHowe Ah, yeah, switching on URL sounds alright. Automatic definitely beats manual, I just didn't know if that was assured to be around in all installations or whatever.

@dhague yeah, definitely agree most of those options seemed a little weird. The ...::V2 and ...::V3 version you propose sounds like a good way to do it. Thanks!

[2015-04-28 16:32] TerryHowe commented on #3084
Well, I think v2 makes a lot more sense as a default than v1 like compute is using in that example I posted above.  Should consider dropping v1 support.

[2015-04-28 17:31] matkam opened #3544 "AWS S3 signing token expiring when using IAM profile"
When using fog with an IAM profile instead of key files, the S3 signing token does not get refreshed and expires after some time (~10 hours) causing signed S3 URLs to no longer be valid.

https://github.com/carrierwaveuploader/carrierwave/issues/1547

[2015-04-29 02:53] crazymykl commented on #3416
This still happens if the path starts with a double slash.

[2015-04-30 01:30] thebaron22 opened #3546 "AWS region eu-central-1 is reported as unknown region"
AWS region eu-central-1 is reported as unknown region in latest version 1.23.0.

[2015-04-30 04:12] muaaz-vf opened #3547 "Amazon S3 Shifting from SSLV3 to TLS"
Hi Guys,
     I just received an email regarding amazon is discontinuing the SSLV3 and moving to TLS, i just needed to verify with you guys that current implementation is good to go. Thanks for the very great gem, love to use it.

Regards,
Muaaz Rafi

[2015-04-30 04:13] tischler commented on #836
@geemus this page comes up fairly easy when googling for signed URLs.  if you know a better way, you should add a link to this thread... cheers!

[2015-04-30 14:58] danjellesma opened #3548 "Security Group IDs in AWS EC2 Network Interface"
I'm trying to launch some instances into a VPC that has public IPs disabled by default. The way I've been able to work around that is by using

[code]

This fails saying "UnknownParameter => The parameter SecurityGroupIds is not recognized".

Using the 'Parameter' => 'value' format was something I found in a Fog issue. The commented out 'security_group_ids' that worked before adding the network_in

[2015-05-01 15:54] #3543 closed

[2015-05-01 16:03] geemus commented on #836
Hmm, hard to remember now. I think basically you can just do the second part above (with `new` calls), but skip the head step. If the file doesn't really exist it would be invalid, but if you have reason to believe it does, it saves you the round-trip. I think that is probably what I meant, but, has been a while. Hope that helps!

[2015-05-01 16:05] geemus commented on #3547
Hey, thanks for checking in. We use excon as our underlying http transport and by default it does not specify anything related to SSL versions, which I believe means it should just negotiate with the server about what version they ought to use together. I think this should make it transparent to us when this transition happens. If that doesn't turn out to be the case, there are ways to specificall

[2015-05-01 16:05] #3547 closed

[2015-05-01 16:06] geemus commented on #3546
Sorry to hear it. Could you provide a bit more context around what you are doing that results in the error to help us pin things down? Thanks!

[2015-05-01 16:09] geemus commented on #3544
Hmm. I'm not aware of anything in particular around this, but perhaps just because I haven't done this before. I don't know of anything on our end that would be specifically ending up in this situation, it may be a limitation/setting on the AWS side. Have you looked at their documentation around instance profiles and/or raised it with their support?

[2015-05-01 17:02] matkam commented on #3544
I believe its by design. From their documentation (https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/iam-roles-for-amazon-ec2.html): "These security credentials are temporary and we rotate them automatically." Fog probably loads temporary credentials and stores them until it gets reinitialized. The temporary credentials give you the expiration time. So for every use of the token, fog would have

[2015-05-01 19:35] geemus commented on #3544
Thanks for the update. Looks like we store the expiration time already: https://github.com/fog/fog-aws/blob/5903a7819b12ec6feb3b1d4177f9a1f4a4ca3a59/lib/fog/aws/credential_fetcher.rb#L19. So presumably we could check against that before making subsequent requests and refresh if needed, would you be up for working on a related pull request? Thanks!

[2015-05-01 20:16] geemus commented on #3541
Sure, just may be a few days before I can get to it.

[2015-05-02 04:32] matkam commented on #3544
Looks like ```Fog::Storage::AWS::Utils#signed_url``` (https://github.com/fog/fog-aws/blob/5903a7819b12ec6feb3b1d4177f9a1f4a4ca3a59/lib/fog/aws/storage.rb#L141) just needs to make a call to ``refresh_credentials_if_expired```. I'll make a pull request after testing.

[2015-05-03 20:06] marcamillion commented on #3533
@homezada It seems like you are also using Carrierwave, do you mind gisting your updated `config/initializers/carrierwave.rb` file, particularly your `fog_credentials` portion.

This is all quite confusing, so any code you can show about how you fixed it, would be greatly appreciated.

Thanks much!

[2015-05-04 12:41] clsacramento commented on #3285
Hi! Trying again...

This is what I put on the template (server.xml.erb) that works for me:

<devices>
<% volumes.each do |vol| -%>
    <% args = {}
            File.readlines('/etc/foreman/ceph.conf').each do |line|
                pair = line.strip.split("=")
                key = pair[0]
                value = pair[1]
                args[key] = value
            end
        %>
    <% if vol.p

[2015-05-04 13:23] deathwishdave commented on #3533
+1 marcamillion's request. Thanks

[2015-05-04 16:31] keeleysam opened #3555 "[vsphere] add support for boot firmware"
Similar to #3543, I would like to have support for changing the boot firmware when creating virtual machines.  Most (all?) non-Mac operating systems use BIOS by default with vSphere, but EFI is supported and may be preferred in some situations.

See 'firmware' at http://pubs.vmware.com/vsphere-60/index.jsp?topic=%2Fcom.vmware.wssdk.apiref.doc%2Fvim.vm.ConfigInfo.html, it has been supported since v

[2015-05-04 19:03] homezada commented on #3533
Sure, although all we changed to test through the AWS end-point was the path_style to true from the default of false:

https://gist.github.com/homezada/0469f1e24dc98f045c4b

This allowed us in a dev environment to use an /etc/hosts alias of s3.amazonaws.com to the IP we were given by Amazon for non SSLv3 bucket testing. The default path would otherwise be bucket1.s3.amazonaws.com, as in the bucket

[2015-05-04 21:27] geemus commented on #3544
Good catch, thanks!

[2015-05-04 21:27] #3544 closed

[2015-05-04 21:29] geemus commented on #3285
Thanks for the updates!

[2015-05-04 21:29] #3285 closed

[2015-05-04 21:32] #3555 closed

[2015-05-06 12:31] ParthBarot-BoTreeConsulting commented on #3533
Please see this SO link and a Excon bug.

http://stackoverflow.com/questions/29656452/aws-s3-disabling-sslv3-support

https://github.com/excon/excon/issues/478

I am facing the same issue, got the S3 setup without SSLv3 but now Excon is throwing the error.

Any help would be great.

[2015-05-06 18:41] geemus commented on #3533
responded on the excon issue

[2015-05-07 15:53] geemus commented on #3548
Sorry to hear you are having trouble with this, it is a bit tricky to navigate.

You can see more about how it assigns those options here: https://github.com/fog/fog-aws/blob/master/lib/fog/aws/models/compute/server.rb#L141

In particular, the network/security group related stuff is here: https://github.com/fog/fog-aws/blob/master/lib/fog/aws/models/compute/server.rb#L174

From my reading of it ju

[2015-05-07 15:53] #3548 closed

[2015-05-07 16:53] nohtyp opened #3559 "Trying to make connection to Ovirt node using fog"
When I configure authentication to oVirt using curl command, I get back results from the API, but when using fog (1.29.0, 1.28.0, 1.25.0) I continuously get back the OVIRT::OvirtException: SSL_connect returned=1 errno=0 state=SSLv3 read server certificate B: certificate verify failed
from /home/thomas.foster/.rvm/gems/ruby-2.1.4/gems/rbovirt-0.0.35/lib/rbovirt.rb:197:in `handle_fault'

The curl co

[2015-05-07 18:33] geemus commented on #3559
Could you set `EXCON_DEBUG=true` and run again? I think the output from that will give us a lot more to work with in terms of getting this debugged. Thanks!

[2015-05-07 18:49] nohtyp commented on #3559
This is what I get back...

irb
2.1.4 :001 > require 'fog'
 => true
2.1.4 :002 > EXCON_DEBUG=true
 => true
2.1.4 :003 > test = Fog::Compute.new :provider => 'Ovirt', :ovirt_ca_cert_file => '/etc/pki/tls/certs/ca-bundle.crt', :ovirt_username => 'admin@internal', :ovirt_password => 'new.one', :ovirt_port => 443
 => #<Fog::Compute::Ovirt::Real:17165780 @client=#<OVIRT::Client:0x0000000297a3e0 @api_en

[2015-05-07 18:51] nohtyp commented on #3559
I also tried it with the ovirt_ca_no_verify option:

 test = Fog::Compute.new :provider => 'Ovirt', :ovirt_ca_cert_file => '/etc/pki/tls/certs/ca-bundle.crt', :ovirt_username => 'admin@internal', :ovirt_password => 'new.one', :ovirt_port => 443, :ovirt_ca_no_verify => true
 => #<Fog::Compute::Ovirt::Real:21461600 @client=#<OVIRT::Client:0x000000028c5878 @api_entrypoint="https://ovirt-mgmt.nsof-vtl

[2015-05-08 14:03] nirvdrum commented on #3419
Not to cry the sky is falling, but I received an email from DO saying they're completely shutting the v1 API off on Nov. 1, 2015.  That's less than 6 months from now and fog still doesn't support V2.  I trust we'll get something in in one form or another, but there's a lot of tools built around fog that aren't going to have much time to adapt.

Having framed the context, has there been any additio

[2015-05-08 17:38] fcheung commented on #3546
According to the [changelog](https://github.com/fog/fog/blob/master/CHANGELOG.md) , eu-central-1 was only added in 1.25.0

[2015-05-12 00:09] danaronson commented on #3275
+1 to update the documentation if this behavior is necessary. We just ran into it too!

[2015-05-13 15:02] geemus commented on #3559
I'm unsure, I believe we are passing the no verify option through, so perhaps this is an rbovirt issue? Asking there may be more helpful anyway as they may have more specific ideas than we have here. Do let me know if there is anything else I can help with, but without more knowledge of rbovirt/libvirt, I'm afraid I am not well equipped to help.

[2015-05-13 15:02] #3559 closed

[2015-05-13 15:03] #3546 closed

[2015-05-13 15:03] geemus commented on #3546
@fcheung thanks for narrowing that down.

[2015-05-13 19:11] #3084 closed

[2015-05-15 14:13] mg03 opened #3565 "Attach instance to existing autoscaling group?"
Hi
The aws cli has a way to attach instances to an autoscaling group , for example ( taken from aws website) -

aws autoscaling attach-instances --instance-ids i-93633f9b --auto-scaling-group-name basic-auto-scaling-group

Is there a way to do the same using fog?

Regards

[2015-05-18 13:19] #2798 closed

[2015-05-18 14:01] nirvdrum commented on #2798
@stefancocora Thanks for the follow-up.  I don't think anyone thinks supporting vmWare 4.x is a waste of time.  But no one working on the vmWare stuff works for vmWare . . . we're all volunteers.  Volunteers naturally work with what they have. vmWare is a harder case because the ESX products with API support all require expensive licensing.

If you'd like to see better vmWare 4 support, I'd be hap

[2015-05-18 14:46] stefancocora commented on #2798
That is fine @nirvdrum , I completely agree and understand the lack of support on vmWare 4.x !
I've closed this ticket because it is > 1year old and by now things have changed:
- the vmWare cluster has been upgraded to 5.x
- I don't need to do any of the hacks that I needed for version 4

I've also figured I'd remove one ticket out of your queue of open tickets :)

[2015-05-18 14:54] nirvdrum commented on #2798
Thanks.  And no worries.  I just wanted to let you know that we don't have a policy actively forcing 5.x+.  But, if you're on 5.x, I guess you're now in the camp that can't test against 4.x either ;-)

[2015-05-20 18:05] geemus commented on #3565
It looks like that is implemented as http://docs.aws.amazon.com/AutoScaling/latest/APIReference/API_AttachInstances.html, which it doesn't appear we support yet. It could be added without too much trouble if you would be interested in working on it. Just let me know if you need any help or have questions. We would want to add it to the fog/fog-aws repo if so. Just let me know if you have questions

[2015-05-20 18:05] #3565 closed

[2015-05-20 20:16] vlasar commented on #3099
Any update on being able to use ```fog``` with Rails 4.2?

Do we need to wait for 2.0 version or did I misunderstood?

Thank for all your work.

[2015-05-21 13:56] plribeiro3000 commented on #3099
@viasar Since `ruby 1.8.7` will be dropped on `fog 2.0.0` we can't bump the `nokogiri` dependency until it happens.

@geemus Perhaps we should hurry a bit on `fog 2.0.0` to add compatibility with `rails 4.2.0`?

[2015-05-21 14:46] vlasar commented on #3099
@plribeiro3000 Ah, makes sense. Thank you for the clarification.

[2015-05-22 07:50] tokengeek commented on #3099
I don't think there's much holding us up (except for available time).

We can bump the version numbers and merge the PR. It's just making sure
all the critical things (if any) are done.

[2015-05-26 08:13] bechampion opened #3569 "list virtualSwitches - vsphere"
Hi there , Is there any example of how to list all virtual switches in a network?

I see some code in list_networks but not sure if that's the right way to get this done.

Thanks!

[2015-05-27 13:38] majewsky opened #3572 "Request to OpenStack Glance has broken percent-encoding on URL argument"
The following code,

[code]

using Fog v1.29.0, generates the following HTTP request:

[code]

As you can see, the space in the image name is malencoded as `%2520` rather than `%20`, thus the lookup fails and `my_image` is nil.

The remote site is a Glance in a Devstack (Kilo release).

[2015-05-27 14:00] TerryHowe commented on #3572
Maybe something like this: https://github.com/fog/fog/pull/3573

[2015-05-27 21:19] geemus commented on #3572
closed by #3573

[2015-05-27 21:19] #3572 closed

[2015-05-28 20:49] geemus commented on #3569
@nirvdrum any advice you can share? Thanks!

[2015-05-30 18:05] nirvdrum commented on #3402
Having not heard anything in about 4 months, I'm going to close this.  Please comment if you think it should be reopened.

[2015-05-30 18:05] #3402 closed

[2015-05-30 20:57] nirvdrum commented on #3480
@pdilung Sorry for just getting around to this.  But linked clones need to made from a snapshot of the parent, as I understand it.  Since templates don't have snapshots, that wouldn't be doable.  The only way I can really see solving that is to clone from the template, take a snapshot, and take a linked clone from that.

If you're just looking do thin provisioned clones from a template, I don't th

[2015-05-30 21:09] nirvdrum commented on #3569
`list_networks` will list all the standard networks, distributed switches, and distributed port groups, I believe.  The output of this call, however, is a simplified hash extracting key attributes.  If you need access to more information, you can get the raw network objects (from rbvmomi) by calling `raw_networks(datacenter_name)`.

[2015-05-30 21:09] #3569 closed

[2015-05-31 04:05] plribeiro3000 commented on #2945
I'm closing this issue in favor of fog/fog-google#38.

If you have something to share, please do so there. Thanks!

[2015-05-31 04:05] #2945 closed

[2015-05-31 04:09] plribeiro3000 commented on #3029
I'm closing this issue in favor of fog/fog-google#39.

If you have something to share, please do so there. Thanks!

[2015-05-31 04:09] #3029 closed

[2015-05-31 04:13] plribeiro3000 commented on #3083
I'm closing this issue in favor of fog/fog-google#40.

If you have something to share, please do so there. Thanks!

[2015-05-31 04:13] #3083 closed

[2015-05-31 04:17] plribeiro3000 commented on #3114
I'm closing this issue in favor of fog/fog-google#41.

If you have something to share, please do so there. Thanks!

[2015-05-31 04:17] #3114 closed

[2015-05-31 04:20] plribeiro3000 commented on #3320
I'm closing this issue in favor of fog/fog-google#42.

If you have something to share, please do so there. Thanks!

[2015-05-31 04:20] #3320 closed

[2015-05-31 04:24] plribeiro3000 commented on #3339
I'm closing this issue in favor of fog/fog-google#43.

If you have something to share, please do so there. Thanks!

[2015-05-31 04:24] #3339 closed

[2015-06-01 14:19] tlawrence opened #3576 "[vcloud-director] Add EdgeGateways collection to VDC model"
When enumerating Edge Gateways for a vCloud Director environment the highest level object with this data is a VDC. VDC does not currently expose EdgeGateways via the data model

[2015-06-01 16:16] geemus commented on #3402
Thanks!

On Sat, May 30, 2015 at 1:05 PM, Kevin Menard <notifications@github.com>
wrote:

[2015-06-01 16:24] geemus commented on #3569
Thanks!

On Sat, May 30, 2015 at 4:09 PM, Kevin Menard <notifications@github.com>
wrote:

[2015-06-01 16:24] geemus commented on #3480
Thanks!

On Sat, May 30, 2015 at 3:57 PM, Kevin Menard <notifications@github.com>
wrote:

[2015-06-01 19:26] geemus commented on #3576
Would you be up for working on a pull request to add this? Thanks!

[2015-06-03 12:48] majewsky opened #3578 "Fog::Image::OpenStack does not correctly construct URL for versioned API"
My `image` endpoint is configured as `http://glance.local:9292/` without an API version number, so `Fog::Image::OpenStack` uses `Fog::OpenStack.get_supported_version` to figure out the versioned API base URL by querying `GET /` on the Glance. This is the result returned from Glance (Kilo):

[code]

The `get_supported_version` method decides that it likes the `v1.1` version and returns that, but th

[2015-06-03 13:14] majewsky commented on #3578
Okay, it turns out that this was not the root cause for my problems (the main problem was that the database on the Glance host had crashed). I'd still consider the described behavior wrong for the same reason, even if Glance happens to accept the `/v1.1/` URL right now.

[2015-06-03 13:41] TerryHowe commented on #3578
What part of the behavior is wrong because it looks to me like get_supported_version is making a good choice out of the available versions.

[2015-06-03 13:42] majewsky commented on #3578
The choice of the v1.1 version is good, but it comes up with the URL path `/v1.1/` (as in: `http://glance.local:9292/v1.1/`) while Glance reports the v1.1 API to reside at `/v1/`. My point is that the reported URL should take precedence over guesstimated URL schemes.

[2015-06-03 13:57] TerryHowe commented on #3578
/v1.1/ shouldn't be in versions list if the URL isn't supported.

[2015-06-03 13:58] majewsky commented on #3578
v1.1 is supported, but its URL is not `/v1.1/`, as can be seen in the response from Glance above.

[code]

[2015-06-04 01:03] asebastian-r7 opened #3579 "[vsphere] fog fails to find nested resource pools"
We are currently having an issue with cloning to a nested resource pool. I believe the root of the problem lies in the get_resource_pool method not supporting nested resource pools.

This works
[code]

This does not
[code]

[2015-06-04 15:30] geemus commented on #3579
@nirvdrum could you take a look when you get a moment? Thanks!

[2015-06-05 09:33] vysakhf22 commented on #3168
@tacticiankerala Hey, I tried setting the fog_attributes in the Carrierwave initializer like you have said, but I couldn't save the file, getting a Bad request from Amazon. Tried with v.0.10.0 and the master branch versions of Carrierwave.

Can you please tell what I'm doing wrong?

[2015-06-05 09:53] tacticiankerala commented on #3168
I am not sure what could be the problem. Can you post sample code?

PS: I am going out of town for a few days. Please expect delay in response.
On Jun 5, 2015 3:03 PM, "vysakhf22" <notifications@github.com> wrote:

[2015-06-05 11:45] vysakhf22 commented on #3168
@tacticiankerala Thank you :) I just got it working, had issues with proper md5 encrypt key i think