[2015-06-08 21:02] TJM commented on #3419
I figured this was going to appear before it went out of beta at DO, but it is out of beta, and this doesn't appear to be much further. I am a "consumer" of this module, and would love to see some of the APIv2 functionality. Not sure if I can talk my boss into doing this though. Maybe we can get some more funding donated to https://www.bountysource.com/issues/8130303-digitalocean-use-the-v2-api to

[2015-06-08 21:06] nirvdrum commented on #3419
I was really hoping DigitalOcean would step up to the plate.  They're naturally the one's most qualified to do the upgrade, they one's that want people off V1, and the one's that have the most to gain by people using the API.  It might be worth pinging them to see where they're at with things.

[2015-06-09 16:35] bryanl commented on #3419
We're going to release DigitalOcean API v2 support in a new fog-digitalocean module. Work has just started, but I expect to have results soon.

[2015-06-11 08:32] dra opened #3588 "[cloudstack] API does not provide a way to pass the hypervisor type to cloudstack"
Hi everybody.

I am currently working on the CloudStack plugin for Foreman (https://github.com/bytemine/foreman_cpp_cloudstack) and struggling to hand over the hypervisor type for ISO deployments to CloudStack.
Am I missing anything, or is this currently not implemented?

Thanks alot, Daniel

[2015-06-11 22:00] SecurityScheduling opened #3589 "Authenticating but cant do anything"
Following along with the examples i successfully authenticate

[code]

but when i try to do anything i get an error:

[code]

Thanks in advance for any help.

Bill

[2015-06-11 22:24] TerryHowe commented on #3589
getaddrinfo is trying to do a dns translation of greyjoy to some IP.  It kind of sounds like greyjoy isn't in your /etc/hosts file.  It isn't a FQDN

[2015-06-12 00:11] geemus commented on #3419
@bryanl thanks for the update, just let us know if there is anything we can help with.

[2015-06-12 14:41] SecurityScheduling commented on #3589
That was it!  Thanks!

[2015-06-12 14:41] #3589 closed

[2015-06-15 11:23] pdilung opened #3590 "[openstack] How to pass information for cloud-init during server creation"
Hello,

I would need some help on how to pass information that is further used by cloud-init within the guest OS. I am doing the following without any luck:
[code]

Any help (preferably with examples ;)) would be much appreciated.

[2015-06-15 12:58] TerryHowe commented on #3590
Looks like you should remove that encoding to avoid double encoding:

https://github.com/fog/fog/blob/master/lib/fog/openstack/requests/compute/create_server.rb#L40

You can also just ssh into the server in look in the log file in /var/log to see what it is doing.  I forget the exact name of the file, but it is user-data or cloud-init or something of the like.

[2015-06-15 13:20] mdarby commented on #3590
TerryHowe to the rescue! :)

[2015-06-15 13:47] pdilung commented on #3590
Hey,

thanks for help, I've tried with and without encoding and that did not help. Any further help would be appreciated.

[2015-06-15 14:35] TerryHowe commented on #3590
1) Take a look at your /var/log/cloud-init* file whatever it is called.
2) export EXCON_DEBUG=1 to verify the request going out looks correct.

[2015-06-15 15:58] mdarby commented on #3333
Has this effort regained any steam? Can I help in any way? I am wanting to get Rackspace and OpenStack into provider gems.

[2015-06-15 16:07] TerryHowe commented on #3333
@mdarby I think this would be a good idea, but I'm spread a little thin to get too involved.  It would probably be best to abandon the refactoring effort and just move over the current code out of core.

[2015-06-15 16:10] plribeiro3000 commented on #3333
I Can work towards extracting if you guys want.

Em seg, 15 de jun de 2015 13:07, Terry Howe <notifications@github.com>
escreveu:

[2015-06-15 16:12] mdarby commented on #3333
I'd be happy to take it on -- last time I tried was ~5 months ago and we ended with a circular dependency...

[2015-06-15 16:18] plribeiro3000 commented on #3333
@mdarby Go for it. =)

I believe you would be the best one to do it!

[2015-06-15 16:18] mdarby commented on #3333
On it. :)

[2015-06-15 17:06] plribeiro3000 commented on #3333
@mdarby Let me know if you need anything! =)

[2015-06-15 20:50] geemus commented on #3333
Awesome, just let us know if we can help!

[2015-06-16 14:17] pdilung commented on #3590
@TerryHowe :+1: for the excon hint.

I can confirm that both files (`user-data` and `meta-data`) are uploaded and stored into the config drive under `<conf_drive>/openstack/content/0000` and `<conf_drive>/openstack/content/0001` respectively. OpenStack even seems to set up the meta data properly in the config disk:
![openstack-latest-meta_data json](https://cloud.githubusercontent.com/assets/10117

[2015-06-16 14:20] pdilung commented on #3590
One more thing. I am trying to deploy RHEL 6 and cloud-init is of version 0.7.4-2.

[2015-06-16 14:39] TerryHowe commented on #3590
All I've ever messed with is running #!/bin/bash scripts, not the cloud-config you are attempting.  You might want to give that a try.  I always used user_data instead of personality.  Sounds like novaclient is using user_data as well based on the cli option.

[2015-06-16 14:40] pdilung commented on #3590
@TerryHowe All right, I'll give it a shot and report back. Thanks for the hint.

[2015-06-16 14:51] pdilung commented on #3590
@TerryHowe Would it be possible to share a code snippet with user_data please? Thanks.

[2015-06-16 15:23] TerryHowe commented on #3590
I *think* you'd replace ':personality =>...' in your code with something like:

    user_data_encoded => [ascii_userdata].pack('m'),

I've been doing mostly Python lately, but I kind of think https://github.com/fog/fog/blob/master/lib/fog/openstack/models/compute/server.rb#L87 would *not* get called if you passed in

    user_data => ascii_userdata,

[2015-06-17 13:54] dra commented on #3588
No response? Am I the only one that would use this feature?
Daniel

[2015-06-17 14:46] pdilung commented on #3590
@TerryHowe :+1: That did the trick.

The last thing what has remained is to make explicit network settings work. It is not always the case that all subnets in our OpenStack deployment use DHCP. To my understanding, I should pass meta data while spawning an instance:
[code]
This call creates an entry in `<config_drive>/openstack/latest/meta_data.json`:
[code]
The problem is that _cloud-init_ does n

[2015-06-17 14:52] pdilung commented on #3590
One way how to mitigate the problem with explicit networking setup would be to write network setup file in cloud-config:
[code]
But that is IMHO an ugly hack.

[2015-06-17 15:19] TerryHowe commented on #3590
I don't think the file writing in cloud-config is too bad.  I guess one other alternative is you configure up a server the way you want and snapshot it and create a private image out of that.

[2015-06-17 16:26] geemus commented on #3588
I haven't used cloudstack I fear.

@athirn @fifthecho either of you able to provide more insight? Thanks!

[2015-06-17 17:11] athirn commented on #3588
the service provider I have been using has switched to openstack so I'm unable to work on Cloudstack anymore.  sorry

[2015-06-17 17:15] geemus commented on #3588
@athirn no problem, thanks for the update.

[2015-06-17 19:45] fifthecho commented on #3588
@dra According to the https://cloudstack.apache.org/api/apidocs-4.5/user/deployVirtualMachine.html documentation, you should be able to use https://github.com/fog/fog/blob/master/lib/fog/cloudstack/requests/compute/deploy_virtual_machine.rb by building all the options into a hash (hypervisor, serviceoffering, zone, template [which would be the ISO ID], ROOT disk offering, and network or security g

[2015-06-18 19:52] geemus commented on #3541
@mdarby Any chance you could take a look at this? Thanks!

[2015-06-18 19:57] mdarby commented on #3541
I'll take a look at it first thing tomorrow.

[2015-06-18 19:58] geemus commented on #3541
Awesome, thanks. It didn't look too crazy, but I also didn't dig in too
deep. Just let me know if you have questions or there is anything I can
help with.

On Thu, Jun 18, 2015 at 2:57 PM, Matt Darby <notifications@github.com>
wrote:

[2015-06-21 22:52] jianbo opened #3597 "Excon::Errors::SocketError Broken pipe (Errno::EPIPE) when use Activeadmin upload image by nested form"
I have following association, this error only appears if I set storage: fog,

    class Article < ActiveRecord::Base
	has_many :article_images
        accepts_nested_attributes_for :article_images, :allow_destroy => true
  end

class ArticleImage < ActiveRecord::Base
  belongs_to :article

  mount_uploader :image, ArticleImageUploader
end

And my uploader:

# encoding: utf-8

class ArticleImageUpl

[2015-06-22 04:23] scttdavs opened #3598 "Small file uploads to s3 fine, larger file breaks"
I'm using fog (1.31.0) and carrierwave (0.10.0) in my rails app. It works fine for smaller images, say 300px square, < 300kb in size. They upload to my s3 bucket no problem. I'm also processing the images to thumbs (200px square).

But when I try anything larger, 600kb is the largest I could get without this error below being thrown. The error message itself is about `error` not existing here: htt

[2015-06-22 12:32] seanhandley opened #3599 "[OpenStack] NoMethodError: create_flavor_metadata"
For some reason, `Fog::Compute` is unaware of the `create_flavor_metadata` service method. The model object similarly is reporting to be unaware of the method. It seems to be declared in `compute.rb`, so it's not exactly clear what's going on.

[code]

Any ideas?

[2015-06-22 12:40] #3599 closed

[2015-06-22 15:00] geemus commented on #3598
Not off hand. I'm having a hard time lining that error up with the current codebase (though we used to have an error that looked like this). It appears you are up to date there though, which is mysterious to me.

[2015-06-22 15:01] geemus commented on #3599
Did you figure out what you needed here?

[2015-06-22 15:02] geemus commented on #3597
I suspect this may be more of a carrierwave issue than fog or excon per se, but I'm not sure. Could you include more information about the backtrace you are getting when things go awry? Thanks!

[2015-06-23 00:39] scttdavs commented on #3598
some more info:

[code]

It seems to be failing as it writes to s3 in this while block: https://github.com/excon/excon/blob/master/lib/excon/connection.rb#L146

the request is built fine and there is chunked data ready to send.

here is the request:
[code]

[2015-06-23 11:39] Ladas opened #3603 "[openstack] randomly failing tests in CI"
Randomly failing tests in CI, probably dependent on some variable order of things

  Fog::Compute[:openstack] | security_group (openstack) ++++++++
      tests/openstack/models/compute/security_group_tests.rb
        success
        Fog::Compute[:openstack] | security_group (openstack)
      - successfully destroyed rule
        expected => true
        returned => false

      tests/openstack/mod

[2015-06-23 14:34] geemus commented on #3603
Thanks for calling these out. I think I've tried to look into them once or twice before, but without much luck. Hopefully we'll be able to pin them down one of these days.

[2015-06-23 16:00] geemus commented on #3598
I'm not sure, maybe something to do with the chunked encoding stuff (though I haven't really seen this before). You should be able to do without actual chunked encoding, since excon does something similar anyway (reading/writing smaller chunks at a time). I would expect any issue to be at a larger size than that though, I think the default size of chunks to write is 1mb, so I'd expect that to be t

[2015-06-28 20:18] plribeiro3000 commented on #3430
There is just providers left to close this issue which are `fog-brightbox` and `fog-profitbricks`.
After a while i've managed to work both PR's again and make a solution that the maintainers might feel more comfortable to merge. Once it happens we are good to close this regression issue and start preparing `2.0.0` release.

[2015-06-28 23:42] scttdavs commented on #3598
closing since fix is here https://github.com/excon/excon/issues/514

[2015-06-28 23:42] #3598 closed

[2015-06-29 15:40] geemus commented on #3598
Thanks.

On Sun, Jun 28, 2015 at 6:42 PM, Scott Davis <notifications@github.com>
wrote:

[2015-06-30 11:58] dra commented on #3588
Sorry, I am pretty stuck here, as foreman does not call deploy_virtual_machine directly. My call stack looks basically like this:
module ForemanCPPCloudstack
  class Cloudstack < ComputeResource
  def create_vm
    ...
    client.servers.create options (client.server.class = Fog::Compute::Cloudstack::Servers)
  end
end

This seems to end up in lib/fog/cloudstack/models/compute/server.rb in save()

[2015-06-30 13:12] fifthecho commented on #3588
Okay, that's a method which, to be honest, I'd never really started using until recently when I've started working on chef-provisioning-fog for CloudStack support and discovered it's using the same mechanism to use Fog.

It may take me a bit of time to refactor this model and not break historical usage of this model but be able to better support all of the options available from CloudStack.

[2015-06-30 14:28] mdarby commented on #3541
Working on this today -- I hope to have a PR EOD. Very sorry for the delay!

[2015-06-30 18:42] mdarby commented on #3541
I've submitted the above PR addressing this. I just added `force` as an attribute -- the [docs](http://developer.openstack.org/api-ref-blockstorage-v1.html#createSnapshot) show it in the payload and it not appearing in the response is kind of expected.

[2015-06-30 19:07] #3541 closed

[2015-06-30 19:07] geemus commented on #3541
Thanks!

[2015-06-30 19:29] yannh commented on #3541
Hi mdarby, many thanks for the PR! Unfortunately I've changed company and can not test this.

[2015-06-30 19:30] mdarby commented on #3541
Still a bug! Thanks for finding and reporting it :)

[2015-07-03 12:38] majewsky opened #3618 "[openstack] Volume API uses Fog::Compute::OpenStack::NotFound exception class"
[lib/fog/openstack/volume.rb#L177](https://github.com/fog/fog/blob/master/lib/fog/openstack/volume.rb#L177) has what is probably just a copy-paste error:

[code]

That custom exception class should be `Fog::Volume::OpenStack::NotFound`.(with `Volume` instead of `Compute`). Since that class already exists and is used in a few other places, I don't see an easy way to fix that in a backwards-compatib

[2015-07-04 15:01] TerryHowe commented on #3618
Too bad there isn't a Fog::OpenStack::NotFound

[2015-07-06 18:55] lasko opened #3620 "[vcloud-director] How to handle tasks"
This is more of a question rather than an issue -- as I have not found any documentation on this.

I'm trying to create a vapp from a template, but I also need to set the vm name (Virtual Machine Name, and Hostname) and the only way I know how to do this is via the put_vm method.

[code]

Well ... This produces an error

[code]

I know I need to wait for the new vapp to be created but I cannot fig

[2015-07-07 09:41] skyeagle opened #3622 "Danger! zero file uploading!"
Hello!

We experienced a serious bug in production. We discovered that small part of our files had been  uploaded with zero size. The issue involves `excon` gem (@geemus).

The main problem was with custom `chunker` and possible retries (e.x. re-authentication on stale auth token) during upload request. There is no `rewind` for a file in the code of [fog][1] and [excon][2] at the moment and it's h

[2015-07-07 09:53] skyeagle commented on #3622
It looks like the issue is not only `openstack` related. So, I'll edit the title.

[2015-07-07 20:14] geemus commented on #3620
Usually in situations like this, it would be something like `new_vapp.wait_for { ready? }`, but I'm not really very familiar with vcloud specifically.

[2015-07-07 20:15] geemus commented on #3618
I guess you could raise it but make it a subclass of excon not found, but that seems pretty weird/bad also.

[2015-07-07 20:18] geemus commented on #3622
Hmm, this does seem problematic. Could you elaborate on why you need a custom chunker? In many cases the default one (which loads ~1mb into memory and writes it to the socket at a time) is sufficient. Thanks!

[2015-07-07 20:40] skyeagle commented on #3622
We needed a progress of uploading on that moment. We use the default one now as a working solution but it also with a workaround. Idempotent behaviour did retry queries (4 default) even on auth error (401). As result, we have set retries to 0.

[2015-07-09 07:45] MihirKumarThakur opened #3626 "condition based change of fog_directory"
i have using fog successfully in recent year with paperclip with no issue. Now my requirement have changed .following are my requirements :-
1. i have two different uploader in project.
2. i want to store files in s3.
3. i don't want to make a new filed for paperclip in my database.
4. i have only one attached file .
5. i want to make the behaviour of attached file differently when it comes from d

[2015-07-09 15:27] geemus commented on #3626
I'm afraid I don't know off hand how best to accommodate this, it seems like mostly a paperclip usage issue rather than a fog one in particular though. So perhaps maintainers on that project would be better able to answer this question well?

[2015-07-13 15:13] geemus commented on #3622
You might be able to write a middleware to manage your own idempotent behavior, I guess I'm not certain of the best approach here since I haven't really heard from others about running into this usage pattern/set of errors.

[2015-07-13 15:23] skyeagle commented on #3622
Ok, thank you. I'll close the issue.

[2015-07-13 15:23] #3622 closed

[2015-07-14 14:01] seanhandley commented on #3599
Thanks @geemus

Yeah, I had a slightly older version loaded

[2015-07-15 11:56] josetapadas commented on #2701
Confim that it still happens on fog-1.32.0 with rails-4.2.

Somehow, when trying to write to a S3 Bucket via an AWS machine it retrieves "Access Denied", even though thru our local dev machines, with the same keys, it worked.

My solution was switching to ```carrierwave-aws``` since downgrading rails was out of the question.

[2015-07-15 14:39] Veejay commented on #2055
Hello, given the information given on http://www.rackspace.com/blog/rackspace-cloud-files-cdn-launches-ssl-delivery/ it seems like to get the `https://` URI for a give file, I would have to call `public_url` and then massage the returned URI (i.e. change the protocol and the `rXX` to `ssl`).

Is it the only way to this day or is there a method similar to `get_https_url` that actually returns the `

[2015-07-15 15:19] geemus commented on #2701
@josetapadas thanks for the info, glad to hear you found a workaround.

[2015-07-15 15:21] josetapadas commented on #2701
@geemus after further investigation (even with other rails apps that were using fog as well) there seems to be an (unconfirmed) pattern:

It only happens when the app is trying to authenticate to AmazonS3 from an AWS machine. Does this make any sense to you guys?

[2015-07-15 15:23] geemus commented on #2701
Nothing jumps out at me as an obvious culprit from that, at least if the same credentials are used in both places, I would expect the same behavior from both.

[2015-07-15 15:24] geemus commented on #2055
@mdarby could you help out here? thanks!

[2015-07-15 15:25] mdarby commented on #2055
Will look today

[2015-07-16 12:01] pdilung opened #3632 "[openstack] Associate a floating IP address with certain interface"
I would like to associate a floating IP address with certain fixed IP (interface). Although according to [OpenStack API documentation](http://developer.openstack.org/api-ref-compute-v2-ext.html#addFloatingIP) this should be possible by posting a following request:
[code]

It seems that [`associate_address`](https://github.com/fog/fog/blob/b2c6e0df30eae7fb9154ba6bd340f27c0c158855/lib/fog/openstack/

[2015-07-16 13:09] TerryHowe commented on #3632
As I recall, you are supposed to supply a network id or port id with that.

[2015-07-16 13:36] pdilung commented on #3632
@TerryHowe Thanks, could you provide an example? To my understanding, [`associate_address`|https://github.com/fog/fog/blob/b2c6e0df30eae7fb9154ba6bd340f27c0c158855/lib/fog/openstack/requests/compute/associate_address.rb#L5] takes only two parameters, `server_id` and `ip_address` and the request body does not set `network_id` nor `port_id`:
[code]

[2015-07-16 14:04] TerryHowe commented on #3632
I thought if you were using neutron, you'd be using this extension

http://developer.openstack.org/api-ref-compute-v2-ext.html#os-interface

I was just talking OpenStack, not Fog.

[2015-07-16 14:08] TerryHowe commented on #3632
Yeh, I just don't see addFloatingIp working for that.  I don't see any support for os-interface in Fog unless it is hidden somewhere.

[2015-07-16 14:20] pdilung commented on #3632
@TerryHowe  I see, in that case, I am going to implement this feature and create a PR to have this in fog. IMHO, it should be pretty straightforward with minimal changes to current method interface:
[code]

[2015-07-16 15:20] pdilung commented on #3632
I implemented this feature and just tested it. It seems OK. I shall post a PR soon.

[2015-07-24 01:36] nirvdrum commented on #3480
I'm not sure if there's really any action to take on this, so I'm optimistically closing it out.  @pdilung Please comment if you think there's still something for us to do here.

[2015-07-24 01:36] #3480 closed

[2015-07-24 01:37] #3579 closed

[2015-07-24 20:22] plribeiro3000 commented on #3430
@philayres We finally got all fog gems fixed for this regression.

The problem was that fog has a self builded solution to reduce the amount of classes and files loaded but as we started migrating them outside we lost that feature.

The short solution was to use `autoload` and relative paths. @geemus is already working towards a long term solution but for the time being thats the one we are going

[2015-07-24 20:22] #3430 closed

[2015-07-24 20:23] plribeiro3000 commented on #3347
@tokengeek The regression is fixed. Can we move on with this one?

What are we missing?

[2015-07-25 20:51] pschichtel commented on #1328
I'm interested as well and I might have some time in the coming months to work on this

[2015-07-26 16:40] mrjcleaver commented on #1328
Are you interested in KVM or OpenVZ support for Proxmox, @pschichtel ?

[2015-07-26 17:54] pschichtel commented on #1328
@mrjcleaver I'm interested in KVM and LXC once PVE 4 is stable as we're using the 3.X kernel with PVE that doesn't support OpenVZ

[2015-07-27 08:44] tokengeek commented on #3347
Not much. Just time for working on it!

Last time we discussed it was probably just going to be the drop 1.8.7 work for 2.0 which exists and just needs rebasing/updating.

[2015-07-30 17:07] Nitrodist commented on #3275
This error occurs when uploading to a s3 bucket that is hosted in a region other than the one specified in the fog-aws configuration.

In my specific problem, I had two buckets to upload images to using Carrierwave (two separate uploader classes) -- the first one was uploading to a bucket in the us-east-1 region (which is the default set either by Carrierwave or fog-aws) while the second uploader

[2015-07-31 09:35] d063130 commented on #3618
I noticed this copy-paste error also in the following services: baremetal, image, metering, orchestration and planning

[2015-08-02 18:48] plribeiro3000 opened #3644 "Support new providers and services"
- [ ]  [dropbox.com](dropbox.com)
- [ ]  [box.com](https://www.box.com/)
- [ ]  Ftp Storage Service
- [x]  [aliyun.com](http://www.aliyun.com/)
- [ ] [centurylink](https://www.ctl.io/api/)
- [x] [Proxmox VE](https://pve.proxmox.com/wiki/Main_Page)
- [ ] [Cloudflare DNS provider](https://www.cloudflare.com/dns/)
- [ ] [NS1 DSN](https://ns1.com)
- [ ] [KVM PPC](http://www.linux-kvm.org/page/PowerPC)

[2015-08-02 18:48] plribeiro3000 commented on #1791
closed in favor of #3644

[2015-08-02 18:48] #1791 closed

[2015-08-02 18:49] plribeiro3000 commented on #2914
Closed in favor of #3644

[2015-08-02 18:49] #2914 closed

[2015-08-02 18:49] plribeiro3000 commented on #3238
Closed in favor of #3644

[2015-08-02 18:49] #3238 closed

[2015-08-02 18:50] plribeiro3000 commented on #3137
closing in favor of fog/fog-local#5.

[2015-08-02 18:51] #3137 closed

[2015-08-02 18:55] plribeiro3000 commented on #2859
closing in favor of fog/fog-libvirt#4

[2015-08-02 18:55] #2859 closed

[2015-08-02 18:56] plribeiro3000 commented on #3221
closing in favor of fog/fog-libvirt#5

[2015-08-02 18:56] #3221 closed

[2015-08-02 18:59] plribeiro3000 commented on #3342
closing in favor of fog/fog-libvirt#6.

[2015-08-02 18:59] #3342 closed

[2015-08-02 19:01] plribeiro3000 commented on #3343
closing in favor of fog/fog-libvirt#7

[2015-08-02 19:01] #3343 closed

[2015-08-04 06:33] tealover commented on #3578
hava you soloved this problem yet?? I also met with it when i want to deploy microbosh to kilo .

[2015-08-04 17:55] glennpratt opened #3646 "[dynect] Extract dynect to create fog-dynect"
I'd like to start splitting out dynect into it's own gem. Would this change be accepted as a fog organization project?

Is there a documented process or should I just follow what has been done in previous issues?

[2015-08-04 17:57] plribeiro3000 commented on #3646
You should be fine if you follow [this](https://github.com/fog/fog/wiki/Create-New-Provider-from-Scratch) wiki page.

also take a look at #3430 and the solution being executed.

As for the organization i believe @geemus is your guy. =)

[2015-08-04 18:07] geemus commented on #3646
Yep, sounds good, just let me know if you have questions or anything I can help with. Thanks!

[2015-08-04 18:13] glennpratt commented on #3646
Thanks!

[2015-08-05 17:12] glennpratt commented on #3646
Here's the initial extraction:

https://github.com/glennpratt/fog-dynect

and Travis:

https://travis-ci.org/glennpratt/fog-dynect

Still cleaning up some things, like README.md and looking at the Travis 1.8 failures.

[2015-08-05 18:06] glennpratt commented on #3646
Fixed Travis and updated README.md.

[2015-08-05 18:18] glennpratt commented on #3646
I haven't made any changes for autoloading. Is needed for an initial release or can the be a follow up?

[2015-08-05 19:15] plribeiro3000 commented on #3646
@glennpratt I would like so we don't touch that regression again. Is that a problem?

[2015-08-05 19:19] glennpratt commented on #3646
Not a problem, I'll make a PR for it.

[2015-08-05 19:20] plribeiro3000 commented on #3646
Awesome. Thx!

[2015-08-05 20:03] glennpratt commented on #3646
@plribeiro3000 autoload changes for review: https://github.com/glennpratt/fog-dynect/pull/1

[2015-08-05 20:28] glennpratt commented on #3646
Merged. @geemus anything in particular I need to do to make this a proper fog project?

[2015-08-06 16:53] glennpratt commented on #3646
Created a removal PR at #3651

[2015-08-06 17:19] glennpratt commented on #3646
Published to rubygems: https://rubygems.org/gems/fog-dynect

[2015-08-06 17:21] plribeiro3000 commented on #3646
Awesome. Closing. Lets keep the discussion under #3651.

[2015-08-06 17:21] #3646 closed

[2015-08-07 20:00] geemus commented on #3618
@d063130 good eye, we'll try to fix those as well when we make the change.

[2015-08-11 04:26] dpg5000 commented on #3275
Same issue here, my s3 bucket is explicitly set to us-west1, fog apparently wants only us-east1 and is erroring out with the following message via UsersController:

`The authorization header is malformed; the region 'us-east-1' is wrong; expecting 'us-west-1'`

[2015-08-11 16:12] geemus commented on #3275
@dpg5000 I think if you pass `us-west-1` to the fog config it should cooperate, sorry to hear you are having this issue.

[2015-08-11 16:18] dpg5000 commented on #3275
Thanks!  Great work, by the way!
On Aug 11, 2015 9:12 AM, "Wesley Beary" <notifications@github.com> wrote:

[2015-08-11 16:45] gavelino opened #3654 "fog Truck Factor"
As part of my PhD research on code authorship, we calculated the Truck Factor (TF) of some popular GitHub repositories.

As you probably know, the [Truck (or Bus) Factor](https://en.wikipedia.org/wiki/Bus_factor) designates the minimal number of developers that have to be hit by a truck (or quit) before a project is incapacitated. In our work, we consider that a system is in trouble if more than 5

[2015-08-11 16:50] TerryHowe commented on #3654
Well, Rupak has moved off into the Docker world.  He hasn't been active *recently*.

[2015-08-11 16:51] plribeiro3000 commented on #3654
There is the point where @fog got splitted so not sure about getting only the main repository files.

[2015-08-11 17:08] geemus commented on #3654
What does author mean? I'm sure @tokengeek has touched/updated lots, but I doubt (especially post split) that he wholly wrote 24%? If it is just the last person to touch the files, I'm not sure how accurately it reflects the state.

In any event. I think the core fog projects would be fine for the most part, but some of the sub-projects might be more hurt. Those receiving heavy usage seem likely t

[2015-08-11 17:21] plribeiro3000 commented on #3654
@gavelino I would say that this list is kind of old?

I'm in the community for a while and never seem most of those guys. Maybe we might need another metric other then just files updated?

[2015-08-11 17:43] plribeiro3000 commented on #3654
BTW, thats a nice research. Congratz! :clap:

[2015-08-12 10:11] roflmao commented on #3419
"Version 1 of the API is deprecated and will be shutdown on November 1st 2015"

[2015-08-12 13:17] pdilung opened #3656 "[openstack] Create/list/delete server groups and assign VMs into them"
Hello,

Does somebody know whether OpenStack provider implments creation/deletion/listing of server groups as well as asignment of VMs into them.
Basically I am interested in creation of virtual machine in a certain server group:
[code]

Thanks

[2015-08-12 13:33] TerryHowe commented on #3656
Like this?

https://github.com/fog/fog/blob/master/lib/fog/openstack/requests/compute/create_aggregate.rb

[2015-08-12 16:00] TJM commented on #3419
@bryanl How are things going? Do you need assistance?

[2015-08-13 08:39] pdilung opened #3657 "[vsphere] How to specify a cluster when cloning from template"
Hello,

How can I specify which cluster will be the VM cloned into?

My usecase is the following:
I have one datacenter `d1` with two clusters `c1d1` and `c2d1`. I want to create a VM called `m1c2d1` in cluster `c2d1` by cloning from a template `t1c1d1` (yes, the template is hosted on a cluster `c1d1`).

Thanks

[2015-08-13 08:48] pdilung commented on #3656
Thanks for the tip. I am not sure if host aggregates are suitable for my usecase. My usecase would be to be able to define a bunch of VMs that have an anti-affinity to each other. According to API doc, `server-groups` are used for this. Any further help will be highly appreciated.

[2015-08-13 15:09] geemus commented on #3657
@nirvdrum could you advise? Thanks!

[2015-08-13 19:55] bryanl commented on #3419
@TJM I haven't forgotten about this, but there were other items were higher on the stack. I should start on this in the next two weeks. I'll ping here when I start.

[2015-08-14 08:30] tokengeek commented on #3654
My contribution % is inflated due to the way some code is repeated across providers. So various changes touch many files.

As @geemus mentioned above, after the split the number don't quite feel right.

`fog-core` is a critical (sub) part of fog but it's not reflected here. It was extracted by @elight but written by many others. Evan's name doesn't appear even as a wrapper around those changes.

h

[2015-08-14 16:03] marshallshen opened #3661 "Does Fog::Storage have a general `configure` functionality?"
Based on Fog `README`, to set up a new connection to AWS storage:
[code]

Would it make sense to have the following syntax.
### To set up configuration (sometimes for entire application)
[code]

### When we need a new Fog::Storage connection:
[code]

I'm not sure if there's already support for this (I just briefly scanned through the code base and README).

Thanks!

[2015-08-14 17:09] aashah opened #3662 "OpenStack wrong tenants URL"
When calling `#tenants` on an OpenStack Fog::Compute connection, we get the following:

[code]

The problem may be around the `"http://REDACTED/v2/v2.0/tenants"` url, which has /v2/v2.0.

[2015-08-14 19:26] patakijv opened #3663 "Files#get with block has incorrect data when writing a gzip file"
When using the fog storage rackspace cloud files Files#get method http://www.rubydoc.info/github/fog/fog/Fog/Storage/Rackspace/Files#get-instance_method to retrieve a gzipped tar file (file.tar.gz) using the example shown in the link with a block and writing the data to the file, the resulting file is not of the correct content type. Trying "file file.tar.gz" results in "file.tar.gz: data".
If I r

[2015-08-17 09:14] domcleal commented on #3662
We hit the same issue in Foreman with Fog 1.32.0 and started passing :openstack_identity_endpoint in with the same auth URL to fix it: https://github.com/theforeman/foreman/pull/2529/files

In Fog 1.33.0 it broke again, but passing :openstack_identity_public_endpoint instead seems to work.

[2015-08-17 09:33] domcleal commented on #3662
Regarding this, it appears that https://github.com/fog/fog/commit/6ecc87496b0f3bdb71fbd7c90cb8e4945dadd432#diff-3aa267766daa7f21447cd3c77b43bf39L74 broke this option in 1.33.0, since passing in `:openstack_identity_endpoint` used to result in `@openstack_identity_public_endpoint` being set.

Since that commit, it sets `@openstack_identity_endpoint` instead which isn't used in the code (e.g. https:

[2015-08-18 15:05] geemus commented on #3661
I believe you can achieve this through using `Fog.credentials = {}`, at least for setting the aws access/secret keys. I think when creating new connections you would still need to specify that you wanted aws though. Does that make sense/help?

[2015-08-18 15:05] #3661 closed

[2015-08-18 15:14] geemus commented on #3662
@TerryHowe @Ladas hey, sounds like it might not be too crazy to fix (and that it regressed). Could one of you take a look? Thanks!

[2015-08-18 15:17] geemus commented on #3663
@mdarby could you help out? Thanks!

[2015-08-18 17:02] TerryHowe commented on #3662
Did @dhague see this?

[2015-08-19 06:09] Ladas commented on #3662
seems like inconsistency of naming were there before
@openstack_identity_public_endpoint = options[:openstack_identity_endpoint]

hopefully @dhague can fix it, otherwise I can try. :-) Though I haven't hit this myself

[2015-08-19 07:17] dhague commented on #3662
I will investigate, but likely not until next week - I have the honour of being my team's on-duty support person this week, which tends to absorb all available capacity.

[2015-08-20 22:58] russellsilva opened #3668 "mock directories.create destroys existing directory"
When using `Fog.mock!`, calling `directories.create(key: 'foo')` appears to destroy any existing directory with that key. Is this intended behavior? Am I doing something wrong in my example?

[code]

[2015-08-21 14:55] plribeiro3000 commented on #3668
@russellsilva I will move this issue to [fog/fog-aws](https://github.com/fog/fog-aws) since it is related to `AWS`.

Thank your for your report!

[2015-08-21 14:56] plribeiro3000 commented on #3668
Closing in favor of fog/fog-aws#172.

[2015-08-21 14:56] #3668 closed

[2015-08-21 14:58] plribeiro3000 commented on #3626
@MihirKumarThakur Did you open an issue in `paperclip` for this?

If so can you link this issue?  Thanks!

[2015-08-21 14:59] plribeiro3000 commented on #3597
@jianbo Could you give us more information about the issue? Thanks!

[2015-08-21 15:00] plribeiro3000 commented on #3576
@tlawrence Any feedback on this?

[2015-08-21 15:04] plribeiro3000 commented on #3533
@homezada @geemus I see that the `excon` issue seems is not closed yet. Can we move on with this one or do we need to fix something on our side?

If thats the case i would like to push this ticket to [`fog/fog-aws`](https://github.com/fog/fog-aws) since there are some people following only that repo that might have something to add.

[2015-08-21 15:47] geemus commented on #3533
I think we can probably just close this, but if any one would like to discuss further, a new issue on `fog/fog-aws` would be great. Thanks!

[2015-08-21 15:47] #3533 closed

[2015-08-26 10:55] dhague commented on #3662
https://github.com/fog/fog/pull/3675 should fix this

[2015-08-26 14:24] geemus commented on #3662
Should be fixed by #3675

[2015-08-26 14:24] #3662 closed

[2015-08-26 14:27] domcleal commented on #3662
Thanks!

[2015-08-27 20:42] seanhandley commented on #3419
`bryanl commented 14 days ago`

Hope you can look soon!

[2015-08-27 20:43] seanhandley commented on #3419
`bryanl commented 14 days ago`

Hope you can look soon @bryanl !

[2015-09-01 09:21] pravi opened #3679 "fog-ecloud dependency locking"
is it intentional to keep fog-ecloud exactly at 0.1.1?

[2015-09-01 13:59] plribeiro3000 commented on #3679
I don't think so. it should be `>= 0.1.1`. Wanna send a PR?

[2015-09-01 14:02] geemus commented on #3679
`~>` would probably be better/safer than `>=`, actually.

On Tue, Sep 1, 2015 at 8:59 AM, Paulo Henrique Lopes Ribeiro <
notifications@github.com> wrote:

[2015-09-01 15:24] pravi commented on #3679
~> 0.1.1 or ~> 0.1?

[2015-09-01 15:44] geemus commented on #3679
um, ~ 0.1.1 I think. That should give >= 0.1.1 + < 1.0.0, I believe, which
is what we want if I'm not mistaken.

On Tue, Sep 1, 2015 at 10:24 AM, Praveen Arimbrathodiyil <
notifications@github.com> wrote:

[2015-09-01 15:46] pravi commented on #3679
~> 0.1.1 means >= 0.1.1, < 0.2.0. It is ~> 0.1 then.

[2015-09-01 15:49] pravi commented on #3679
how about other dependencies then? You just want to make sure its < 1.0.0, right?

[2015-09-01 15:53] geemus commented on #3679
Yeah, less than 1.0.0 I think. Sorry, you are correct, we want to leave off
the patch version and just have major/minor or it will limit to minor. I
think any/all of the dependencies being that way should (hopefully) be
fine. Thanks!

On Tue, Sep 1, 2015 at 10:49 AM, Praveen Arimbrathodiyil <
notifications@github.com> wrote:

[2015-09-01 18:33] #3679 closed

[2015-09-01 20:49] geemus commented on #3679
Thanks!

On Tue, Sep 1, 2015 at 1:33 PM, Paulo Henrique Lopes Ribeiro <
notifications@github.com> wrote:

[2015-09-02 09:53] eshao opened #3681 "ADD: Cloudflare DNS provider?"
Has there been any discussion around adding Cloudflare as a DNS provider similar to Route53? I briefly searched but didn't find anything.

[2015-09-02 12:16] agis- commented on #3099
Any news on this one? It's really blocking us from going to Rails 4.2 too.

[2015-09-02 12:18] plribeiro3000 commented on #3099
I think it past time to move on with this. Let me sync to see what we need to accomplish to be sure not to break anything else.

I will let you know once we do it.

Thanks for your support!

[2015-09-02 12:19] agis- commented on #3099
@plribeiro3000 I'd be happy to help with this in order to speed things up. Let me know :)

[2015-09-02 12:20] tokengeek commented on #3099
@plribeiro3000 - I think so too.

I think the best plan is for @geemus to release tomorrow. Then immediately we update the gemspec and documentations dropping 1.8.7

[2015-09-02 12:20] plribeiro3000 commented on #3099
@tokengeek Shall we merge the open PR's then?

[2015-09-02 12:23] tokengeek commented on #3099
@plribeiro3000 - after another release I think, just so there is a clear end version to the 1.x series.

Not sure how up to date they are in case they need rebasing.

[2015-09-02 12:25] plribeiro3000 commented on #3099
alright. One last release for the 1.x series then. Later today i will take a look and see if there is something to be updated but last time i checked we are good to go.

[2015-09-02 14:01] geemus commented on #3681
Good question, not that I recall (a search would probably be better than my memory at this point anyway). Seems like it would be a nice fit, though we would probably do it as it's own gem/repository that was required, rather than having it be in the main repo (as we are doing with all new stuff and gradually trying to convert old stuff to). Definitely happy to discuss or answer questions if I can.

[2015-09-02 14:11] tokengeek commented on #3347
Closing this.

The plan is to release a 2.0.0-alpha gem tomorrow which pretty much drops 1.8.7 support (the major backward incompatible part).

The remaining items tagged with 2.0.0 are the items to work on the next few weeks for a stable 2.0.0

[2015-09-02 14:11] #3347 closed

[2015-09-03 05:39] bshehram commented on #3522
I had this exact same issue. Using OpsWorks with the latest 03.2015 Amazon Linux AMI. I have my custom cookbook that is calling route53 0.4.0. I tried the fixes listed above what finally got me working was forcing the version of fog to be 1.33.0 (the current latest). I did this by putting in the following line in my custom cookbook's attributes/default.rb file:

default['route53']['fog_version'] =

[2015-09-03 12:34] jogaco opened #3683 "uninitialized constant Fog::Service"
Having trouble with this error:

[code]
I get this error with versions from 1.33 to 1.29 inclusive.

Changed Gemfile spec to version 1.20, as I had in another project, and everything worked again

[2015-09-03 14:56] geemus commented on #3683
You may need to also bump your fog-core version in addition to fog. I think anyway that this will resolve that for you.

[2015-09-03 16:08] jogaco commented on #3683
I do not have fog-core in my Gemfile. It is included in Gemfile.lock at 1.32.1 version, which I think is the latest.

[2015-09-03 16:15] geemus commented on #3683
Ah, ok. @plribeiro3000 I think something like this came up historically at some point, do you happen to remember specifics?

[2015-09-04 02:37] plribeiro3000 commented on #3683
Yeah. Which lib or code is triggering this `AWS` storage?
Are you using `route53`?

[2015-09-04 08:31] jogaco commented on #3683
I'm using fog as documented in Carrierwave README 'Optimized Loading of Fog':

[code]

I try to open a rails console and just get the error.

[2015-09-04 09:08] #3099 closed

[2015-09-04 09:09] tokengeek commented on #3099
Removed the constraint, Travis passes and so I've merged.

Hopefully that removes this as a blocker for folks. :smile:

[2015-09-04 09:26] agis- commented on #3099
@tokengeek Great to hear! Will you also cut 2.0 soon or?

Thanks.

[2015-09-04 09:28] tokengeek commented on #3099
At the moment @geemus is the only one of us that release a new version.

I'm sure when he's awake in his time zone he can look at doing so. @plribeiro3000 might have some changes to merge in first based on https://github.com/fog/fog/milestones/v2.0.0

[2015-09-04 12:30] alliantist commented on #2761
Hi there, any chance you could expand on how to implement this workaround?
[code]

[2015-09-04 12:32] trilitheus commented on #2761
Hi there, any chance you could expand on how to implement this workaround?
[code]

[2015-09-04 12:34] trilitheus commented on #2761
For anyone else....
[code]
This does the trick

[2015-09-04 13:04] plribeiro3000 commented on #3099
Yeah, i believe we need to merge some PR's first.

[2015-09-04 13:15] plribeiro3000 commented on #3683
Please take some time to go over carrierwave `README` again.
The optimized loading of fog is for non extracted providers only. See [here](https://github.com/carrierwaveuploader/carrierwave#optimized-loading-of-fog).

[2015-09-04 13:15] #3683 closed

[2015-09-04 13:16] plribeiro3000 commented on #3683
Closing since this is not really an issue.

Thanks for your report.

[2015-09-04 13:24] plribeiro3000 commented on #3683
More precisely, take a look [here](https://github.com/carrierwaveuploader/carrierwave#using-amazon-s3)

[2015-09-04 13:26] plribeiro3000 commented on #3099
One of them are merged already. =)

[2015-09-04 14:33] geemus commented on #3099
Thanks!

On Fri, Sep 4, 2015 at 8:26 AM, Paulo Henrique Lopes Ribeiro <
notifications@github.com> wrote:

[2015-09-04 14:35] geemus commented on #2761
@trilitheus thanks!

[2015-09-04 14:35] #2761 closed

[2015-09-07 19:12] hh commented on #3419
Just to note, we have about 5 weeks of fog functionality on Digital Ocean...

If we (as a community, or any company who needs to make it a priority) have any funds anywhere to allocate to this, I'd be willing to pick it up if we don't hear from @phillbaker or @bryanl

My focus is currently elsewhere, but could be bumped. ;)

[2015-09-08 01:43] nirvdrum commented on #3419
Unfortunately, the window for this has realistically been missed.  Even if a V2 compatible pull request landed today, we'd need lead time for a fog release and then that needs time to filter downstream.  That's a lot to expect of other projects . . . upgrade to a newer fog and rewrite & QA their client code before the V1 shutoff deadline. It may make sense to just start deprecating everything Digi

[2015-09-08 11:20] caffecoder commented on #1328
I'm interested the same things as @pschichtel

[2015-09-08 13:13] agis- commented on #3099
I've just noticed that fog 1.27 for example depends on nokogiri ~> 1.5. So that means we *can* use it with nokogiri 1.6, and thus with Rails 4.2 too. So what was the original issue about?

[2015-09-08 13:17] bryanl commented on #3419
I've had a crazy travel schedule over the past few weeks. My goal this week is to complete the fog v2 work. @nirvdrum, we've set Nov 1 as the date, and that is a bit shorter than 7 weeks from now. Are you sure we are out of time? I realize the window is short.

[2015-09-08 14:16] geemus commented on #3419
@bryanl we will certainly do what we can to support changes, more time is just always better.

[2015-09-10 02:39] nirvdrum commented on #3419
@bryanl I think no matter what we're going to want to see Digital Ocean V2 support within fog, so please don't take my comment as disparaging. I just know of several Ruby-based projects that use fog as its cloud layer and they're going to need time to upgrade. Fog needs time to coordinate a release as well so something can be pushed out for downstream integration. And there's just going to be natu

[2015-09-10 06:03] pdilung commented on #3632
It is not necessary to rewrite `accociate_address` at the end. I could reach my objective by using `ports` and `floating_ips` collections:
[code]

Closing this issue

[2015-09-10 06:04] #3632 closed

[2015-09-10 08:02] voelzmo opened #3687 "Openstack keystone V3 uses deprecated `project_name` instead of `tenant_name` options"
**Description**
Using fog 1.34.0, obtaining tokens using the keystone V3 API uses options with different names than the keystone V2 API.

**Expected behavior**
Switching from V2 to V3 for obtaining tokens for a domain should require changing the URL and adding the new option for specifying the domain - nothing else.

**Actual behavior**
You have to change the options specifying the tenant as well,

[2015-09-10 09:13] dhague commented on #3687
This is by design - tenants do not exist in the V3 API, there are only projects in domains - hence the naming change which reflects the change in the underlying API. This is just one of many cases in which an OpenStack API of vX introduces breaking changes from API v(X-1). To that extent, I disagree with the Expected behaviour described above (although I understand the reasoning behind it).

In su

[2015-09-10 09:57] TerryHowe commented on #3687
v3 auth should require project name/id and most like a domain of some sort.  It is different.

[2015-09-10 11:50] voelzmo commented on #3687
@TerryHowe I understand that V3 is different from V2 in that it provides support for domains.

However, it seems that I'm confusing V1 'projects' with V3 'projects' - I wasn't aware that V2 tenants got renamed again to 'projects' in V3.

So I guess that fog won't hide that from me and I have to adapt my calls to fog, changing `tenant_name` to `project_name`. Thanks @dhague for pointing me to that!

[2015-09-10 13:57] geemus commented on #3419
Yeah, or 503 (or 410). 410 probably being the most semantically accurate.

[2015-09-10 13:57] geemus commented on #3632
Thanks for the detailed update!

On Thu, Sep 10, 2015 at 1:04 AM, Pavol Dilung <notifications@github.com>
wrote:

[2015-09-10 13:59] geemus commented on #3687
Thanks for discussing/working through this. Looks solved if I'm not mistaken, so I'll close. Please comment and we can reopen if I'm wrong though. Thanks!

[2015-09-10 13:59] #3687 closed

[2015-09-10 15:04] TJM commented on #3419
@bryanl are you working on this somewhere publicly? I might have some time this afternoon or tomorrow to try to get this thing done. Even if you are not able to work on it, can you please at least push up what you have to a public repo so that others can help? We need to get the community behind this and get it done. I personally think we need to target the end of Sept, if not sooner.

[2015-09-10 16:28] TJM commented on #3419
one potential workaround that we are looking into is: https://github.com/digitalocean/droplet_kit

[2015-09-11 10:13] tunglam14 opened #3688 "[openstack] Model for quota and usage data"
Hi

I'm integrating Fog gem to my Openstack dashboard.
But i can't find model for showing quota and usage data of a tenant, like this:

[code]

Is it missing?

Thanks

[2015-09-11 11:25] fcheung commented on #3597
I've run into this and figured out the cause (at least in my case)

If there is any sort of authorisation problem, then AWS will send back a 403 response, before excon has finished sending all the data & then kills the connection at some point. Excon sees the dropped connection (hence the exception) but not the 403 response.

This sounds like something that needs to be fixed in excon, but not quit

[2015-09-11 12:54] seanhandley commented on #3688
The most accurate way to get OpenStack usage is to use the metering API (Ceilometer).

The API provides full event data at the `/samples/` endpoint. There's no Fog model associated with the concept of a `Sample` but you can access the request directly like so:

[code]

[2015-09-11 12:57] seanhandley commented on #3688
You'll probably want to use fairly narrow time windows as even on a well-powered setup the MongoDB backend takes quite a while to dig out the data for you.

Other measurement options are shown in the table here:

http://docs.openstack.org/admin-guide-cloud/telemetry-measurements.html

[2015-09-11 13:02] seanhandley commented on #3688
You could also try:

[code]

if you just want the simple view.

[2015-09-11 13:52] seanhandley commented on #3688
Even better, this method's implemented in the Compute::Tenant model

https://github.com/fog/fog/blob/master/lib/fog/openstack/models/compute/tenant.rb

[2015-09-11 17:15] tunglam14 commented on #3688
@seanhandley Great! :+1:

So, how about storage (volume/snapshot/gigabyte) usage data:

[code]

Is it implemented in somewhere?

Thanks

[2015-09-13 19:23] raldred commented on #2701
I can confirm fog 1-32.1 has the same issue. My uploads are created and uploaded to S3 fine but fog still get's stuck with access denied.
Switched to carrierwave-aws and all is well.

[2015-09-14 08:32] agis- commented on #3099
@tnimmo @geemus @tokengeek Any insights on my comment above? Thanks!

[2015-09-14 10:12] tnimmo commented on #3099
@agis we required nokogiri => 1.6 on our project, due to other gem dependencies. Fog at the time of the creating the issue had the following dependency in gemfiles/Gemfile-ruby-1.8.7:

gem 'nokogiri', '~>1.5.11'

So I proposed bumping the version of nokogiri to 1.6, but when we checked the change logs we noticed that nokogiri 1.6 had dropped support for Ruby 1.8.7 which was still supported by Fog

[2015-09-14 14:18] geemus commented on #3099
@tnimmo thanks for taking time to clarify. Hoping to get 2.0 out so you can rejoin us in the not-too-distant future.

[2015-09-14 21:48] geemus commented on #3597
Thanks for the extra details, I'm also not sure how best to handle that particular case. I'll give it some thought though, hopefully there can be something at least a bit more graceful we can do.

[2015-09-14 22:01] geemus commented on #2701
I think in some cases it may also try to lookup permissions and/or presence of objects, so maybe `GetObjectAcl` and/or `HeadObject` if I remember right. So if those are not enabled, I could see that also causing issue.

[2015-09-15 10:35] fcheung commented on #3654
How would changes such as 2e0b7e545a3 affect these metrics? (a rubucop auto correction that touched 3819 files and happened to be committed in by one user).

Personally I know I did a bunch of stuff around the aws bits of fog, but those were extracted into their own sub gem and so don't apply here - I assume the same is true of the other extracted providers.

[2015-09-15 10:42] seanhandley commented on #3688
Not sure.

Perhaps try

[code]

[2015-09-15 11:52] tunglam14 commented on #3688
`Fog::Volume.new(args).get_quota(tenant_id)` will return quota of specific tenant (`tenant_id`),
it isn't return usage statistic of this tenant.

I mean, need add new request for Cinder that call to Cinder API with `usage=True` parameter to get usage data.

Request in curl:

[code]

[2015-09-15 12:12] tunglam14 commented on #3688
i worked on my fork

 https://github.com/tunglam14/fog/commit/d289d307abce589b327963e8ca458bf8e3c02c1a

[2015-09-15 14:31] raldred commented on #2701
I resolved my particular issue here. It requires DeleteObject too if it's replacing and item with a different filename.

[2015-09-15 14:35] geemus commented on #2701
@raldred ah, yeah that would do it. Thanks for the update!

[2015-09-15 14:53] geemus commented on #3597
@fcheung I don't suppose you know if there are any specifics around when this does or does not happen? I suppose if you knew cases that might do this you could do 100-continue stuff or otherwise guard with permission checks. Otherwise, it seems like a pretty big change to try and read from the socket before the request has finished writing (right now I believe it writes everything, then reads ever

[2015-09-15 15:03] fcheung commented on #3597
This was a PUT request to create a file on S3. Turning on 100-continues for this one action (+ I suppose the corresponding multipart action) should be fairly simple and sounds like it would address the issue.

RFC2616 says that sending the response before the request is fully read is not allowed, but you can see why they did it.

[2015-09-15 15:07] geemus commented on #3597
Yeah. I guess it all depends on how often this happens. If it is common, doing 100-continue seems like a good way to guard. Agreed that they probably shouldn't do this, but that it makes sense. Not much sense it letting a client send an arbitrarily large amount of data and claim a socket if it all is getting thrown away in the end.

As long as this only happens in fairly constrained contexts, that

[2015-09-15 15:08] fcheung commented on #3597
I think this only happens if the upload is denied with a 403. Amazon do seem to say that using 100-continue is a good thing, moreover given that S3 supports it (and any http/1.1 compliant server should) then it seems pretty harmless. Does excon already support 100-continue?

[2015-09-15 16:01] seanhandley commented on #3688
Awesome. Add a mock class in there and you should definitely raise a PR!

[2015-09-15 18:44] benlong opened #3690 "exception undefined method `body' for #<Fog::DNS::AWS::Error: Throttling => Rate exceeded>"
Started seeing this in our rate-limiting retry routines. Has the response from AWS changes?

[code]

[2015-09-15 19:15] geemus commented on #3690
I don't think so, it looks more likely to be a mismatch of error expectations (it is probably expecting it to be an excon error, but it is a fog one, so it fails to do something). Could you share the rest of the stacktrace? I think that might help pin down where this is coming from. Thanks!

[2015-09-15 20:30] benlong commented on #3690
o\  here you go. thanks.

[code]

[2015-09-15 20:59] benlong commented on #3690
looks like I may have the wrong repo.. can you confirm?

fog-aws-0.1.1

Thanks

[2015-09-16 15:41] geemus commented on #3690
Yeah, it is technically actually in the fog/fog-aws repo, but not a big deal.

[2015-09-16 16:12] geemus commented on #3690
Looks like the error is actually coming from job_helper.rb `JobHelperAWS.should_retry?`, which I don't think is inside the library?

[2015-09-16 16:26] geemus commented on #3597
Not yet, I don't think anyway. Would have to think a bit about how best to integrate it, but it doesn't sound too complex anyway (details: http://www.w3.org/Protocols/rfc2616/rfc2616-sec8.html#sec8.2.3)

[2015-09-16 17:15] benlong commented on #3690
Thanks for looking so far. should_retry? just handles exceptions, and raises within the app. The error seems to be happening here:

exception undefined method `body' for #<Fog::DNS::AWS::Error: Throttling => Rate exceeded>
.../fog-aws-0.1.1/lib/fog/aws/models/dns/records.rb:29:in `all'
[code]

[2015-09-16 17:41] geemus commented on #3690
Ah, right you are. Sorry about the confusion. It looks like that is a rather old version of fog-aws (0.7.6 is current), could you try bumping that first to see if that helps? Thanks!

[2015-09-16 19:23] grossjo commented on #3419
Also looking for any work shared publicly, would gladly help contribute to this. @bryanl

[2015-09-16 19:30] athirn commented on #3419
I've added to the bounty to try and move this forward.  Would prefer for this not to be delayed until the last minute (or worst after the v1 api is turned off).

[2015-09-16 23:40] bryanl commented on #3419
@grossjo https://github.com/bryanl/fog/tree/dov2 is where I'm working. I'm currently weeding through tests for droplet creates and deletes. I'm open for all suggestions and tips and codes.

[2015-09-17 10:34] mreferre opened #3692 "[vcloud-director] Same Org Networks in different VDCs"
Hi there.

I am working on a sample script that allows a user to instantiate VMs on VMware vCloud Air public cloud service (which uses vCloud Director underneath for delivering the compute service).

One thing that I noticed is that the vcloud_director plugin has issues when inside the same Org there are multiple VDCs and each VDC has the very same Org Network. That's how it works in vCloud Air, w

[2015-09-17 10:50] mreferre opened #3693 "[vcloud-director] VM customization doesn't work as advertised"
I am trying to customize a VM following the sample here (https://github.com/fog/fog/tree/master/lib/fog/vcloud_director) but I am having a hard time.

I have tried to use:

vapp = vdc.vapps.get_by_name("myvm")
vm = vapp.vms.first
customization = vm.customization
customization.computer_name = inputvappname
customization.enabled = false
customization.script = "new userdata script"
customization.save

[2015-09-17 12:26] mreferre opened #3694 "[vcloud-director] is vm.wait.for implemented properly?"
I am using this piece of code below to update the name of a VM. I noticed that the next operation (connecting the VM to the network) fails if I don't wait for the VM name update to complete (which takes like 10/15 seconds or so).

So I am trying to use the "wait.for" function to check when the VM is ready. If I use it like in the example below, it just waits 20 (or 50 or 100) seconds and then it s

[2015-09-17 22:02] robear opened #3696 "Open Stack - 503 Service Unavailable"
Hi there,
I am trying to get fog working with swift at an OpenStack provider.  I get what seems to be a correct service object after creation (correct urls and credentials for interacting with swift).  When I try to use that object, I get 503 Service Unavailable for requests.  How can I debug this?  I get the full excon response object after the unexpected response.  Am I able to capture the reque

[2015-09-18 03:48] tunglam14 commented on #3696
Hi,

Have you try to place your debug code into this function: https://github.com/fog/fog/blob/master/lib/fog/openstack/storage.rb#L144

btw, i think 503 error that relate to server thing.

[2015-09-18 03:55] #3688 closed

[2015-09-18 06:33] robear commented on #3696
I have used httplog to watch requests.  I did find an issue.  When adding the :query => {'format' => 'json'} to requests (this is in the ruby files in the requests folder), this literally adds  {'format' => 'json'} to the query string.  The :query option is looking for a string literal such as '?format=json'

I have still not figured out the problem.  The Open Stack command line tools work so the

[2015-09-21 05:48] fifieldt commented on #2160
Coming up in OpenStack, the "don't care what you have to do, just get me a network" API:

http://specs.openstack.org/openstack/neutron-specs/specs/liberty/get-me-a-network.html
https://blueprints.launchpad.net/neutron/+spec/get-me-a-network

eta April 2016 :'(

[2015-09-21 15:55] rocurtis commented on #3693
Not sure I completely understand the script, but http://pubs.vmware.com/vcd-80/topic/com.vmware.vcloud.api.reference.doc_90/doc/types/GuestCustomizationSectionType.html, if AdminPasswordAuto is true, then I think you have to omit <AdminPassword>, not leave it empty like it is in this example

<AdminPasswordEnabled>true</AdminPasswordEnabled>
<AdminPasswordAuto>true</AdminPasswordAuto>
<AdminPasswo

[2015-09-21 16:17] mreferre commented on #3693
Thanks. I think I tried all combinations including setting Auto to true (and commenting out) the parameter to set the password and then setting Auto to false and populate the parameter to set the password.

[2015-09-21 20:48] robear commented on #3696
I haven't gotten any closer to solving this.  I wrote a small Ruby script using Net:HTTP to talk to the OpenStack api and it works fine.  The command line tools work fine.  There is something wrong in fog with OpenStack.  Maybe it is an api version thing or something?  Any pointers on where to look within fog to solve this?

[2015-09-22 04:50] tunglam14 commented on #3696
It works fine for me:

[code]

You could try to compare 2 http requests, one comes from CLI tool, one comes from Fog, to find different things between them, i think :)

[2015-09-22 18:05] benlong commented on #3690
Great, thanks. We will be updating to the latest version.

[2015-09-22 18:05] #3690 closed

[2015-09-22 20:57] geemus commented on #3692
@mikepea any chance you could share some insight? Thanks!

[2015-09-22 20:57] geemus commented on #3693
@mikepea any chance you could share some insight?

[2015-09-22 20:58] geemus commented on #3694
@mikepea any chance you could share some insight?

[2015-09-23 16:46] patakijv commented on #3663
Any updates?

[2015-09-23 18:11] grossjo commented on #3419
@bryanl Any api's to be added still or are you just stuck on writing tests?

[2015-09-23 18:31] bryanl commented on #3419
@grossjo I submitted a PR here:
https://github.com/fog/fog/pull/3698

[2015-09-23 19:55] phijojoseph opened #3699 "Could not find user: admin, code\": 401, \"title\": \"Unauthorized"
i tried to use identity v3 api, but it is failing for me and throwing some error stated above.
Not sure that this is  a bug or problem with my code.Request for  help. If someone has got a successful response on v3 auth token please post the code here.
I am using openstack  kilo.
Please find my code and output below
 **************Code**************
require 'fog'
require 'pp'
auth_url= 'http://127.

[2015-09-23 20:50] geemus commented on #3699
@dhague @TerryHowe any advice?

[2015-09-24 07:42] dra commented on #3588
Hi Jeff.
Are there any news on this. How can I help?
Bye, Daniel

[2015-09-24 08:32] dhague commented on #3699
I ran the same code against my local Kilo devstack instance and it worked OK.

The clue here is in the error message:

This indicates that your OpenStack instance does not have the user "admin" in the domain "default".

You may be able to fix this with the following command on your Kilo system:

Best regards,
Darren

P.S. Signing off with "Expecting an answer" could be considered rude in some cult

[2015-09-24 11:26] cstewart87 commented on #3694
@mreferre - In the past, I've used wait_for without passing any value and it's worked just fine for me.  Have you tried just using `vm.wait_for { ready? }` (without the specific time)?

[2015-09-24 11:33] cstewart87 commented on #3693
@mreferre the [knife-vcair](https://github.com/chef-partners/knife-vcair) project makes use of some of this customization functionality, so you might be able to look there for a good example.

Checkout the [#update_customization](https://github.com/chef-partners/knife-vcair/blob/master/lib/chef/knife/vcair_server_create.rb#L155) method for an example of setting the admin password.

Here's a snippe

[2015-09-24 11:34] cstewart87 commented on #3692
IMO, the key here is getting a network by id instead of name.  I've run unto this as well in the past.  I'll take a look through the fog code base, but I believe there's a method to get network by id.

[2015-09-24 12:03] mreferre commented on #3692
@cstewart87 I think the code will have to parse ALL the networks and match the network name AND the VDC specified by the user. The current behaviour seems to be that the code parses ALL the networks and only match the network name (first occurrence).

[2015-09-24 14:46] mreferre commented on #3693
DOH! When I thought I tried all combinations I probably left the below out:

  c = vm.customization
  c.admin_password =  guestpassword
  c.admin_password_auto = false
  c.reset_password_required = false
  c.computer_name = vappname
  c.enabled = true
  c.save

(where guestpassword and vappname are two populated variables with proper strings)

This works. Thanks a lot @cstewart87 ! If you are comi

[2015-09-24 14:46] #3693 closed

[2015-09-24 14:49] mreferre commented on #3694
Nope. If I just use `vm.wait_for { ready? } ` it will stay there forever. It will never release control to the program.

[2015-09-24 18:29] phijojoseph commented on #3699
@dhague First of all sorry for the above statement. my language is not good , Please don't consider it as an rude signing off. Actually i didn't really mean that.

Thank you for guiding me . but above command is not working for me  --domain is not recognised

[2015-09-24 18:53] grosser opened #3700 "Move rackspace libs to fog-rackspace"
@mdarby

I'm trying to get rid of the giant fog dependency and just require fog-rackspace ... can we just move lib/rackspace into it's own gem and release that ?

[2015-09-24 19:02] ablearcher9 commented on #3700
+1

[2015-09-24 19:04] mdarby commented on #3700
That is my goal but timing has been an issue and unfortunately will be until Q1.

[2015-09-24 19:07] grosser commented on #3700
I guess it's not just mv lib ../fog-rackspace ...
Thx for working on this, will make our gemfile much slimmer :)

On Thu, Sep 24, 2015 at 12:05 PM, Matt Darby <notifications@github.com>
wrote:

[2015-09-24 19:07] fifthecho commented on #3588
Daniel,
My apologies on the delays, but I've had a rather catastrophic failure of parts of my development and test environment which (hopefully) should all be fixed in the next 2-3 weeks.
The bigger issue (and possibly where you can help in the interim) is that the current tests don't pass for any of the CloudStack code. Before refactoring such a core model, we need to get passing tests in place a

[2015-09-24 19:08] mdarby commented on #3700
Unfortunately not :) I was hoping for the same!

[2015-09-24 19:15] plribeiro3000 commented on #3700
I'm in a rush as well. Otherwise i could finish the migration. Maybe in a couple of weeks i might find sometime and do it if @mdarby don't mind.

[2015-09-24 19:16] mdarby commented on #3700
I don't mind at all! :)

[2015-09-24 23:53] evadne commented on #3429
Since `require` works with `$LOAD_PATH` and my Rails app has `lib` in its load path, I did the following:

    $ touch lib/fog.rb

where the file contains the following:

    module Fog
      # :D
    end

and then in my CarrierWave initializer I did the following:

    require 'carrierwave/storage/abstract'
    require 'carrierwave/storage/file'
    require 'carrierwave/storage/fog'

    CarrierW

[2015-09-25 07:56] dhague commented on #3699
OK, I think I see what's going on.

The Fog code generates this request:

In other words, Fog adds the `scope` element at the end, scoping the token to the domain. This is because the parameter `:openstack_domain_id` is set.

If I change this parameter to `:openstack_user_domain_id` then only the user is scoped to the domain (not the token) and then I get exactly the same JSON request as you show

[2015-09-25 10:00] phijojoseph commented on #3699
@dhague It works, thank you for the support :100: :+1:

[2015-09-25 10:35] tunglam14 opened #3702 "[openstack] bug retrieving list server actions"
I can't list actions of a server through `server_actions` method

[code]

It return 404 errror.

I've digged in to the code and found it's calling to `/v2/tenant_id/servers/server_id/actions`  [at here](https://github.com/fog/fog/blob/master/lib/fog/openstack/requests/compute/server_actions.rb#L15).
It's wrong, right? Because by the [Openstack API Documentation](http://developer.openstack.org/api-

[2015-09-28 11:57] domcleal opened #3705 "net-ssh 3.x now requires Ruby 2.0"
net-ssh 3.0.1 has been released, the first non-RC that requires Ruby 2.0 as a minimum Ruby version.

* Fog unit tests are breaking on 1.9.3, e.g. https://travis-ci.org/fog/fog/jobs/82520247 which could be fixed with a Gemfile tweak.
* Runtime usage of Fog on Ruby 1.9.3 is failing gem installation, can be fixed by pinning net-ssh in the user's Gemfile.
* Possible incompatibility may need checking,

[2015-09-28 12:05] domcleal commented on #3705
Sorry, filed against the wrong repo.  I see it's already being handled at https://github.com/fog/fog-core/issues/162.

[2015-09-28 12:05] #3705 closed

[2015-09-28 13:55] geemus commented on #3702
@TerryHowe @Ladas could you guys advise? Thanks!

[2015-09-28 13:58] geemus commented on #3705
No worries, thanks for the heads up. Seems we have a bit of legwork to get it sorted out, which we'll hopefully get underway soon.

[2015-09-29 06:38] Ladas commented on #3702
@tunglam14 seems what you are saying is correct, according to doc. The 'actions' is probably some historical API call, I found OpenStack wiki mentioning that.

[2015-09-30 21:44] joshuamcginnis opened #3710 "get_https_url generating negative expiry"
I'm attempting to generate a signed url for a file in S3; however, the url that get's returned always returns a negative expiry which causes the url to `400`.

[code]
Generated URL:
[code]

Am I missing something here? Can you also confirm the units that the `expiry` arg should be in? (I'm presuming it is in in ms)

[2015-10-01 10:16] tunglam14 commented on #3702
@Ladas Thanks, as PR was merged, i'm going to close this issue.

[2015-10-01 10:16] #3702 closed

[2015-10-01 19:38] jrgarcia opened #3711 "Fog 1.x doesn't work for Ruby 1.9.3"
We are requiring `~> 1.32` and getting an error. [This line](https://github.com/fog/fog/blob/v1.34.0/fog.gemspec#L60) causes the error for us (using JRuby 1.7.21 which is Ruby 1.9.3 compatible). Using the `>=` means that `fog-google` 0.1.1 is acceptable which requires Ruby 2.0.0 or higher. Please switch that to be pessimistic. There are a few more [here](https://github.com/fog/fog/blob/v1.34.0/fog

[2015-10-01 19:51] plribeiro3000 commented on #3711
So the only `fog-google` version that has a ruby version locked in is [0.1.1](https://rubygems.org/gems/fog-google/versions/0.1.1). This means you can solve this issue for now by locking those versions by hand at your `Gemfile`. But we do need a new release of the `1.x` series with locks for all providers in a way that it does not break.

Unfortunately `fog-google` is the one provider out with tha

[2015-10-01 19:53] jrgarcia commented on #3711
We can definitely do that as a workaround for now. I just wanted to create the issue before it became more rampant. Thanks!

[2015-10-01 19:54] plribeiro3000 commented on #3711
Sure. Thanks. =)

[2015-10-01 21:27] geemus commented on #3710
I believe it expects a timestamp argument (rather than a duration). So you probably want `Time.now + 300`. Hope that helps, but let me know if you have further questions. Thanks!

[2015-10-01 21:36] joshuamcginnis commented on #3710
@geemus Perfect. This is exactly the issue. By chance, could you point me to the documentation (if any) that says this?

[2015-10-02 07:14] alexandru-calinoiu commented on #3644
In anybody working on the ftp storage? I should be able to take it on or continue work that somebody has done on it.

[2015-10-02 12:54] plribeiro3000 commented on #3644
Not that i'm aware of. If you want to work on it just do it. =)

I believe no one have a work on this to share. =s

[2015-10-02 14:45] geemus commented on #3710
The best I was able to manage was here: https://github.com/fog/fog-aws/blob/master/lib/fog/aws/requests/storage/get_object_https_url.rb#L15 (but I think it could certainly be improved if it were more explicit).

[2015-10-02 14:45] #3710 closed

[2015-10-05 09:27] alexandru-calinoiu commented on #3644
Great,  I will try to take a stab at it this week

[2015-10-05 17:43] gtmanfred opened #3714 "[Feature Request] support rax_service_level_automation=Complete in fog-rackspace"
It would be awesome if there was a flag in the fog-rackspace library that would allow for `managed => True` to be set for a server the fog is going to create.

This would allow for waiting for the metadata rax_service_level_automation=Complete to be set before fog logs in and makes changes, so that the rackspace postbuild automation can be run before the Root user's password is disabled.

There ar

[2015-10-05 17:49] martinb3 opened #3715 "Don't lock root user by default"
We shouldn't be locking the root user by default in the Rackspace compute drivers. I think this is pretty counterintuitive, and "for better security," as the original PR https://github.com/fog/fog/pull/2492 says, seems like a very poor argument. I think the default should be to leave the server as-is (which may or may not be a locked root user), so that tools work, and allow the user/caller to opt

[2015-10-06 03:48] palfvin commented on #2701
FWIW, I'm having the same issue with Fog 1.34 and Rails 4.2 using an AWS-compatible system (RiakCS). Same code and credentials work fine with Rails 4.1 and and earlier version of Fog as well as with the s3cmd command line tool. Thanks to others who have posted their experience and workarounds as well. Will likely try and drill down tomorrow in hopes of finding out what's going on.

[2015-10-06 18:30] disengage00 commented on #3711
+1 ran into this today, would love to see this resolved :)

[2015-10-08 10:12] RomanKapitonov opened #3718 "Linode API changes"
I've been looking into Linode's API implementation. There are some changes to the API so some of the API calls are not up-to-date. `avail.kernels` is one of them. Here is the link to the api call https://www.linode.com/api/utility/avail.kernels. The implementation does not contain currently available parameters for the call: https://github.com/fog/fog/blob/master/lib/fog/linode/requests/compute/av

[2015-10-10 01:26] anandvc commented on #3419
Any update on this? We're cutting it pretty close waiting for v2 support. I see a pull request above.

[2015-10-11 19:51] seanhandley commented on #3419
I know @geemus has been away on honeymoon, but it should roll with the next minor release soon.

In the meantime @anandvc, if you wouldn't mind linking your Gemfile directly to master and trying it out in a test environment at your end? Would be good to get some additional testing!

[2015-10-12 19:49] hkmaly opened #3719 "Rackspace storage: copy doesn't work on files with "special" characters"
Hello,

It seems that the copy functionality of rackspace doesn't work on some files. I sort of suspect the problem is that rackspace didn't said it correctly in documentation, but nevertheless ...

In the following snippet, the first copy operation works, while the second fails with "resource not found in ORD region (Fog::Storage::Rackspace::NotFound)"

  file = cdc.directory.files.new(:key => 'T

[2015-10-12 19:52] hkmaly commented on #3719
Relevant part of cdc's class
class Cdc
  def directory
     client.directories.get(self.name)
   end
   def client
      Fog::Storage.new(
          :provider => 'rackspace',
          :rackspace_username => rack_opts[:username],
          :rackspace_api_key  => rack_opts[:api_key],
          :rackspace_region   => rack_opts[:region],
          :rackspace_servicenet => true,
          :connection_

[2015-10-12 19:56] hkmaly commented on #3719
I would send the EXCON_DEBUG=true log but I suspect it's full of passwords ...
I'm using fog/1.33.0 fog-core/1.32.1 and I'm on cloud server so I can use the servicenet.

[2015-10-12 20:44] mdarby commented on #3719
Taking a look at this now

[2015-10-12 21:34] mdarby commented on #3719
According to [this page](http://drupal.stackexchange.com/questions/10736/252f-in-the-url-path):

`%2f` is the url encoding of `/`, if you have `%252f` seems a double encode of the specific string.

If you look through the `EXCON_DEBUG` log you'll see `:path => "/v1/MossoCloudFS_930035/misc/Test%252file"`

Once it hits the Cloud Files API it must decode so that we end up with `Test%2file`.

Shortes

[2015-10-12 22:52] hkmaly commented on #3719
I'm aware that %2f looks like url encoded. But note that creation of file happens without problem, BECAUSE the fog will url encode the path field - I mean, will url encode the part of path which is object name.
If the object name in "X-Copy-From" field (I mean X-Copy-From header) is also url-decoded on server, then fog should url-encode it.
If the documentation would clearly specified that object

[2015-10-13 21:32] zdennis commented on #1043
For testing processing rules you can use a `before/after` (RSpec) to set the storage to `:file` in before and then to reset it in after. E.g.

[code]

[2015-10-14 01:30] hkmaly opened #3721 "Rackspace reverse dns"
Hello,

Rackspace DNS have option to modify reverse DNS (PTR records) for servers and load balancers, see http://docs.rackspace.com/cdns/api/v1.0/cdns-devguide/content/ptr_records.html

Would it be possible to add it to fog?

   Honza

[2015-10-14 13:54] mdarby commented on #3721
Hi Honza! I'm sure this would possible, unfortunately I'm buried on other projects...

[2015-10-14 17:01] mtekel opened #3723 "[openstack] swift: add support for max_keys when retrieving dir items"
Currently there is no remapping in [getting directory keys](https://github.com/fog/fog/blob/master/lib/fog/openstack/models/storage/directories.rb#L16). This means that people are forced to add 'limit' explicitly into the calls. This is a problem when you try to have code that's compatible with multiple cloud vendors, as this breaks some other APIs, like Google Cloud Storage.

Raised [PR](https://

[2015-10-16 21:22] geemus commented on #3714
@mdarby could you comment/discuss? Thanks!

[2015-10-16 21:23] geemus commented on #3715
@mdardy could you review/comment? Thanks!

[2015-10-17 11:08] martinb3 commented on #3715
@geemus I think you're looking for @mdarby. Ping me if you have any questions Matt :)

[2015-10-19 13:25] mdarby commented on #3715
I don't have a clear picture of this area -- but I trust @martinb3.  It sounds like we definitely should go with the Chef flow.

[2015-10-19 13:42] #3715 closed

[2015-10-19 13:49] geemus commented on #3715
Oops! @martinb3 good call...

[2015-10-19 14:15] martinb3 commented on #3715
Thanks all!

[2015-10-19 14:28] geemus commented on #3718
Thanks for the heads up. We would certainly welcome any help in this area. I'm happy to provide guidance, but am not presently using linode so don't feel well placed to fix it myself.

[2015-10-19 14:38] geemus commented on #3723
@Ladas @TerryHowe perhaps one of you could provide some insight? Thanks!

[2015-10-19 14:41] geemus commented on #2701
@palfvin thanks for the heads up/details. Let me know if there is anything I can do to help.

[2015-10-19 15:17] Ladas commented on #3723
@geemus hm seems like @mtekel is trying to unify interface of Google storage with OpenStack Swift, so attribute names are translated from google format to others. Is that right?

The placement is probably wrong, there would need need to be some Google -> OpenStack interface adapter layer for this, so we know what is translated to what, and you could even pick it e.g. while building OpenStack stora

[2015-10-19 15:50] geemus commented on #3723
Ah, I guess I should have read more closely. Where it is feasible/makes sense, unifying seems good. This sounds, at a high level, like it could be a reasonable case to do this. But I'm not sure about exactly how we should do it (and/or which keys should be the common ones).

[2015-10-19 16:22] mtekel commented on #3723
Hi,

I thought that using `max_keys` is the standard, abstract fog way to declare how many items you want to receive. It is upon each implementation to transfer this into whatever parameter it needs to. Like e.g.:
* AWS https://github.com/fog/fog-aws/blob/master/lib/fog/aws/models/storage/directories.rb#L18
* internet-archive https://github.com/fog/fog/blob/master/lib/fog/internet_archive/models/s

[2015-10-19 21:23] geemus commented on #3419
Hey, I'm back and just trying to get caught up again. I think I have a plan for this, hoping to land it tomorrow or the day after. Sorry for delays, just unfortunate timing.

[2015-10-19 22:51] grossjo opened #3724 "Interest in ns1 DNS provider"
Just seeing if there is any interest in ns1 as a DNS provider.  Seem to be on the cutting edge and easy to use in terms of features (compared to route 53).

https://ns1.com

Trying to evaluate it myself for my employer and reaching out to the community to see if anyone else is willing to help out bring it into fog.

[2015-10-20 01:42] petems commented on #3419
Just noticed the new DigitalOcean stuff missed out the images#get method, just added it in: https://github.com/fog/fog/pull/3725 :smile:

[2015-10-20 01:53] petems commented on #2696
@krames I just noticed you never claimed this bounty! https://www.bountysource.com/issues/1427466-rackspace-add-virtual-interfaces-to-servers

[2015-10-20 16:18] dhague opened #3726 "[openstack] inconsistent model-collection methods to get by id"
In Fog, the model collections classes (typically the pluralised names in lib/fog/*provider*/models/*service*) have a get(id) method to fetch a model object by its ID.
In the case where the ID cannot be found, the get(id) method typically swallows the NotFound exception and returns nil.

In the OpenStack provider case, some classes use get(id) as described above, some use get(id) but do not swallow

[2015-10-20 16:24] dhague commented on #3726
I would propose to resolve this problem as follows (Note: this will introduce some breaking changes, but as we are moving from 1.x to 2.0 I think there is no better time in which to do so):

* Standardize on implementing get(id), swallowing any NotFound exception and returning nil in that case (this is the breaking change for those implementations of get(id) which do not currently swallow the exce

[2015-10-20 16:59] Ladas commented on #3726
@dhague I 've started the standardization work here https://github.com/fog/fog/blob/v1.34.0/lib/fog/openstack/models/collection.rb#L37

we can alias the method with deprecation on one place

I think I am fine with the breaking change.

[2015-10-20 17:04] dhague commented on #3726
What about the difference in behaviour, namely **get** swallowing the NotFound exception but **find_by_id** passing it through? It seems that using alias will unnecessarily break that behaviour.

[2015-10-20 19:06] geemus commented on #3726
Overall sounds good. I would lean toward swallowing the error (more consistent with other parts of fog and I think a nice default), but it is breaking.

[2015-10-20 20:57] geemus commented on #3419
released in v1.35.0

[2015-10-20 20:57] #3419 closed

[2015-10-21 06:54] Ladas commented on #3726
@dhague sorry I misread the part, I was on my way out in the evening :-)

seems like there is always one common 'get' behavior. What about making private method '_get' on each class, that would fetch the record. And on the super class we would have public method 'get' that will catch exceptions of '_get'. And 'find_by_id' that will just log deprecation and call '_get'? The exception will always be

[2015-10-21 08:08] domcleal commented on #3711
I think the new Fog 1.35.0 release might have exacerbated this, since it included commits from #3709 that require fog-google 0.1.1 which has a minimum Ruby version of 2.0.0.

It might be useful to branch Fog 1.x from master, so the deps can be locked as suggested above, and to avoid temporary reverts such as 4444f32.

[2015-10-21 08:24] dhague commented on #3726
@Ladas sounds like a good plan - I'll get to work on it.

[2015-10-21 09:38] jiangyt opened #3727 "[OpenStack] Swift temp url not working, raised 401 unauthorized execption"
Hi,

I just using openstack swift as storage provider, trying to use fog to generate the tempurl link of a private object, here's the code related

<pre><code>require 'fog'
swift = Fog::Storage.new({
:provider => 'OpenStack',
:openstack_auth_url => ENV["OS_AUTH_URL"],
:openstack_username => ENV["OS_USERNAME"],
:openstack_api_key => ENV["OS_PASSWORD"],
:openstack_temp_url_key => ENV["OS_TEMP_URL"]

[2015-10-21 10:12] Ladas commented on #3726
@dhague awesome, if you will need any help, let me know :-)

[2015-10-21 12:10] nirvdrum commented on #3657
Hi @pdilung

I'm truly sorry for just getting to this.  I think you have two options available, depending on your cluster setup.  One option is to specify the `'dest_folder'` setting, assuming you have a folder associated with the cluster.  The second option is to specify a `'resource_pool'` setting.  If neither of those work for your use case, we'll have to look through the vSphere API docs to se

[2015-10-21 13:53] pdilung commented on #3657
Hi @nirvdrum

no problem. `'resource_pool'` is no go for our deployments and the `'dest_folder'` did not work, though it's been some time I tried it. Let me test the `'test_folder'` again and report back.

Thanks & BR

Pali

[2015-10-21 14:14] Suirtimed commented on #3711
+1  I've been spending lots of time chasing problems with non-pessimistic dependencies and ruby 2.0.

[2015-10-21 17:21] geemus commented on #3711
@domcleal sorry to hear it. I had hoped to minimize, really that release was to get DO changes out the door more than anything else. A proper release with no 1.8 (and perhaps no 1.9) should be in the near future, hopefully.

@Suirtimed sorry to hear it. Let me know if there is anything I can do to help.

[2015-10-21 17:25] geemus commented on #3727
@dhague @Ladas @TerryHowe - perhaps one of you could provide guidance? Thanks!

[2015-10-21 20:28] estonfer commented on #3657
I could be wrong here, but looking in the API docs the VirtualMachineCloneSpec (http://pubs.vmware.com/vsphere-60/topic/com.vmware.wssdk.apiref.doc/vim.vm.CloneSpec.html) as part of the relocation spec requires that a pool be specified.  I believe that all clusters have a default root resource_pool, so I'd think you'd just want to pull and use that  ala myCluster.resource_pools wherein myCluster i

[2015-10-22 07:28] Ladas commented on #3727
@jiangyt seems like the signature might be computed badly https://github.com/fog/fog/blob/master/lib/fog/openstack/requests/storage/get_object_https_url.rb#L57

Could you compare the signatures created from fog and python, given the same input? Also if sig_to_hex() is equivalent to .hexdigest() called in python

[2015-10-22 21:44] fherbert opened #3728 "[vsphere] - unable to add more than 7 disks"
Due to the SCSI controller taking id 7, when creating a vm with more than 7 disks, and if one (generally disk #8) of those disks are set to use unitNumber = 7, then creating the vm will fail.

A relatively easy fix can be done to lib/fog/vsphere/requests/compute/create_vm.rb. I'll submit a pull request shortly.

[2015-10-22 22:11] geemus commented on #3724
I haven't heard anybody else bring it up, but you are certain welcome to work toward it if you are interested. We would probably just seek to land it in it's own gem within the org and whatnot (as we have with other new providers). Just let me know if you have questions or anything I can help with.

[2015-10-22 22:49] plribeiro3000 commented on #3728
I´m not that into `vsphere` so perhaps you could help me out here. Where does this SCSI controller come from?

[2015-10-23 16:05] davejohnston opened #3732 "Documentation on Openstack Orchestration Mocks"
There doesn't appear to be any documentation on using Fog mocking with the Openstack Orchestration API.
Are there mocks available and could examples be added to the relevant documentation ?

[2015-10-23 17:59] fherbert commented on #3728
Any disk attached to a vm requires a scsi controller, it is created when the vm is created, before the disks are created. Check this adaptec page for info on scsi ID's http://ask.adaptec.com/app/answers/detail/a_id/689/~/can-the-scsi-id-of-an-adaptec-scsi-controller-card-be-changed%3F
The current fog code creates a single scsi controller just before the disks are created, you don't get the option

[2015-10-23 18:03] plribeiro3000 commented on #3728
Awesome. Thx for the explanation.

[2015-10-26 05:16] jiangyt commented on #3727
I figured out that fog calculate the expired time using what you input, but python code just using it as a offset time of current time. So fog generated a expired time if the time you input not long enough

[2015-10-26 05:16] #3727 closed

[2015-10-26 07:16] Ladas commented on #3727
@jiangyt ah, I am glad you figured it out :-)

[2015-10-26 21:02] philr commented on #3718
I have created pull request #3733 to update the implementation of the `avail.kernels` API call. The pull request also updates the other "avail" API requests to match the currently documented behaviour.

I've not looked for changes and differences to any other Linode API calls.

[2015-10-26 21:53] juanpastas opened #3734 "Directory problem"
I am getting:

[code]

with this config:

[code]

`ENV["fog_directory"]` is `myapp-staging1` on server console.

Why I could be getting a repeated part in `myapp-staging1.myapp-staging1.s3-us-west-2.amazonaws.com`?

I also created an issue on [carrierwave](https://github.com/carrierwaveuploader/carrierwave/issues/1761).  And a [gist](https://gist.github.com/juanpastas/eea1b7b236b35835ebc2) with th

[2015-10-27 11:42] plribeiro3000 commented on #3718
:+1: for the PR!

[2015-10-27 12:04] RomanKapitonov commented on #3718
:+1:

[2015-10-27 13:42] dimitko opened #3736 "Support S3 auto-expiring files?"
EDIT: Wrong board.

[2015-10-27 13:43] plribeiro3000 commented on #3736
@dimitko Can you open this against [`fog-aws`](https://github.com/fog/fog-aws) instead?

Thanks!

[2015-10-27 13:43] dimitko commented on #3736
@plribeiro3000 Sure. Thank you!

[2015-10-27 14:21] plribeiro3000 commented on #3736
Closing in favor of fog/fog-aws#194.

Thanks!

[2015-10-27 14:21] #3736 closed

[2015-10-27 20:02] rscardinho commented on #3734
the content of your `ENV["fog_directory"]` is only `myapp-staging1`?
Got this issue some time ago and fixed it just setting the `path_style` to `true` inside the `fog_credentials` configs. This happens because the `fog_directory` contains dots, so CarrierWave understands it as a url

[2015-10-27 20:17] juanpastas commented on #3734
I tried that, no change...

I made an application from the start copying current one config, and is working for me... :confused: .

[2015-10-27 20:19] rscardinho commented on #3734
hmmm. but env var that you're using to set the fog directory have any dots?
add this on your carrierwave config block `Fog.credentials = { path_style: true }` and check if it works

[2015-10-29 04:43] hh opened #3739 "Update digitalocean/examples/getting_started.md to show V2"

[2015-10-29 16:58] geemus commented on #3739
Good call, thanks for the heads up.

/cc @bryanl in case you have a moment to help out here. Thanks!

[2015-10-29 19:07] bryanl commented on #3739
I'll create a PR for this.

[2015-10-29 19:38] jrgarcia opened #3740 "[vsphere] Extract provider into it's own repository"
I've extracted fog/vsphere into it's own repository [here](https://github.com/jrgarcia/fog-vsphere). If you are interested, let me know how you'd like to go about adding it to the fog organization.

[2015-10-29 20:20] plribeiro3000 commented on #3740
Awesome @jrgarcia !
There are just some small details that i need you to do before we actually move on with the extraction.
Since #3430 that we are using `autoload` to reduce the loading time. Also we are getting rid of the `core` file and moving its content to the main file (in this case `lib/fog/vsphere`) and reducing the amount of requires between models.
Take a look at `fog-xenserver` or `fog-

[2015-10-29 20:21] jrgarcia commented on #3740
I'll fix that up and let you know when it's ready. Thanks!

[2015-10-29 20:23] plribeiro3000 commented on #3740
Awesome. Just to make it clear. What you did is good to go. The only issue is that we need to keep an eye close for the loading time and that refactoring i just mentioned above should take care of that.

:+1:

[2015-10-29 22:01] jrgarcia commented on #3740
@plribeiro3000 Is this along the lines of what you were looking for? https://github.com/jrgarcia/fog-vsphere/commit/42ae84a6cfe77a3b9e0453aa33c86283c1255cff

[2015-10-30 23:05] geemus commented on #3739
Great, thanks!

[2015-10-30 23:08] geemus commented on #3728
I believe this is closed by #3729

[2015-10-30 23:08] #3728 closed

[2015-10-30 23:10] geemus commented on #3732
@Ladas @TerryHowe - could either of you offer some help here?

[2015-10-30 23:11] geemus commented on #3727
Yep, that would do it. Thanks for the update.

[2015-10-30 23:16] geemus commented on #3718
Cool, going to close this for now as we are not presently aware of other things that are missing (and we can always address them individually/later as they come up). Thanks!

[2015-10-30 23:16] #3718 closed

[2015-10-31 02:11] jrgarcia commented on #3740
@plribeiro3000 So how would you like to go about moving this to the fog organization?

[2015-10-31 18:19] plribeiro3000 commented on #3740
@jrgarcia Actually the `autoload` inside the models are kind of wrong. Do they work?
You need to push the content of the `core` file to inside the main file (`fog/vsphere`). This file does not make sense when we are working with a gem anymore.
I guess the `autoload` inside the models you did can be removed.

Let me know how it goes.

Regarding the moving, you can give me admin permissions on the r

[2015-10-31 19:22] jrgarcia commented on #3740
@plribeiro3000 Everything appears to work. The current core file doesn't contain any of that stuff. See https://github.com/fog/fog/blob/master/lib/fog/vsphere/core.rb. I'm glad to change anything that needs to be changed. I'll add you to my repo shortly. I noticed some new commits to the vSphere stuff. I'll need to move that stuff over later as well.

[2015-11-01 21:03] plribeiro3000 commented on #3740
Awesome @jrgarcia. sorry for the trouble here. Let me move the repo.

[2015-11-01 21:05] plribeiro3000 commented on #3740
It seems i have push access but not admin access so i can´t move it to the `fog` organization. =s
Maybe you could try to do so?

[2015-11-01 21:47] jrgarcia commented on #3740
Let me "merge" in any new commits and make sure the contributors list is still correct and I'll transfer ownership later tonight or tomorrow morning.

[2015-11-02 02:28] plribeiro3000 commented on #3740
:+1:

[2015-11-02 08:25] Ladas commented on #3732
@davejohnston I don't plan to do it in the near future. Example of deploying stack is in our ManageIQ code, if you like to look or even make the doc from it :-) https://github.com/ManageIQ/manageiq/tree/master/spec/tools/environment_builders/openstack/services/orchestration

I assume that just examples of heat stack-create and update might be relevant.

[2015-11-02 11:42] mikaelhm opened #3744 "Problem connecting to OpenStack Swift Object Storage using Auth V2."
When I try to connect to a private hosted OpenStack Swift Object Storage, using auth v2.
I get the following error:
[code]

Investigating this a bit, I notice that the [`service` object](https://github.com/fog/fog/blob/master/lib/fog/openstack/core.rb#L216) has multiple `endpoints` within the same region;
[code]

Based on the example provided in the swiftstack docs (in the bottom her): https://swi

[2015-11-02 15:58] jrgarcia commented on #3740
@plribeiro3000 It appears I can't transfer the repository without first having admin rights to the 'fog' organization. Can you either fork my repo and add it to the fog organization (safer) or short-term give me admin rights to fog (easier)?

[2015-11-02 16:07] plribeiro3000 commented on #3740
I don't have admin rights in `fog` as well. Maybe @geemus can chime in and solve the issue for us?

[2015-11-02 16:34] allomov commented on #2958
Hey, everyone! Is there are any news on implementing `for-centurylink` project?

[2015-11-02 16:44] plribeiro3000 commented on #2958
Not that i know of. Let me add it to the list of requests at #3644 .

[2015-11-02 16:46] plribeiro3000 commented on #3644
`fog-aliyun` is already released and active. See [here[(https://github.com/fog/fog-aliyun).

[2015-11-02 19:40] portovep opened #3747 "[Rackspace] Set load balancer node type"
There is a small bug building the request to create a node for a Rackspace Cloud Load Balancer. I propose a solution for this in #3746.

I couldn't run the no-mocking tests but the solution and its test should work.

[2015-11-03 03:32] TJM commented on #3419
As far as I know 1.35.0 broke some compatibility with ruby 1.9.3, so we are hoping to see another release per issue #3711

[2015-11-03 12:40] plribeiro3000 commented on #3747
Closing in favor of #3746

[2015-11-03 12:40] #3747 closed

[2015-11-03 12:41] plribeiro3000 commented on #3654
@gavelino Do you still need this open for tracking purposes or can it be closed?

Thanks!

[2015-11-03 13:03] #3654 closed

[2015-11-03 13:16] plribeiro3000 commented on #3654
@gavelino Thanks! Let me know if you need more insights. :+1:

[2015-11-03 13:27] gavelino commented on #3654
Ok,

thanks @plribeiro3000.

[2015-11-03 14:57] geemus commented on #3419
Yeah, I hope to fix 1.9 compat soon.

[2015-11-03 14:59] geemus commented on #3744
closed by #3745

[2015-11-03 14:59] #3744 closed

[2015-11-03 14:59] geemus commented on #3644
Thanks!

On Mon, Nov 2, 2015 at 8:46 AM, Paulo Henrique Lopes Ribeiro <
notifications@github.com> wrote:

[2015-11-03 15:03] sajoku commented on #3734
It seems I'm running into the same problem.
What version of fog and carrierwave are you using @juanpastas?
We're using carrierwave (= 0.5.8), fog (1.21.0).

[2015-11-03 15:05] geemus commented on #3740
Hey! @jrgarcia if you add me as an admin on the repo I can do the remaining steps. Thanks!

[2015-11-03 15:10] geemus commented on #3734
I haven't seen this before, so I'm uncertain. The duplication of that value in the subdomain is certainly unexpected.

@sajoku you may need to update versions, 1.21.0 is from some time ago and the issue may be resolved.

[2015-11-03 16:34] jrgarcia commented on #3740
@geemus I gave you push access (that's all you can give for a non-organization repository). Let me know if that works for you.

[2015-11-03 17:43] juanpastas commented on #3734
I solved it by adding, region and endpoint:

[code]

Google for aws regions to know possible values. Remember to use http:// in
endpoint.

On Tue, Nov 3, 2015 at 10:10 AM, Wesley Beary <notifications@github.com>
wrote:

[2015-11-03 17:47] plribeiro3000 commented on #3734
@juanpastas Did you upgrade your `fog` version?

Thank you for your feedback. It seems the issue was a misconfiguration. If thats not the case please comment below and reopen this ticket.

Thanks!

[2015-11-03 17:47] #3734 closed

[2015-11-04 07:06] sajoku commented on #3734
I have done some further research and came to the conclusion that this probably is due to some old version in combination with our aws config. It seems updating should work (haven't had the chance in the actual project since that requires an update of rails also).

[2015-11-04 11:13] plribeiro3000 commented on #3734
@sajoku Thank you for the feedback. Please let me know if it does not work for you!

Thanks!

[2015-11-04 12:00] davejohnston commented on #3732
Thanks, I worked it out.  I'll update the document with some examples.

[2015-11-04 17:38] alexandru-calinoiu opened #3751 "Akamai provider"
I've started working on a provider for akamai, https://github.com/alexandru-calinoiu/fog-akamai, it only has some basic netstorage endpoints for now, but it used already on a project I work on.

I will appreciate some feedback.

[2015-11-04 21:18] geemus commented on #3732
Sounds great, thanks!

On Wed, Nov 4, 2015 at 4:00 AM, Dave <notifications@github.com> wrote:

[2015-11-05 06:55] sunyao5411 opened #3752 "Can not get meters by fog when openstack's region name is not RegionOne"
Dear all,
  when i use the manageIQ to collect the data from openstack with api list_meters,there throw an error below:
[----] E, [2015-11-05T01:03:12.399007 #15240:10d7e8c] ERROR -- : <Fog> excon.error     #<Excon::Errors::Timeout: read timeout reached>

[----] E, [2015-11-05T01:03:12.399547 #15240:10d7e8c] ERROR -- : MIQ(VmOpenstack.perf_collect_metrics_openstack) [realtime] for: [VmOpenstack],

[2015-11-05 15:20] geemus commented on #3752
@dhague @Ladas @TerryHowe - could one of you advise? Thanks!

[2015-11-05 15:21] geemus commented on #3734
Thanks!

On Wed, Nov 4, 2015 at 3:13 AM, Paulo Henrique Lopes Ribeiro <
notifications@github.com> wrote:

[2015-11-05 15:24] geemus commented on #3740
@jrgarcia Hmm. Unfortunately that appears to be insufficient. If you can't give me more privilege, I guess you could also just transfer to me and then I can kick it across? Once there I would give you admin to that repo, I just try to keep the "admin to every repo" list fairly short as there are a growing number and most people only work on one or two anyway. Does that make sense? Seem reasonable?

[2015-11-05 15:52] plribeiro3000 commented on #3751
Awesome @alexandru-calinoiu. I will take a look at asap. If if take too long, please ping here again.

[2015-11-05 16:03] jrgarcia commented on #3740
Thanks @plribeiro3000 and @geemus!

[2015-11-05 16:03] #3740 closed

[2015-11-05 16:11] plribeiro3000 commented on #3740
You are welcome!

Thank you for your efforts!

[2015-11-05 16:18] Ladas commented on #3752
@sunyao5411 I think you have to specify options[:openstack_region] when you authenticate, it's the same options where you sent e.g. tenant name

RegionOne is OpenStack internal default AFAIK

[2015-11-05 17:12] geemus commented on #3740
Thanks!

On Thu, Nov 5, 2015 at 8:11 AM, Paulo Henrique Lopes Ribeiro <
notifications@github.com> wrote:

[2015-11-05 17:42] geemus commented on #3723
I think it may have (up to this point anyway) been simply coincidental that multiple services called it the same thing. Also the internet archive stuff is a s3 work-alike I think, so it would end up with a similar API by default. Anyway, it does seem like a standard key here could work and max_keys might be easiest, but it could just as well be limit if we really wanted. We'll just need to documen

[2015-11-06 07:21] lksv commented on #3740
Hi @plribeiro3000, @jrgarcia, there is merged vsphere pull request #3749 by @ireznice (maybe more pull requests) to the fog/fog. If you are planning to extract vspehre from fog repo completly, how will be managed taking new commits?

I am asking that because at least two more pull requests are comming (probably by @ireznice) for upload, download and exec command functionality.

Probably if you cre

[2015-11-06 11:17] mtekel commented on #3723
I suggest it is done this way. The suggested implementation doesn't force anyone to start using `max_keys`. You can still use `limit` the old way, so it will not break any existing code, but it adds option to use `max_keys` instead of explicit `limit`, making it possible to write code that's compatible with multiple cloud storage providers (which I believe is the goal of Fog - write one code that

[2015-11-06 12:45] Ladas commented on #3723
Having alias sounds reasonable( until we reach such that conflicts :-) ). I wonder where to put this information, so people know what attributes are supported across all models?

For more fun, not even OpenStack is consistent, e.g. keystone v3 uses per_page instead of limit and it doesn't use marker based pagination. :-)

[2015-11-06 14:21] jrgarcia commented on #3740
I copied the files from fog/fog and made some minor modifications. It should be easy enough to make the modifications necessary (if there are any needed). If it's too much trouble, feel free to make a PR to fog/fog and I'll move the changes to fog/fog-vsphere.

[2015-11-06 15:09] geemus commented on #3740
@lksv thanks for checking in. As @jrgarcia mentions, we'll do it whatever way works for the time being (and remove the fog/fog side of things to de-dedup soon). Hopefully that will keep it as a short-lived problem at least and then it will hopefully be easier/faster to continue moving forward after that. Thanks!

[2015-11-06 15:30] plribeiro3000 commented on #3740
@lksv One of the issues is that we need both to live together until the extraction ends. So as long as it takes more we need to work on this kind of stuff but i'm afraid the only way to go easier is to finish the extraction asap.

[2015-11-06 15:32] jrgarcia commented on #3740
@lksv I will certainly try to keep an eye on fog/fog as much as possible to ensure I get every commit related to vSphere over there pulled into fog/fog-vsphere.

[2015-11-06 15:36] plribeiro3000 commented on #3740
@jrgarcia :+1: Thanks!

[2015-11-07 17:16] sunyao5411 commented on #3752
@Ladas I have test this way ,but  it is not work,  so is there any other way to find the reason?
Thanks!

[2015-11-07 19:30] phijojoseph opened #3753 "Will Fog supports nested templates for openstack orchestration"
I tried to use a nested template to deploy a couple of  instances . It works fine on heat command.But not with fog. If someone has tried on it, please let me know how to work on resource_resgistry or env.yaml .

Regards
Phijo

[2015-11-09 08:10] Ladas commented on #3752
@sunyao5411 write here exact Fog commands you are using, please. Is it keystone v2 o v3? Paste also endpoint list please.

The timeout is pretty weird, could you try the same command for obtaining metrics through OpenStack CLI? It's possible that error is in your setup or firewall, cause seems like the endpoint was obtained correctly, then it timeouted speaking to it.

Fog should handle different

[2015-11-09 14:48] geemus commented on #3753
@dhague @Ladas @TerryHowe - could one of you provide insight? Thanks!

[2015-11-09 15:10] Ladas commented on #3753
@phijojoseph https://github.com/ManageIQ/manageiq/blob/387a461df7f11f65cb4bff61c422629ac4872ba9/app/models/manageiq/providers/openstack/infra_manager/orchestration_stack.rb#L26

this is the code I used for stack update, create should be the same

It's a bit different to OpenStack CLI, since Heat CLI is doing some processing of files for you, using your filesystem. E.g. for the 'files' hash, it con

[2015-11-10 09:34] sunyao5411 commented on #3752
@Ladas  below is my steps:
1.exact Fog commond:
[----] I, [2015-11-11T04:13:14.786210 #4157:557e90]  INFO -- : Fog/openstack/requests/metering/list_meters.rb;data=>---
q:
- field: resource_id
  value: 42c41e7f-9605-4c7a-a699-e1eec7336ef8
[----] E, [2015-11-11T04:13:15.728196 #4160:7ffe90] ERROR -- : <Fog> excon.error     #<Excon::Errors::Timeout: read timeout reached>
........

2.use the some comm

[2015-11-10 10:51] Ladas commented on #3752
@sunyao5411 hm the error in 2) means it's configured badly and you can't talk to ceilometer.
Not sure why it works in Horizon? It uses the same api request as CLI.

Maybe you forgot to change the region also in keystone endpoint? Or maybe checking how RDO does that for other services might be good.

[2015-11-10 18:03] tadp commented on #3644
Any findings on the ftp stab @alexandru-calinoiu ?

[2015-11-10 18:13] phijojoseph commented on #3753
@geemus @Ladas
Thank you for the update. I ll have a try on it.

As i was not able to pass the file, I thought to pass the file via resource registry or env.yaml.  But both failed.

Now i ll try with files.
I have a question.
if is pass the file as
:files            =>required_file.yaml

how will i access the file in my master.yaml? it will be great if you can share a sample yaml template using ne

[2015-11-10 18:13] #3699 closed

[2015-11-11 01:52] NeMO84 commented on #3419
@geemus , I am hoping the 1.9 compat fix is nearing a release. Any timeline you can offer?

[2015-11-11 07:19] Ladas commented on #3753
@phijojoseph look e.g. on http://docs.openstack.org/developer/heat/template_guide/composition.html, you might want to also check http://hardysteven.blogspot.cz/ where he explains complex TripleO nested Heat templates

the :files needs to contain content of the yamls as a string, so if you have resource registry
resource_registry:
  "OS::Nova::Server": my_nova.yaml

then files needs to have {"my_no

[2015-11-11 11:12] dra commented on #3588
Hi Jeff. How is the refactoring going? It is quite hard to keep track with all the commits and find out about the state of this issue.
Thanks for your information, Daniel

[2015-11-11 11:53] phijojoseph commented on #3753
@Ladas
Thank you for the response. I have tried as you mentioned, but am getting some error.

please find my  code snippet

response=heat.stacks.new.save({
					:stack_name => "stack"+ "_" + SecureRandom.urlsafe_base64(8),
					:template => TEMPLATE_CONFIG,
					:files => { "server_with_floatingip.yaml" => Slave_Template_CONFIG },
 					:disable_rollback => "false",
					:parameters => {"vmcount"

[2015-11-11 12:49] Ladas commented on #3753
@phijojoseph hm some syntax errors maybe, this might need to be a string? "heat_template_version"=>Thu, 23 May 2013

I think you need to also send the template content as a string, so dump your yaml or json to string.

[2015-11-11 14:43] geemus commented on #3419
I'm hoping to get it out this week, but have been a little swamped. Still, I'd like to get it done ASAP. Sorry for the delays, things have just been a bit crazy for me.

[2015-11-11 18:44] phijojoseph commented on #3753
@Ladas the issue got solved, i have converted the yaml out to json, and parsed with file. seems to be working now.
i have one more question, how about passing multiple slave files to master.yaml?

can i use like this
"files => {"k1" => value1, "k2" => value 2}"

Thanks for all the supports.  and i would like to add a suggestion that, it will be great  if fog can give some documentation about the s

[2015-11-11 19:36] alexandru-calinoiu commented on #3644
Did not had the time for it, I am currently working on a [akamai provider](https://github.com/alexandru-calinoiu/fog-akamai) will get to the ftp one after this.

[2015-11-12 07:08] Ladas commented on #3753
@phijojoseph yes, exactly like this, files should include all the file names and their contents used, otherwise Heat will throw an exception.

If you could send a patch to documentation, based on you findings, that would be nice :-)

[2015-11-12 10:16] sunyao5411 commented on #3752
@Ladas Thank you!

I checked all the compute nodes and the region changed to myregion,but controller node was not, after i changed the controller node's region and restart the ceilometer's services  at the openstack CLI i can get the meter and also in fog .

Thanks！

[2015-11-12 10:34] Ladas commented on #3752
@sunyao5411 awesome :-)

[2015-11-12 14:28] phijojoseph commented on #3753
@Ladas  Sure , I ll share my findings. And I would like to know how to  pass the parameters to slave.yaml and get the output from slave.yaml.

Regards
Phijo

[2015-11-12 16:15] Ladas commented on #3753
@phijojoseph you can check the tripleo templates for that or e.g. this https://developer.rackspace.com/blog/openstack-orchestration-in-depth-part-3-multi-instance-deployments/ there is always interface to the nested stack.

It should be creating nested stack, where each of them has output, so check e.g. fog call @stack_service.stacks.all(:show_nested => true). There is a link between stack resourc

[2015-11-12 22:21] j-bailey opened #3758 "Cannot Get Openstack Identity v3 Calls Working"
I am trying to use identity v3, but it defaults back to v2.  We pass in the /v3/auth/tokens URL and it authenticates correctly, but all calls go to the older v2 URL.  During debugging, we turned on EXCON_DEBUG and noticed the code is switching to v2 based on the endpoints provided in server response.  In the response there is no v3 endpoints.  In the v2 code, @openstack_management_url is set to us

[2015-11-12 23:25] ericpeters0n opened #3759 "ArgumentError: aws is not a recognized storage provider"
So, I'm testing out syncing Rails assets to my S3 bucket, and it appears fog is not recognizing aws as a valid provider name...?
[code]
yields--
[code]

Any hints?

[2015-11-13 02:01] #3752 closed

[2015-11-13 09:00] dhague commented on #3758
Are you able to reproduce this using a DevStack setup (ideally Kilo)? If so, could you paste here the code you are using and I will try to reproduce from there and see what's going wrong.

[2015-11-13 12:55] j-bailey commented on #3758
I appreciate the help. I am traveling right now so I do my have code.  However I am connecting to a devstack server using irb. In addition I went against a year old open stack server. Both had similar results. I connected with Fog::Identity::Openstack.new attr.  Attr had the username, password, region and URL to connect. Then I would call the projects collection identity.projects, which would fail

[2015-11-13 15:36] geemus commented on #3759
I'd start by updating to latest versions of things, from there if you are still having an error we can definitely dig in further.

[2015-11-13 16:18] ericpeters0n commented on #3759
Alas, we're obliged to support Ruby 1.9.3 for now --hence the older branch.

Eric Peterson
Founder + CEO
eric@links.ee
213.304.4547

[2015-11-14 10:24] daniyal229 opened #3763 "version missing for fog-aliyun dependency"
install of fog-aliyun fails during installation of fog as all versions of fog-aliyun prior to 0.1.0 have been removed. I have a initiated a pull request in which I have updated fog.gemspec and have added version number for fog aliyun

[2015-11-14 15:15] #3763 closed

[2015-11-15 01:11] geemus commented on #3759
Ah, got it. I'm working on trying to release a new version that will be back to 1.9.x support, but not quite there yet I'm afraid. Hoping to stage/release it all soon though.

[2015-11-15 18:54] ericpeters0n commented on #3759
Good to hear. We've worked around it for now, but I'd be happy to test out that version when it arrives!

[2015-11-16 08:43] wgc-admin opened #3765 "LoadError: cannot load such file -- net/ssh after upgrading to fog-1.35.0"
This is the error message:
[code]

The `net-ssh` gem was a dependency of `fog-core`, but as I see that dependency has been removed in version `1.33.0`.
Adding `gem 'net-ssh'` to my `Gemfile` solves the problem, but I think this dependency should be in `fog` somewhere since I'm not using it in my application.

Using ruby 2.2.3, Rails 4.2.5, carrierwave-0.10.0.

[2015-11-16 10:30] h-michael commented on #3765
:+1:

[2015-11-16 11:14] plribeiro3000 commented on #3765
Actually we just removed `net-ssh` because of compatibility issues.
If it is complaining about not having it we might have some place that was not patched against it correctly.

@geemus You think this might be happening because when you require the provider `joyent` it is requiring all files of the provider and in this case even the one that requires `net-ssh`?

[2015-11-16 14:47] geemus commented on #3765
Yeah, this has been fixed on master, just need to follow up with a fog release I think/hope.

[2015-11-16 15:18] geemus commented on #3765
I've just release v1.36.0, which should hopefully help here, sorry for the temporary pain.

[2015-11-16 15:18] #3765 closed

[2015-11-16 15:19] geemus commented on #3419
I just release 1.36.0, which should (hopefully) be working more nicely with 1.9. Definitely let me know if you still see issues, I think we are at least closer, but I'm not certain I squished all the edge cases.

[2015-11-16 15:25] geemus commented on #3759
I just released 1.36.0, which I hope fixes this (or at least moves us in the right direction, I think a couple sharp edges may remain). Definitely let me know if you find any remaining gotchas. Thanks!

[2015-11-16 15:25] #3759 closed

[2015-11-16 15:41] j-bailey commented on #3758
Using irb, I do the following steps:
[code]
The project call returns a 404 HTTP error, because it is going to /v2.0/projects and not /v3/projects.  In lib/fog/openstack core at line 364, the identity_url is set to the URL provided in the response to the second call of /v3/auth/tokens.  It parses out the admin interface and uses it for follow-on calls, which use port 35357 and is pointing to v2.0 o

[2015-11-16 17:46] j-bailey commented on #3758
As a note, I have tried this against a fresh install of the latest Devstack and a one year old version of Openstack.

[2015-11-17 16:28] kert-io commented on #3442
Any developments on this issue?  Still seeing the leak with Rackspace.

[2015-11-17 18:24] TJM commented on #3419
Thanks, by the way @geemus

[2015-11-17 19:46] NeMO84 commented on #3419
@geemus , Thanks for addressing this!

[2015-11-17 20:46] danzilio opened #3767 "OpenStack Image Properties are missing in >= 1.3.5"
It seems that the V2 images are not returning the image properties. Here's how it looks in `1.34.0`:

[code]

Here's what we're seeing in `>= 1.35.0`:

[code]

[2015-11-17 21:20] geemus commented on #3767
@dhague @Ladas @TerryHowe - hey, one of you maybe have some insight here? Thanks!

[2015-11-18 10:48] Ladas commented on #3767
@geemus will look at it, by coincidence I am in need of properties too, so I would probably discover it myself today :-)

[2015-11-18 12:27] Ladas commented on #3767
it works for me on gem "fog", "~>2.0.0.pre.0"

Trying 1.35

[2015-11-18 12:42] Ladas commented on #3767
@geemus hm can't update to fog 1.36 because of this
https://github.com/fog/fog/blob/bc585b8d914793aa6d4cd57ec6af7dd7d76bd203/fog.gemspec#L59

ManageIQ is using gem "fog-google", ">=0.1.1", is that fog-google downgrade in fog temporary?

@danzilio can you try if 1.36 works for you?

[2015-11-18 13:04] danzilio commented on #3767
@Ladas we're seeing this in both 1.35 and 1.36 :(

[2015-11-18 14:07] Ladas commented on #3767
@danzilio ah, seems to be actually fault of glance V2, it doesn't return the properties as a hash but as an individual attributes in the request.

so what is image.properties['architecture'] in V1 is image.attributes['architecture'] in V2, the attributes method shows all API attributes. Only some of them are usually exposed as attributes of model. Meaning for v1 thse are equivalent.

image.propert

[2015-11-18 14:46] danzilio commented on #3767
Ahh! That makes more sense now! Thanks @Ladas!

[2015-11-18 17:34] mmoll commented on #3711
This should be resolved with 1.36, correct?

[2015-11-18 18:45] geemus commented on #3711
@mmoll that was my plan/the hope, do let me know if you are still having issues though and I'll keep working on it.

[2015-11-18 18:46] geemus commented on #3767
The fog-google downgrade/restriction is because fog-google after that is no longer 1.9 compatible and we are trying to (for the time being) keep the rest of fog 1.9.

[2015-11-19 07:02] Ladas commented on #3767
@geemus hm, will that apply also for 2.0? Trying to figure out how to unblock Fog for ManageIQ, we are having Google provider so they need the newest google gem.

I guess for 2.0 just documenting the fact and letting people to limit their fog-google in their GemFile if they want 1.9 compat?

[2015-11-19 23:20] drich10 opened #3770 "Openstack 1.36.0 now fails to list tenants"
Works in 1.35.0, now fails.
Stacktrace:
[code]

Here's the code that we use to verify the bug:
[code]

[2015-11-20 07:47] hirooooooo opened #3771 "/cog"

[2015-11-20 07:49] plribeiro3000 commented on #3771
?

[2015-11-20 14:52] seanhandley commented on #3770
Can you show the same code working correctly in 1.35.0 @drich10  ?

I'm having no trouble viewing tenants in my code.

[2015-11-20 14:53] seanhandley commented on #3770
Also, why are you using `Fog::Compute` and not `Fog::Identity` ?

[2015-11-20 17:51] drich10 commented on #3770
The code is the exact same for version 1.35, all we do is replace the version in the first line. We are currently using Compute because we are making these calls from outside our Openstack environment and the Identity class attempts to use the internal IPs of the services.

[2015-11-21 15:01] #3771 closed

[2015-11-23 10:50] mafraba opened #3773 "Can not create SSH keys in Digital Ocean"
Whenever I try to create a new SSH key on Digital Ocean (v2), I get the following error:

undefined method `save' for #<Fog::Compute::DigitalOceanV2::SshKey:0x007fab74942088>

The 'save', 'destroy' and 'update' methods are not correctly defined within 'Fog::Compute::DigitalOceanV2:: SshKey' but directly on 'Fog::Compute::DigitalOceanV2'.

[2015-11-23 20:21] #3773 closed

[2015-11-23 20:29] geemus commented on #3767
@Ladas I'm not sure. Originally we were targeting 2.0 to just drop 1.8, but 1.9 got added as a possibility due to net-ssh (and now mime-types). For the time being I'm still hoping to support 1.9 for most things in the near term. It may be that users will be better off using the already divided gems in order to avoid and manage this themselves (and apply further pressure to subdivide the remaining

[2015-11-23 21:34] joshi4 opened #3775 "Breaking change in mime-types-data prevents installation of fog 1.5.0"
Configuration detail:

* `ruby -v = ruby 1.9.3p547 (2014-05-14 revision 45962) [x86_64-linux]`
* chef-client -v = 11.16.4`
* running on ubuntu trusty

I was installing fog through `chef` using the `chef_gem` resource and till yesterday everything was fine.
However, recently Nov 21 or Nov 20th ( 2015) they introduced `mime-types-data` which requires ruby 2.0 and since fog depends on `mime-types >=0

[2015-11-24 00:18] GAV1N commented on #3775
My PR above specifies the latest non-breaking version of `mime-types` in the `gemspec`. I'm not sure if the maintainers will like that approach, but I figured it's worth a shot because I too have been bitten by this issue and I'd like to see it resolved quickly.

[2015-11-24 02:03] joshi4 commented on #3775
@GAV1N : nice I was able to modify my cookbook to download a compatible version of mime-types explicitly before installing fog and that seems to have solved the issue for me:

[code]

definitely hacky and your solution is more cleaner and better for the longterm.

[2015-11-24 07:18] Ladas commented on #3767
@geemus right, so starting fog-openstack that would support just ruby 2 would be the way? Or it should be in  fog-openstack-core?

Though if it's needed for other gems, I don't have problem dropping 1.9, given 1.9 and 2.0 have like 99% compatibility, people should not have problem moving, right?

Should I start another issue for this? :-)

[2015-11-24 11:54] mafraba opened #3777 "Digital Ocean's list_images request does not return the full list of images"
It seems that by default the Digital Ocean API uses pagination, so it returns a page with a few images and a link to the next.

Right now the list_images request is just returning the images that come in the first page, but I guess this is not the behavior one would expect.

[2015-11-24 12:51] plribeiro3000 commented on #3775
@joshi4 I suggest you to use @GAV1N solution which is the best one for this kind of issue.
You can specify it on your `Gemfile` directly since `fog` does not specify it directly and it will work out of the box. In the meantime i believe we might get @GAV1N solution into `fog` soon.

Thank you both. Since there is an open PR already i will close this so we can continue to discuss it there if needed

[2015-11-24 12:51] #3775 closed

[2015-11-24 13:37] geemus commented on #3777
@bryanl could you take a look when you have a chance? Thanks!

[2015-11-24 16:07] geemus commented on #3767
@Ladas splitting it out seems like a win regardless. We definitely would like to drop 1.8 support ASAP, but I think 1.9 may linger a bit longer still (due to some OSes having old versions and things). Another issue might be a good idea.

[2015-11-24 17:10] Ladas opened #3778 "Newest fog is not compatible with newest fog-google"
It's due to ruby version, Fog has now dependency on older fog-google that still supports ruby 1.9. So now we can't use newest Fog with OpenStack and fog-google together

possible solutions
1. Drop 1.9 support in Fog 2.0
2. Move OpenStack to different repo (fog-openstack) and drop ruby 1.9 support there
3. Fix fog-google so it supports ruby 1.9, so all Fog project are consistent in dependencies
4.

[2015-11-24 17:11] geemus commented on #3778
I thought the lock in fog on max fog-google version prevented this particular edge case?

[2015-11-24 17:13] Ladas commented on #3767
@geemus https://github.com/fog/fog/issues/3778 it's kinda big issue for us now, cause we cannot move to newer version of Fog. Some quick and painless solution would be the best. :-)

[2015-11-24 17:19] Ladas commented on #3778
@geemus right, in ManageIQ we fetch newest version of fog-google, we started a google provider and I think the google guys want the latest greatest stuff there. So now it conflicts for us.

https://github.com/ManageIQ/manageiq/commit/12e84b03d9e1b36dd84322a8619c2e9868b95793
this is the commit from a google guy explaining the need of a new version, it didn't conflict at that time,

[2015-11-24 17:39] geemus commented on #3778
@icco @temikus - thoughts?

[2015-11-24 17:40] geemus commented on #3767
got it. I mentioned the fog-google maintainers on the other thread, so maybe they'll have more insight/thoughts.

[2015-11-24 18:14] Temikus commented on #3778
There's very little actual difference between 1.0.0, it's basically this commit:
https://github.com/fog/fog-google/commit/a66b16fa7c2373f9c8be2e80bc942ad8d13ece3f
So, with that said, it should be ok with relaxing the gemspec a bit. I looped in @lwander, change should be proposed soon.

[2015-11-24 19:10] MACscr commented on #1328
I would really love support for proxmox4 as well.

[2015-11-24 19:15] plribeiro3000 commented on #1328
@MACscr Take a look at #3644 . That issue is centralized for all provider requests.

[2015-11-24 19:19] plribeiro3000 commented on #3751
@alexandru-calinoiu It looks good to me besides some details that i think is better to just open issues at the repo once we migrate it over to the `fog` organization.
@geemus Can you help migrating the project to the `fog` organization?

[2015-11-25 07:10] Ladas commented on #3778
@Temikus @lwander awesome, thank you guys

[2015-11-25 07:35] Ladas commented on #3767
@geemus awesome, thank you. I think we can close this one :-)

[2015-11-25 08:52] alexandru-calinoiu commented on #3751
@plribeiro3000 thanks for your feedback, I will do some more work on it this week as I have a couple of free days.

[2015-11-25 13:16] agnel commented on #3765
Thanks @geemus for the update. I just faced the same issue with fog '1.23.0' on c9.io :+1:

[2015-11-25 17:12] jmehnle commented on #3275
I'm suffering from this as well since I upgraded from fog 1.22 to fog 1.35 and fog-aws 0.7.6.

So how does the workaround of explicitly specifying the region gel with Amazon's statement that "S3 is global and does not require region selection"?

[2015-11-27 12:13] dhague commented on #3758
It's hard to determine which version of a service is in the catalog without calling the endpoint URL to get the metadata each time, which adds yet another call into an already chatty process.
The best workaround for now is probably to add another item to v3_attr, namely openstack_endpoint_type. Set the value of this parameter to the *type* of the Identity v3 service in the catalog - possibly 'iden

[2015-11-27 13:12] seanhandley commented on #3758
I'm seeing the exact same issue here - are you planning on addressing @dhague ?

I may have some time to make a code change next week if not :)

[2015-11-27 13:18] seanhandley commented on #3758
[code]
See: [http://docs.openstack.org/developer/keystone/http-api.html#i-am-a-deployer](http://docs.openstack.org/developer/keystone/http-api.html#i-am-a-deployer)

We need to change the logic in the OpenStack core so it doesn't regex out a version number from the auth URL: https://github.com/fog/fog/blob/master/lib/fog/openstack/core.rb#L167

[2015-11-27 13:23] alexandru-calinoiu commented on #3751
@plribeiro3000 I've added the rest of the storage api along with mock support, please take a second look and provide me with feedback.

I will release a new gem shortly.

[2015-11-27 13:59] plribeiro3000 commented on #3751
@alexandru-calinoiu Awesome. I will take a look at it soon.

[2015-11-27 14:27] dhague commented on #3758
@seanhandley I am busy on other stuff for the next few weeks, but I do have it in my backlog to properly interrogate the metadata on the endpoint to get the API version instead of just regex-matching the URL

[2015-11-27 14:42] seanhandley commented on #3758
Ok @dhague - sounds good.

[2015-11-27 15:14] MrMEEE commented on #2002
I'm still seeing this on RHEL7, with version 1.24.0???

[2015-11-27 15:14] MrMEEE commented on #2002
I get the:
Libvirt::RetrieveError: Call to virDomainAutostart failed: An error occurred, but the cause is unknown

[2015-11-27 22:21] mrjcleaver commented on #1328
Take a look at https://github.com/telcat/vagrant-proxmox/issues/25#issuecomment-159269708

[2015-11-28 02:31] petems commented on #3739
I updated, may have found some live bugs in the new v2 provider, need to check

[2015-11-28 02:45] petems opened #3781 "[digitalocean] SSH Key creation and deletion currently not implemented"
I'm not sure if I'm doing something wrong, but it looks like the SSH key creation and deletion aren't working...

## Creation
[code]

## Deletion

[code]

[2015-11-28 02:47] petems opened #3782 "[digitalocean] Change to use v2 provider for default?"
Since the v1 API is officially EOL, should we remove the v1 API code and then point the provider to use v1 by default?

[2015-11-30 21:17] geemus commented on #3751
@alexandru-calinoiu In terms of migration, I think the easiest is just to transfer the repo to me personally (and then I have the right permissions to move it into the org from there). Let me know if that doesn't work or you have questions/concerns. Thanks!

[2015-11-30 21:19] geemus commented on #3275
@jmehnle probably not very well. That said, the way it tries to do tell you to make calls elsewhere is wildly inconsistent from one response to another, which makes it difficult to work well in all cases.

[2015-11-30 21:19] geemus commented on #3765
@agnel glad to hear that helped.

[2015-11-30 21:20] geemus commented on #3767
@Ladas great, thanks.

[2015-11-30 21:20] #3767 closed

[2015-11-30 21:24] geemus commented on #3782
I think you meant v2 by default? If so, sounds good to me. /cc @bryanl

[2015-11-30 21:24] #3739 closed

[2015-11-30 21:25] geemus commented on #3781
@bryanl could you take a look and/or advise? Thanks!

[2015-11-30 21:52] petems commented on #3782
Yep! :+1:

[2015-11-30 22:19] bryanl commented on #3782
Yes, this should happen since the v1 API is no more. I won't be able to look at this before the weekend, but if anyone else wants to get it started, that would be great as well.

[2015-11-30 22:20] bryanl commented on #3781
This looks valid. I'll take a look. Thank you @petems for finding the issue.

[2015-11-30 22:20] bryanl commented on #3777
@mafraba I'll take a look at this.

[2015-11-30 22:26] petems commented on #3781
@bryanl I'm not sure if it's related, but he V1 version has

[code]
https://github.com/fog/fog/blob/master/lib/fog/digitalocean/models/compute/ssh_keys.rb#L1

At the top of its ssh_keys model, I tried adding that but no dice. But it might point in the right direction?

[2015-12-01 03:39] agnel commented on #3765
Thanks Wesley. :)
On 01-Dec-2015 2:50 am, "Wesley Beary" <notifications@github.com> wrote:

[2015-12-01 05:00] jmehnle commented on #3275
Granted, their redirect behavior is probably terrible. Could some of the logic be stolen from Amazon's `AWS::SDK`, though? That seems to get it right and follow redirects reliably.

At this point my company is considering switching away from Fog to `AWS::SDK` because of Fog's need to specify the AWS region for S3 buckets. :(

[2015-12-01 13:28] alexandru-calinoiu commented on #3751
@geemus I've send a transfer request

[2015-12-01 15:19] geemus commented on #3275
Looks like they don't try to parse the responses, if it fails due to region they make additional requests behind the scenes to find the region and then retry...

[2015-12-01 15:19] geemus commented on #3275
See: https://github.com/aws/aws-sdk-ruby/blob/6e1054f9ddd9e4d37c9edaf8a8dee953f5c08459/aws-sdk-core/lib/aws-sdk-core/plugins/s3_request_signer.rb

[2015-12-01 15:20] geemus commented on #3275
Due to the extra cost involved with additional requests they try to maintain a cache of bucket -> region mappings as well. See: https://github.com/aws/aws-sdk-ruby/blob/282f9719cf7c6389bee935ab17360e6dd29956d3/aws-sdk-core/lib/aws-sdk-core/s3/bucket_region_cache.rb

[2015-12-01 15:24] geemus commented on #3275
I would support work on trying to fix this still, but I don't think I have the bandwidth to do it myself in the near future. In theory we might be able to just make the extra call in cases where we are unable to parse the response to mitigate things.

[2015-12-01 15:27] geemus commented on #3751
Transfer should be complete, just let me know if you have anything else you need here.

[2015-12-01 15:27] #3751 closed

[2015-12-01 15:31] petems commented on #3781
It looks like save works correctly now (on bbe707e2b6304a51d615624bea85ca3c74c2d30c)

[code]

I might've just had the wrong syntax before!

Delete now works due to #3783

[code]

[2015-12-01 15:46] geemus commented on #3781
Cool, if I'm not mistaken this sounds fixed. Let me know if I missed anything.

[2015-12-01 15:46] #3781 closed

[2015-12-01 17:10] petems commented on #3781
:+1: Need to update the getting started doc! :+1:

[2015-12-01 19:13] geemus commented on #3781
Good call, I would certainly welcome your help in making it match with your experience!

[2015-12-02 01:52] borski opened #3784 "Fog::Mock.reset fails"
With master, for some reason, `Fog::Mock.reset` throws the following exception:

[code]

Reproducing is very easy:
[code]

No idea where it's coming from / how to fix it, or when it was introduced, but it's breaking some of my specs, sadly.

[2015-12-02 02:31] borski commented on #3784
I'm guessing this might be related to #3762?

[2015-12-03 10:54] mafraba opened #3785 "[digitalocean] 'get' method not working on images collection for DigitalOcean v2"
When calling dov2.images.get(<image_id>) , being dov2 a Fog::Compute::DigitalOceanV2::Real instance, an error happens:

NoMethodError: undefined method `get_image_details' for #<Fog::Compute::DigitalOceanV2::Real:0x007fca742dc878>

I guess it's simply the 'get_image_details' request not being properly included in Fog::Compute:: DigitalOceanV2.

[2015-12-07 18:04] yanke-guo opened #3790 "Is there any way not setting public acl while `public` option is true"
I've set acl to `private` at s3 bucket level, and add a policy to allow anonymous read from specified HTTP Referer header.

Now I have a problem, if I set `public` option to false, all image urls will be signed, that is a waste, but if I set `public` to true, `fog` will add `public-read` acl to object level, which will override HTTP Referer policy.

[2015-12-07 18:09] plribeiro3000 commented on #3790
@yanke-guo Could you open this against [`fog-aws`](https://github.com/fog/fog-aws) instead please?

Thanks!

[2015-12-07 18:29] yanke-guo commented on #3790
@plribeiro3000 OK

[2015-12-07 18:30] #3790 closed

[2015-12-07 18:42] yanke-guo commented on #3790
@see https://github.com/fog/fog-aws/issues/207

[2015-12-07 18:43] plribeiro3000 commented on #3790
@yanke-guo Awesome! Thank you!

[2015-12-08 21:50] rroa commented on #3781
This fix seemed to solve issues for Deletes, but creation is still not working on 1.36.0

[2015-12-08 21:57] petems commented on #3781
@rroa What's the command you're trying:

[code]
 worked for me?

[2015-12-08 22:00] rroa commented on #3781
`docean.ssh_keys.create(
  :name        => 'Default SSH Key',
  :public_key   => File.read("#{Dir.home}/.ssh/id_rsa.pub")
)`

[2015-12-08 22:03] petems commented on #3781
Ah, can you try that on the master branch of fog rather than the latest gem? I think that was fixed in a recent PR

[2015-12-08 22:04] petems commented on #3781
In fact, I know that to be true because it was fixed in https://github.com/fog/fog/commit/808205cc1b532b8b5dc6ec6019c2337ceff6b453 which hasn't been released yet :+1:

[2015-12-08 22:04] rroa commented on #3781
I'm referencing the gem this way

```gem 'fog', :git => 'https://github.com/fog/fog.git', :branch => 'master'```

Should I use that commit as a ref?

[2015-12-09 04:47] rroa commented on #3781
Nevermind, had some issues with my local environment, using the git repo fixes that issue.

[2015-12-09 12:02] h0lyalg0rithm commented on #3782
The code that manages the api version is on fog/fog-core repo.I have created a PR there https://github.com/fog/fog-core/pull/172

[2015-12-09 14:27] geemus commented on #3781
Thanks for the updates/confirmation. Sorry about no release just yet, I'll try to remedy that in the next couple days.

[2015-12-09 14:33] geemus commented on #3784
@jrgarcia @plribeiro3000 any ideas on fixing this up? Thanks!

[2015-12-09 14:45] #3785 closed

[2015-12-09 14:57] Temikus commented on #3778
PR submitted, adding to track: https://github.com/ManageIQ/manageiq/pull/5768

[2015-12-09 15:23] Ladas commented on #3778
@Temikus awesome, thank you @lwander

[2015-12-09 15:44] jrgarcia commented on #3784
@geemus @borski I'll take a look at it at some point today.

[2015-12-09 16:29] geemus commented on #3778
Sounds like this is probably resolved elsewhere then? Let me know if I misunderstand. Thanks!

[2015-12-09 16:29] #3778 closed

[2015-12-10 16:46] rsiddle opened #3792 "Duplicated Subdomain"
Whilst uploading via the asset_sync gem, I've come across this error which seems to be Fog. It's got a duplicate subdomain "gch-stage.gch-stage". I'm using Fog 1.36

[fog][WARNING] fog: followed redirect to gch-stage.s3-eu-west-1.amazonaws.com, connecting to the matching region will be more performant
DEBUG [7c3496b3] 	rake aborted!
DEBUG [7c3496b3] 	Excon::Errors::SocketError: hostname "gch-stage

[2015-12-10 16:47] plribeiro3000 commented on #3792
@rsiddle This seems to be an issue with `fog-aws`. Can you confirm which version are you using?
And perhaps open an issue against [`fog-aws`](https://github.com/fog/fog-aws) instead?

[2015-12-10 20:16] geemus commented on #3792
We have some known redirect-following issues. If you setup the connection to be against eu-central-1 it is likely to just-work. Would that be tenable for you?

[2015-12-10 20:16] #3782 closed

[2015-12-11 09:05] domcleal commented on #3711
1.36.0's fine, thanks!

[2015-12-15 01:00] borski commented on #3784
Bump. Any update on this?

[2015-12-15 01:12] jrgarcia commented on #3784
This is fixed in the latest fog-vsphere. I can make a PR to require the latest version of fog-vsphere in fog tonight.

[2015-12-15 06:50] rroa opened #3798 "[digitalocean] server destroy throws NoMethodError"
Even though the request is defined, the destroy method doesn't seem to be implemented for the server model.

[code]

[2015-12-15 06:58] borski commented on #3784
@jrgarcia No problem - I saw the fix. If you wouldn't mind pushing a release, I can certainly make the pull req to update the version (or you can, either way). :)

[2015-12-15 11:28] pedantic-git opened #3801 "Travis runs are failing on OpenStack provider"
It's not clear what's changed since the last commit to master 6 days ago, but all Travis runs on pull requests since then are failing on the OpenStack provider.

For example, [#3794](https://github.com/fog/fog/pull/3794) is a one-line change in the vCloud Director provider, and it is exhibiting this behaviour.

[2015-12-15 16:11] jrgarcia commented on #3784
@borski Sorry. I somehow missed the fact that there wasn't a release after that. I've pushed a new release of `fog-vsphere`. Feel free to make the PR for the version update. Thanks!

[2015-12-16 15:36] h0lyalg0rithm commented on #3798
Hi @rroa, to delete the server from digitalocean you have call the delete method.

[2015-12-16 15:38] h0lyalg0rithm commented on #3798
@geemus I think you can close this one :)

[2015-12-16 16:04] h0lyalg0rithm commented on #3798
@rroa I realized that the example in the repo was wrong.Thanks for letting us know.

[2015-12-18 00:01] #3784 closed

[2015-12-19 12:27] h0lyalg0rithm commented on #3801
Even documentation changes cases the build to fail #3803

[2015-12-21 15:30] geemus commented on #3784
Thanks!

On Thu, Dec 17, 2015 at 6:01 PM, Paulo Henrique Lopes Ribeiro <
notifications@github.com> wrote:

[2015-12-21 15:38] geemus commented on #3801
@dhague @Ladas @TerryHowe any ideas?

[2015-12-21 16:29] #3798 closed

[2015-12-21 16:45] #3711 closed

[2016-01-04 10:01] Ladas commented on #3801
actually those are not fails, those are not implemented test e.g. https://github.com/fog/fog/blob/master/spec/fog/openstack/image_v2_spec.rb#L233
but it's not causing CI failure, just prints the failures as pending

The actual CI fail is in digitalocean, I saw those failures before, not sure what is causing this, seems like some race condition, cause it usually disappears for me after restarting t

[2016-01-04 14:44] pedantic-git commented on #3801
My apologies - I read that output incorrectly. @Ladas is correct that it is the digitalocean provider that is causing the CI failures.

[2016-01-04 17:57] Ladas opened #3812 "Fog OpenStack keystone v3 caching is non deterministic"
brought by:
https://github.com/fog/fog/pull/3738

My biggest problem is, that the behavior is non deterministic now, which is not good for lib I think. So for ManageIQ CI, which is doing a lot of request per one recorded VCR, it will always pass the 30 second interval, always having variable amount of requests cached. Then of course the recorded VCR is much quicker, so that is another issue, it wo

[2016-01-04 18:09] Ladas commented on #3812
@geemus @dhague @TerryHowe Any suggestions?

This kinda blocks me from using the new Fog version. ( well I would have to remove my keystone v3 tests from CI :-) )

[2016-01-04 18:27] dhague commented on #3812
Solution (1) makes sense to me - cache_ttl would be zero by default, and would disable caching. That would involve minimal coding, resolve the issue you are having, and still allow our Ruby-on-Rails application to behave reasonably quickly by turning on per-request caching with a TTL of 30 seconds.

[2016-01-04 18:28] dhague commented on #3812
Solution (2) also sounds good, but would require rather more coding :-P

[2016-01-04 18:35] Ladas commented on #3812
@dhague I agree :-)

Do you think you will have a time for the for Solution (1), or should I do that?

[2016-01-05 06:25] dhague commented on #3812
I won't have the time this week, but should be OK to do it next week if that works for you?

[2016-01-05 13:16] Ladas commented on #3812
@dhague if you will have time for it next week, that would be awesome, thank you. :-)

[2016-01-05 15:21] geemus commented on #3812
Sounds like starting with solution 1 will release the pressure and then maybe we can revisit and think more about 2 at some point in the future.

[2016-01-05 15:58] Ladas commented on #3812
@geemus yeah, I think I might tackle the solution 2 in the future, as it will allow optimization of API calls

[2016-01-05 17:38] cppatil opened #3814 ""delete_on_terminate" param is not present "rackspace computeV2 create_server.rb""
File name:"fog/rackspace/requests/compute_v2/create_server.rb"

"delete_on_terminate":true  parameter should be added  under data['server']['block_device_mapping_v2'] .

[2016-01-05 21:13] gb-timeplay opened #3815 "Rackspace storage copy_object doesn't preserve content-type by default"
Using copy_object to duplicate a file in Rackspace Cloud Files storage, the content-type is set to application/json unless a 'Content-Type' header is explicitly set.

[2016-01-06 15:21] geemus commented on #3815
@mdarby could you check this out? Thanks!

[2016-01-06 17:16] geemus commented on #3801
Thanks for clarification.

@bryanl would appreciate any insight you might have. Thanks!

[2016-01-06 21:37] geemus commented on #3801
Just pushed a couple fixes for the digital ocean stuff, so hopefully back in business now.

[2016-01-06 21:37] #3801 closed

[2016-01-07 07:24] MaPoCaCe commented on #3758
I had the same behaviour, please check if https://github.com/fog/fog/pull/3806 mitigates the problem.

[2016-01-13 11:50] alex-lairan opened #3819 "Fog Mock doesn't update"
Hello,

On rails, I want to test my method who use fog, so, I mock fog to set up the environment.

When I create a server, create a volume then attach it to server, server doesn't get updated.

block_device_mapping stays empty, I cannot list all volumes from the server.

Have I done something wrong?

[code]

[2016-01-14 15:10] ktdmedia commented on #3644
+1 for FTP

[2016-01-14 16:36] heikobornholdt commented on #3644
I'm also interested in (S)FTP-Support 😍

[2016-01-19 16:17] geemus commented on #3819
It looks as though that particular part of mocking hasn't been implemented yet. We would certainly welcome help in this department if you are able and willing. Thanks!

[2016-01-21 20:09] jamesvanklink opened #3828 "Expected(200) <=> Actual(404 Not Found)"
I'm working on writing a rspec test using Carrierwave and Fog.  I'm trying to mock Fog and have
Fog.mock!
Fog.credentials_path = Rails.root.join('config/fog_credentials.yml')
connection = Fog::Storage.new(provider: 'AWS')
connection.directories.create(key: CarrierWave::Uploader::Base.fog_directory)

In a file in my support directory and am including it in my controller test.  However, it is not fi

[2016-01-22 21:45] geemus commented on #3828
That should work, I think. It does use the credentials to segregate mock data though, so be sure the controllers and/or tests are using the same credentials as the directory create there or you may have issues. Otherwise I would expect that to work though. Let me know if you still come up short and I can certainly help troubleshoot further. Thanks!

[2016-01-26 11:04] hscheffers opened #3830 "PPC support for fog"
Hi,

We have a KVM PPC system, but i cannot provision the system from foreman.
This is caused by the fact that fog doesn't know ppc architecture. Will this be enabled in the feature?

[2016-01-26 14:07] NielsKSchjoedt commented on #3765
I'm still getting this error on 1.37.0

[2016-01-26 16:30] thindiyeh opened #3831 "Propose to add compute API v2.1 to openstack - new features, Servers password (servers, os-server-password)"
please add compatibility to openstack compute v2.1 API, it has new functionality such as Servers password (servers, os-server-password)

Thanks in advance!

[2016-01-26 21:07] geemus commented on #3830
I would be open to supporting work on that, but I don't know of any that is underway and I don't have access to or experience with KVM PPC.

[2016-01-28 05:05] saw792 opened #3832 "[vcloud_director] Support CPU/Memory 'Weight' and 'Reservation' parameters"
vCloud Director supports a few different resource allocation models for VDCs, one of which is 'Reservation Pool'. This allows individual VMs to have a 'priority' value and a 'reserved' value for CPU and memory resources. In the ovf format these values are mapped to in the 'Weight' and 'Reservation' fields respectively.

Currently when updating CPU/Memory these values are hard-reset to 0 (see extra

[2016-01-28 17:14] gb-timeplay commented on #3815
More details on this:
If no Content-Type header is set in the call to copy_object, the FOG storage model automatically adds a Content-Type of application/json. If no Content-Type header is set in the request, Rackspace Cloud Files uses the Content-Type of the object being duplicated.

My workaround was to explicitly set 'Content-Type' => nil in the options hash.

[2016-01-29 10:36] vizes-nyolcas opened #3834 "Fog and resource registry"
I tried to use a nested template to deploy my autoscaling  system using by a template.
In the template I use a nested template. It works fine with heat CLI command. Validation error occurs when I use  Fog.

I tried to pass environment yaml file to Fog by ':environment' and then by ':files' option, but heat-api gives back a validate error:

same error occurs when I tried file:/// resource type

sam

[2016-01-29 15:05] plribeiro3000 commented on #3834
Which provider are you using?

Em sex, 29 de jan de 2016 02:36, vizes-nyolcas <notifications@github.com>
escreveu:

[2016-01-29 15:37] vizes-nyolcas commented on #3834
I've used openstack provider

2016-01-29 16:05 GMT+01:00 Paulo Henrique Lopes Ribeiro <
notifications@github.com>:

[2016-01-29 17:09] thindiyeh commented on #3831
I added a support to get_os_password from openstack, see PR #3833

[2016-01-29 22:12] geemus commented on #3832
Sounds reasonable. Just let me know if you have questions or anything I can help with toward that enhancement. Thanks!

[2016-01-29 22:35] geemus commented on #3815
@gb-timeplay Nice to hear there is a workaround, seems like we might have a bug still though. Would you be up for working toward a fix? I'm happy to support you however I can in that, but don't actively use Rackspace myself so wouldn't easily be able to verify or anything.

[2016-01-29 22:46] geemus commented on #3834
@dhague @Ladas @TerryHowe - any of you able to help/advise?

[2016-01-30 13:37] TerryHowe commented on #3834
I haven't used Heat from Fog, but it sounds like you are sending yaml and it is expecting json.  Is you file really named _yaml rather than .yaml?  That would be one thing I'd look at and the other is I'd try json.

[2016-01-30 15:29] vizes-nyolcas commented on #3834
all the files are yaml file as heat user guide states. But I've read them as string (as Fog rdoc recommends)

In the main template I refer to an external yaml file as a nested template.
the environment file is

then create orchrestration  object

finaly tried to start the stack

the result is:

  :headers       => {
    "Content-Length"         => "1114"
    "Content-Type"           => "applicatio

[2016-02-01 04:54] dra commented on #3588
Hi.
Is there anybody who can tell me the status on this refactoring? Is there any chance I can procede my work, or is this whole refactoring thing stucked?
Thanks alot!
Daniel

[2016-02-01 14:20] fifthecho commented on #3588
I am still working on this. I apologize that it's slow going, but I'm making progress on getting the tests in place to then get the refactoring done.

[2016-02-02 07:36] Ladas commented on #3834
@vizes-nyolcas the files hash must contain all the templates used within the master template and nested templates.

Heat does pretty bad job at this, when it's just utility in Heat CLI, that fetches templates from all sources and building the dictionary. For API usage, you have to do it yourself. If you need I can point you to the code in python-heatclient, that does the recursive scan of the temp

[2016-02-02 07:38] Ladas commented on #3834
:environment should contain content of the Heat environment file

[2016-02-02 14:51] vizes-nyolcas commented on #3834
Thank you, Ladislav

I've use :files and :environment as you suggest, but it is still not
working.

it said: "Failed to validate: Could not fetch remote template
\\\"file:///home/heat-tmpl/moodle/lb_moodle_node.yaml\\\": Invalid URL
scheme file\"

2016-02-02 8:38 GMT+01:00 Ladislav Smola <notifications@github.com>:

[2016-02-02 19:35] kireevco opened #3835 "Associating VMs breaks on some ESXi hosts (from theforeman)"
It happens on some ESXi server, and some servers are ok. I screaming for help to get some direction on this strange issue.

Trace:
[code]

[2016-02-02 20:12] plribeiro3000 commented on #3835
First thing is that you are using a really old version. Second is that you are missing the `server_id` parameter as you can see in [this line](https://github.com/fog/fog/blob/v1.34.0/lib/fog/vsphere/models/compute/interfaces.rb#L21).

[2016-02-02 20:47] kireevco commented on #3835
@parthaa thank you for your response.

Can't control foreman gem version.
Interesting. Another ESXi server runs completely fine within same server, same set of hosts:

(foreman log)
[code]

What is `server_id`? is it something that vsphere api provides?

Maybe it's worth to mention @ohadlevy here.

[2016-02-02 21:06] plribeiro3000 commented on #3835
So i'm not that into `vsphere` but looking at the code it seems to be the server associated with those interfaces.

Note that in the latest version of fog, `vsphere` got extracted to [`fog-vsphere`](https://github.com/fog/fog-vsphere) and this will fixed there if is really a bug because `fog` does not have any `vsphere` code in the main gem since the migration.

[2016-02-02 23:49] kireevco commented on #3835
I will close ti here, and hope for fog-vsphere repo issue tracker to shed some light.

Thank you @plribeiro3000

[2016-02-02 23:51] plribeiro3000 commented on #3835
Sure @kireevco . I would recommend you to try to use the latest version of fog first.
Otherwise you won't get the code that is on that repo and will be harder to help you out.

[2016-02-02 23:57] #3835 closed

[2016-02-02 23:58] plribeiro3000 commented on #3835
Closing in favor of fog/fog-vsphere#27

[2016-02-05 14:31] zhitongLBN opened #3836 "mock in fog openstack snapshot 'list_snapshots' error"
i got a error while using: `.snapshot.all` when i'm in the Mock mode
cause in request/compute/list_snapshots.rb
it call `get_snapshot_details.body['snapshot']` but `get_snapshot_details` need a `snapshot_id` argument.

[2016-02-05 21:26] geemus commented on #3836
Ah, probably just an oversite as the interface as evolved. Would you be up for trying to work on a fix? Thanks!

[2016-02-08 16:32] zhitongLBN commented on #3836
Please look at my pull request and tell me what should I improve, thx :)

[2016-02-09 10:46] mtekel commented on #3723
It would be nice if someone could pick up that [PR](https://github.com/fog/fog/pull/3722) and add tests so that it is mergable. Without this, functionality for GCS is still broken in some projects which want to be compatible with Openstack, like the referenced [cloud foundry controller](https://github.com/cloudfoundry/cloud_controller_ng/pull/452/files#diff-aa2798782d5185bb6e352d8fcec4aceaL14).

[2016-02-09 19:53] #3836 closed

[2016-02-09 19:53] geemus commented on #3836
@zhitongLBN looks good, thanks!

[2016-02-10 13:18] Ladas commented on #3834
@vizes-nyolcas could you paste somewhere all the params?

[2016-02-10 15:20] mafraba opened #3839 "[joyent] Version 6.5 of Joyent API is deprecated"
Joyent does not support 6.5 version of their API anymore (see https://apidocs.joyent.com/cloudapi/, apendix E).

The api version to use can be specified when creating a Fog::Compute::Joyent object, but I found that the deprecated 6.5 is being used by default.

Moreover, support for Basic authentication should also be removed since the newer versions of the API don't support it.

[2016-02-10 16:25] geemus commented on #3839
Thanks for pointing this out. Would you be willing and able to help us out with a patch? Thanks!

[2016-02-10 20:31] jamesvanklink commented on #3828
That indeed was the issue.  Thanks for the help.

[2016-02-10 20:31] #3828 closed

[2016-02-11 18:08] zhitongLBN opened #3841 "Open stack volume can't create with options"
Open stack volume can't create with options

because in `model/volume` the methods 'save' call `create_volume` like this

[code]

and in the other side function `create_volume` in `requests/` need to get its options like this:

[code]

so it will never get it's options

[2016-02-11 18:09] zhitongLBN commented on #3841
I'm up to fix this if you are agree with what I said :)

[2016-02-13 17:39] nj commented on #3305
Is it something that will come in v2, though until now no change appear?

[2016-02-15 08:46] vizes-nyolcas commented on #3834
Here they are:

http://pastebin.com/P0ev6rN9

2016-02-10 14:18 GMT+01:00 Ladislav Smola <notifications@github.com>:

[2016-02-15 09:29] Ladas commented on #3834
@vizes-nyolcas I believe you need to put a full path into the files dictionary

"file://home/daddy/heat-tmpl/moodle/lb_moodle_node.yaml" => nested

[2016-02-15 13:48] mafraba commented on #3839
I'd be glad to do it if I find the time. Can't promise anyway.

[2016-02-16 15:02] geemus commented on #3841
Well, the master version looks like it includes a few more options than that:
[code]
But I could see how that could still be a problem. Are there particular other options that are getting dropped?

[2016-02-16 15:05] geemus commented on #3841
Looks like this is actually fixed by #3844

[2016-02-16 15:05] #3841 closed

[2016-02-16 15:09] geemus commented on #3305
Our hope is to have things universally broken out for v2, but we aren't there yet. Many providers are separated and can be used independently, but not all of them.

[2016-02-16 15:09] geemus commented on #3839
Thanks!

[2016-02-16 16:30] zhitongLBN opened #3847 "[openstack]Is that making associate and disassociate in floating-ip objet is useful?"
I found that `associate` and `disassociate` a public_ip with a port is not in object `model/floating_ip`,
but in `requests/` there are services `associate_floating_ip` to `disassociate_floating_ip` to do the thing.

https://github.com/fog/fog/blob/master/lib/fog/openstack/models/network/floating_ip.rb#L6-L37
https://github.com/fog/fog/blob/master/lib/fog/openstack/requests/network/associate_floati

[2016-02-17 22:18] geemus commented on #3847
@zhitongLBN yeah, I think that sounds reasonable and useful. Just let me know if you have questions or anything I can help with.

[2016-02-18 09:21] seanhandley commented on #3847
There's quite a lot of that in the OpenStack code (requests available but not exposed on models) so please feel free to fix :+1:

[2016-02-18 19:05] zhitongLBN commented on #3847
please check the PR #3850, it should do the thing.
please also tell me the way you want me to improve :)

[2016-02-19 11:17] vizes-nyolcas commented on #3834
It is working only if the current directory is  the source directory, any
other relative or absolut path-ing doesn't work.

working example:

Dir.chdir('~/template-directory/project')
heat.stacks.create(:stack_name=>'New', :template => templ,
:files=>{"nested.yaml"=>nested}

not-working example

heat.stacks.create(:stack_name=>'New', :template => templ,
:files=>{"file:///~/template-directory/proje

[2016-02-19 17:45] geemus commented on #3847
closed by #3850

[2016-02-19 17:45] #3847 closed

[2016-02-24 10:58] blackms opened #3855 "Map complex attributes"
Hello,
I have a doubt, I'm trying to map in the correct whay the following structure as attribute:
server.attributes['NetworkAdapters'][0]['IPAddresses'][0]['Value']

It's an array of array, how can I map in a model using attribute?

[2016-02-24 15:04] geemus commented on #3855
Could you give a bit more detail about which provider you mean?

[2016-02-24 17:02] blackms commented on #3855
arubacloud :) I'm developing it. (it's on fog repo already)

[2016-02-24 17:35] plribeiro3000 commented on #3855
you should use the `association` feature. Then `server.network_adapters` will give you a collection of the model `NetworkAdapter` and each `NetworkAdapter` would have an association for `IpAddress` with a method called `value`.

So code wise:

[code]

PS: You will need a collection class for both models (`NetworkAdapter` and `IpAddress`).

This will be available as:

[code]

Is this what you are t

[2016-02-25 07:44] blackms commented on #3855
Yes, that's exactly what I was trying to achieve. Thank you very much for the help!

[2016-02-25 07:44] #3855 closed

[2016-02-26 17:41] tlawrence opened #3858 "[vcloud-director] Migrate to Minitest"
Hi,

I'm about to add a few bits to the vcloud_director provider and would like to support the new Minitest framework.
Does anyone have a 101 for getting minitest setup (dir structure etc) on a provider?

is this a good example?
https://github.com/fog/fog/blob/c7348b2b369b69a5125349fc11a41eaabf39dafc/spec/fog/openstack/network_spec.rb

Also, the current tests are rolled up into largeish files base

[2016-02-27 11:21] h0lyalg0rithm commented on #3333
@geemus I think we can close this http://github.com/fog/fog-openstack

[2016-02-27 11:36] h0lyalg0rithm commented on #3700
@geemus You can close his one as well

[2016-02-27 13:39] #3333 closed

[2016-02-27 14:53] #3700 closed

[2016-02-27 14:53] plribeiro3000 commented on #3700
Thanks!

[2016-02-29 14:58] geemus commented on #3700
Thanks!

On Sat, Feb 27, 2016 at 8:53 AM, Paulo Henrique Lopes Ribeiro <
notifications@github.com> wrote:

[2016-02-29 14:58] geemus commented on #3333
Thanks!

On Sat, Feb 27, 2016 at 7:39 AM, Sean Handley <notifications@github.com>
wrote:

[2016-02-29 15:22] geemus commented on #3858
Good question. @plribeiro3000 @tokengeek @mdarby perhaps one of you have some tips?

[2016-02-29 15:23] geemus commented on #3858
@tlawrence I haven't done a ton around the minitest side of this stuff so I defer there. In most other providers we do most of the testing more at the per-request level, so that sounds like a good plan.

[2016-02-29 19:11] jjasghar opened #3860 "[xen] "affinity is required for this operation" when trying to create new VM using XenServer provide"
https://github.com/chef/chef-provisioning-fog/issues/123

Is effected by this change.

fog version (1.35.0 -> 1.34.0)
fog-core (1.35.0 -> 1.32.1)

Need to figure out what changes for Xen happened in these and see what may have caused this issue.

[2016-02-29 20:37] plribeiro3000 commented on #3860
So thats it. `affinity` is required for `Vm` creation.

You can see it [here](https://github.com/fog/fog-xenserver/blob/master/lib/fog/compute/xen_server/models/server.rb#L100).

BTW, lets move this to the right repo.

[2016-02-29 20:38] #3860 closed

[2016-02-29 20:39] plribeiro3000 commented on #3860
@jjasghar Lets follow up at fog/fog-xenserver#57.

[2016-02-29 21:43] angelman commented on #3777
Any updates? Thanks. :purple_heart:

[2016-02-29 21:48] geemus commented on #3777
I merged https://github.com/fog/fog/issues/3777#issuecomment-190408860 earlier today, I think that should resolve this actually. Do let me know if that doesn't seem to be the case though.

[2016-02-29 21:48] #3777 closed

[2016-03-01 14:24] bl4ckdu5t opened #3861 "Rackspace identification not needed"
I'm basically just using the gem to upload files to rackspace and I don't think it should be doing anything outside of the upload process but I realized it delays my application rendering by taking up to 7s identifying with https://identity.api.rackspacecloud.com/ before each page loads. I took out the gem temporarily since I wasn't doing any uploads and got this:
[code]
which made me realize Fog

[2016-03-01 15:49] geemus commented on #3861
I think it looks like you may be using fog indirectly through something like carrierwave or paperclip? That might make it a bit more complicated. But the big thing is using `files.new` instead of `files.get` for things like this. `new` just instantiates a local reference, whereas `get` makes a remote lookup. Hope that helps steer you in the right direction anyway.

[2016-03-01 16:49] bl4ckdu5t commented on #3861
I'll like to change it from `files.get` to `files.new` but I have no idea where to do that. Is there somewhere I can set toggle it as an option? Here's how I'd used fog in my application:
[code]

[2016-03-01 20:34] sesam opened #3863 "IPFS?"
Considering this quote "The all-clouds-in-one library of choice is fog." from your website :-), is IPFS likely to be added? Any pointers / intuition on how hard it would be?

[2016-03-02 16:44] geemus commented on #3863
We are open to supporting new stuff, as long as someone is up to writing the code. I'm not particularly familiar with IPFS. In most cases the best starting point can be to look at existing examples. @plribeiro3000 usually has some good resources/tips to share also though.

[2016-03-02 18:53] plribeiro3000 commented on #3863
:+1:

so a (not so) good start point is [this](https://github.com/fog/fog/wiki/Create-New-Provider-from-Scratch) wiki page.

As someone start woking on it i can guide the rest of the process.

[2016-03-03 12:21] sesam commented on #3863
Oh, right, that looks like a full evening or weekend to get through. Hm.

[2016-03-04 20:33] geemus commented on #3861
I looked a little, but I'm afraid I am not very familiar with the paperclip code. If you can make the urls public, it seems like that might help? But outside that I would recommend asking on the paperclip repo, as I think the issue is somewhere on that side of things.

[2016-03-04 20:33] #3861 closed

[2016-03-04 21:33] bl4ckdu5t commented on #3861
I looked through carrierwave. Saw you as a contributor there and I was making the switch when I found the part that says set `config.action_controller.asset_host` to the the CDN url or it has to get it each time.

 I remained in paperclip and did just that which reduced my response time. I think it's something that should also be added to the Fog readme

[2016-03-04 22:44] geemus commented on #3861
I guess it seems more like a paperclip issue than fog. Also I'm confused since you mention carrierwave but the info above seems to refer to paperclip.

[2016-03-04 22:53] bl4ckdu5t commented on #3861
I'm sorry I didn't clearly express myself. I was only saying I tried to move to carrierwave and since I saw you contributed to its repository then I'd thought it'll probably work perfect from there. While I was reading through the readme I saw the line I referenced there which suggested that I set a asset host and I didn't have to migrate to carrierwave from paperclip

[2016-03-04 22:58] geemus commented on #3861
Ah, ok. Thanks for clarifying. I've worked on both carrierwave and paperclip, but it's been quite a long time. Glad to hear you got what you needed.

[2016-03-10 18:49] plribeiro3000 commented on #1210
Closing in favor of fog/fog-openstack#36.

[2016-03-10 18:49] #1210 closed

[2016-03-10 18:50] plribeiro3000 commented on #1622
Closed in favor of fog/fog-openstach#37.

[2016-03-10 18:51] #1622 closed

[2016-03-10 18:52] plribeiro3000 commented on #2160
Closing in favor of fog/fog-openstack#38

[2016-03-10 18:53] #2160 closed

[2016-03-10 19:03] plribeiro3000 commented on #2559
Closing in favor of fog/fog-openstack#39

[2016-03-10 19:04] #2559 closed

[2016-03-10 19:05] plribeiro3000 commented on #3011
Closing in favor of fog/fog-openstack#40

[2016-03-10 19:05] #3011 closed

[2016-03-10 19:07] plribeiro3000 commented on #3194
Closing in favor of fog/fog-openstack#41

[2016-03-10 19:07] #3194 closed

[2016-03-10 19:08] plribeiro3000 commented on #3382
Closing in favor of fog/fog-openstack#42

[2016-03-10 19:08] #3382 closed

[2016-03-10 19:10] plribeiro3000 commented on #3526
Closing in favor of fog/fog-openstack#43

[2016-03-10 19:10] #3526 closed

[2016-03-10 19:11] plribeiro3000 commented on #3536
Closing in favor of fog/fog-openstack#44

[2016-03-10 19:11] #3536 closed

[2016-03-10 19:14] plribeiro3000 commented on #3578
Closing in favor of fog/fog-openstack#45

[2016-03-10 19:14] #3578 closed

[2016-03-10 19:17] plribeiro3000 commented on #3603
Closing in favor of fog/fog-openstack#47

[2016-03-10 19:17] #3603 closed

[2016-03-10 19:20] plribeiro3000 commented on #3656
Closing in favor of fog/fog-openstack#49

[2016-03-10 19:20] #3656 closed

[2016-03-10 19:21] plribeiro3000 commented on #3626
Closing due lack of feedback.

If you have more information or think this was wrong please comment here again.

[2016-03-10 19:21] #3626 closed

[2016-03-10 19:22] plribeiro3000 commented on #3696
Closing in favor of fog/fog-openstack#50

[2016-03-10 19:22] #3696 closed

[2016-03-10 19:23] plribeiro3000 commented on #3723
Closing in favor of fog/fog-openstack#51

[2016-03-10 19:23] #3723 closed

[2016-03-10 19:24] plribeiro3000 commented on #3726
Closing in favor of fog/fog-openstack#52

[2016-03-10 19:24] #3726 closed

[2016-03-10 19:25] plribeiro3000 commented on #3732
Closing since it seems this was addressed already.

[2016-03-10 19:25] #3732 closed

[2016-03-10 19:29] plribeiro3000 commented on #3753
Closed in favor of fog/fog-openstack#53

[2016-03-10 19:29] #3753 closed

[2016-03-10 19:30] plribeiro3000 commented on #3758
Closing in favor of fog/fog-openstack#54

[2016-03-10 19:30] #3758 closed

[2016-03-10 19:31] plribeiro3000 commented on #3770
Closing in favor of fog/fog-openstack#55

[2016-03-10 19:31] #3770 closed

[2016-03-10 19:34] plribeiro3000 commented on #3831
Closing in favor of fog/fog-openstack#57

[2016-03-10 19:34] #3831 closed

[2016-03-10 19:57] plribeiro3000 commented on #3681
Closing in favor of #3644

[2016-03-10 19:57] #3681 closed

[2016-03-10 20:00] #3830 closed

[2016-03-10 20:01] plribeiro3000 commented on #3863
Closing in favor of #3644

[2016-03-10 20:01] #3863 closed

[2016-03-10 20:07] plribeiro3000 commented on #3442
Closing in favor of fog/fog-rackspace#4

[2016-03-10 20:07] #3442 closed

[2016-03-10 20:12] plribeiro3000 commented on #3721
Closing in favor of fog/fog-rackspace#7

[2016-03-10 20:12] #3721 closed

[2016-03-10 20:15] plribeiro3000 commented on #3815
Closing in favor of fog/fog-rackspace#9

[2016-03-10 20:15] #3815 closed

[2016-03-10 20:19] #2986 closed, assigned to mwhagedorn

[2016-03-23 00:00] benlangfeld opened #3865 "[OpenStack Swift] Object tempURL generation is very slow"
Using Fog via Paperclip in a Rails application with objects stored in Swift, I found the tempURL generation to be a significant bottleneck in my application, particularly when generating many of them in a single request. This is because the current method makes a request to Swift to generate the URL on our behalf, and these network connections are much slower than [generating a URL signature ourse

[2016-03-23 13:20] seanhandley commented on #3865
Hi @benlangfeld,

FYI we moved all OpenStack code over to a separate gem at https://github.com/fog/fog-openstack so please feel free to raise issues/pull requests over there.

[2016-03-23 13:20] #3865 closed

[2016-03-23 13:25] benlangfeld commented on #3865
That gem is only used by fog 2.x. Does that mean this change would not be accepted into the 1.x series?

[2016-03-23 14:01] seanhandley commented on #3865
I'm not sure. I didn't hear anything about the 1.x series of releases coming to an end.

Are we due another release before 2 lands @geemus ?

[2016-03-23 14:51] benlangfeld commented on #3865
It turns out Fog is [already doing the same thing](https://github.com/fog/fog/blob/v1.37.0/lib/fog/openstack/requests/storage/get_object_https_url.rb#L19-L67) as [my monkey-patch to Paperclip](https://gist.github.com/benlangfeld/0c2cbc3deca1d8bf561d), but the latter is significantly faster. I'm going to have to do some benchmarking to figure out what's going on.

[2016-03-23 20:48] gpetras opened #3866 "[vsphere] add support for adding raw devices to VMs"
This support is available in PowerCLI and the Perl SDK, which indicates the vSphere API supports it. It'd be great if fog also supported this functionality.

[2016-03-24 14:28] geemus commented on #3865
We'll probably keep doing 1.x for a while yet. We've considered/desired 2.x but have a few things we'd like to finish first (like the rest of splitting things up, which has been slow but steady).

[2016-03-24 14:30] geemus commented on #3866
Thanks for the heads up. Any chance you would be interested in working on a pull request adding the functionality? Thanks!

[2016-03-25 00:32] chilicheech opened #3867 "Please release a new version of the gem 1.38.0"

[2016-03-28 16:00] geemus commented on #3867
done, thanks!

[2016-03-28 16:00] #3867 closed

[2016-03-28 16:34] chilicheech commented on #3867
:+1: thanks!

[2016-03-30 21:15] jjasghar opened #3869 "[digitalocean] removing it to it's own gem"
Hi all! With the help of @geemus, we have a repo for fog-digitalocean now.

https://github.com/fog/fog-digitalocean

I've done an initial import but we still need to verify everything is setup correctly.

If you'd like to help don't hesitate to reach out.

- [ ] Pass tests
- [ ] Remove digital ocean from fog/fog
- [ ] Add to fog/fog slurp in fog-digitalocean
- [ ] Clean up readme

[2016-03-31 15:13] geemus commented on #3869
Thanks!

On Wed, Mar 30, 2016 at 4:15 PM, JJ Asghar <notifications@github.com> wrote:

[2016-03-31 15:53] ciberch commented on #2055
Did this get resolved ?

[2016-04-02 10:51] Pimmetje commented on #3644
I don't know if this is the place for it. But i also miss general WebDav support. This would be useful for example to upload something to a owncloud provider.

[2016-04-02 21:07] plribeiro3000 commented on #3644
WebDav as a standalone service or under some other provider?

[2016-04-03 20:12] Pimmetje commented on #3644
WebDav is a protocol. https://en.wikipedia.org/wiki/WebDAV

[2016-04-03 20:16] plribeiro3000 commented on #3644
Sure. Will add it to the list.

[2016-04-04 15:45] mdarby commented on #2055
Looking through the CDN API docs (https://developer.rackspace.com/docs/cdn/v1/developer-guide/) I'm not seeing a way to list CDN files. Could someone please provide a bit more detail (code example would be great) of how you're accessing the url of a CDN asset?

[2016-04-05 13:43] kodoku opened #3871 "[Openstack] Issue with endpoint when proxy URL used"
Hi,

When fog detect endpoint, it use URL for detect version of API.

For that, fog use the beginning of URL like http://hostname and request on / for detecting the version.

If we use an endpoint like http://hostname/nameOfService, fog use http://hostname and can't detect the good version.

Need to change how to detect version and use the entire URL.

[2016-04-05 13:44] #3871 closed

[2016-04-05 13:44] kodoku commented on #3871
open on fog-openstack : https://github.com/fog/fog-openstack/issues/75

[2016-04-06 18:02] icco opened #3872 "ruby 1.9 Support"
So, when do we fully drop 1.9 support in Fog?

IIRC, the main reason was debian support.

According to https://packages.debian.org/search?keywords=ruby, wheezy, aka oldstable, still only has 1.9. According to https://wiki.debian.org/DebianOldStable, on April 26th, 2016, the Debian team will drop support for Wheezy. Which in my mind, means we can drop 1.9.

But.... https://wiki.debian.org/LTS/ says

[2016-04-07 13:34] sarat4a4 commented on #3300
a

[2016-04-07 18:10] atebit opened #3873 "Heroku deploy fail"
Having a weird issue. Searching for it—I found this thread, which seems to be the problem [https://github.com/fog/fog-aliyun/issues/8]. It's deploying to an existing app, but not to a new one on Heroku. Thoughts?

-----> Using set buildpack heroku/ruby
-----> Ruby app detected
-----> Compiling Ruby/Rails
-----> Using Ruby version: ruby-2.2.1
-----> Installing dependencies using bundler 1.11.2

[2016-04-07 19:23] plribeiro3000 commented on #3873
@atebit At the moment there is nothing we can do since `rubygems` does not allow unyanking anymore.
Can you do a gem update `fog-aliyun` please?

@geemus I would suggest if that thing does not get fixed we remove `fog-aliyun` out of fog until we do.
It clearly need some :heart:. It is depending on `xml-simple` when it should be depending on `fog-xml`. It might have some other issues to be fixed as

[2016-04-07 19:32] atebit commented on #3873
@plribeiro3000 @geemus  I'm not using the fog-aliyun, is it possible to bypass? I tried using just fog-aws but it is throwing the same error.

[2016-04-07 19:34] plribeiro3000 commented on #3873
Change your `Gemfile` from:

[code]

to

[code]

and you should be good.

[2016-04-07 19:39] atebit commented on #3873
had to manually remove the reference to 'fog-aliyun' from the lock file, interesting..

[2016-04-07 19:48] plribeiro3000 commented on #3873
No. don't do that! You are not supposed to play with `Gemfile.lock`.

Just change your `Gemfile` and then do a `bundle install`.

[2016-04-07 19:50] atebit commented on #3873
For some reason, bundle install wasn't removing old references. Had to nix it and do a fresh bundle install. But, that got it to work. Thanks for your help on this!

[2016-04-07 19:53] plribeiro3000 commented on #3873
Sure. No worries. I'm glad to help!

[2016-04-07 19:53] #3873 closed

[2016-04-07 20:35] vf-sohail opened #3874 "Fog directory appends local system path with amazon url when i try to give dynamic fog directory"
I am using FOG with Paperclip. I added the following code to give dynamic directory name.

`fog_directory: proc { |file| file.instance.repo.name }`

It creates the fog directory correctly but when i try to get url it added the local system path with amazon url.

https://s3.amazonaws.com/%23%3CProc:0x4ae8f3bb@/home/apple/projects/project.name/config/initializers/paperclip.rb:8%3E/abc.jpg

[2016-04-12 16:12] Ybrin opened #3875 "Support Backblaze as Cloud Storage provider"
I think it would be great to support [Backblaze](https://www.backblaze.com/b2/cloud-storage.html) as a Cloud Storage provider because it is also one of the bigger services and it is more attractive to smaller customers because of their lower prices.

[2016-04-12 16:53] plribeiro3000 commented on #3875
Sure. Thank you! I will close this issue in favor of #3644 so we won't have a lot of tickets just for new provider requests.

Would you be able/want to work on that provider?

[2016-04-12 16:53] #3875 closed

[2016-04-12 18:26] geemus commented on #3874
I've not seen usage quite like this before. I think it may be a paperclip error rather than one inherently in fog, but I could be wrong.

[2016-04-12 18:31] geemus commented on #3873
Thanks for working through this!

[2016-04-12 18:36] geemus commented on #3872
ug... I guess we should just make a call at some point, continuing to support is definitely a pain and things probably aren't going to sort themselves out. What are other's opinions on how/when we should proceed?

[2016-04-12 19:16] plribeiro3000 commented on #3872
Yeah. so i think the point is: Are we going to fix the problem of LTS operational systems and the fact that ruby development goes way faster then that ourselves?

I say no. This is a huge problem and is really painful to do so. On another side we need to provide them at least something that makes sense. And i believe this is us moving to `2.0.0` and those operational systems sticking with `1.x.x`.

[2016-04-12 21:24] nirvdrum commented on #3872
I'm probably to blame for the extra 1.x releases. DigitalOcean threw us in a bind by dropping v1 of their API and I didn't think forcing people using DigitalOcean to also go through a major Ruby & Fog upgrade was the best option.

I'm a fan of calling 1.x done, releasing Fog 2.0, and making that Ruby 2.0+.

[2016-04-12 21:28] plribeiro3000 commented on #3872
@nirvdrum Sure man. No one is to blame here. You did a good call on the DigitalOcean thing and now i do remember why we are back on `1.x.x`. I was onboard on that decision at the time and i'm still but now i guess is the time to kill `1.x.x` and let everyone know that they should stick to the last version if they want `1.9` support.

Just to be clear, our latest `1.x.x` dropped ruby `1.9` support?

[2016-04-12 23:55] pwenig commented on #1659
Just came across @marcamillion comment and that was exactly my problem! Thanks!

[2016-04-13 01:17] nirvdrum commented on #3872
I thought one of the releases did. But it was unintentional -- a fog gem or two went 2.0+ plus a bit early. It looks like that's been fixed though. 1.38.0 just installed cleanly in 1.9.3-p551 for me.

[2016-04-13 21:28] icco commented on #3872
yeah, that was my fault (we're all horrible!), because version 0.1.1 of fog-google made ruby be >= 2.0. Whenever we do make fog 2.0, we should unpin fog-google as well.

[2016-04-13 21:29] icco commented on #3872
Oh, and unpin mimetypes and net-ssh?

[2016-04-13 21:30] plribeiro3000 commented on #3872
@icco Good points. We should definetely do so when bumping to `2.0.0`.

@geemus thoughts?

[2016-04-14 12:40] Temikus commented on #3872
My 0.02$: I'm in favor of this, but one note for the sake of keeping all the info together: AFAIK there's not only the LTS use-case, there's also the Jruby thing, since not everyone has migrated to 9k and old one doesn't have proper Ruby 2.0 support.

[2016-04-14 12:44] Ybrin commented on #3875
Hi, I don't know that much about their API but I could read through their docs and implement it if you want to.

[2016-04-14 12:45] Temikus opened #3876 "Fog vs. Metagems recommendation"
Do we actually plan to continue support of fog/fog as "require everything" gem? I'm asking since some projects still use 'fog' to support only a specific provider (like ManageIQ with google) and this causes long require times and a ton of unnecessary dependencies to be loaded.

If not and we want people to use the metagems directly, maybe we should make a notice of that during install/in README, l

[2016-04-14 14:13] geemus commented on #3876
Sounds reasonable. I think we want to continue to do the metagem thing for now for backwards compatibility at least until 2.0. Maybe once we get everything split out the meta-gem can just be retired though and we can just focus on the individual things.

[2016-04-14 15:46] connorshea commented on #3876
Is it possible right now to just use the specific depencies we need, or is the metagem necessary until 2.0 is released? I was looking into how to remove extra depencies in GitLab and fog seems like a good place to start.

[2016-04-14 17:38] icco commented on #3872
@nirvdrum do you still know all of the jruby stuff?

[2016-04-14 17:57] Temikus commented on #3876
@connorshea AFAIK as long as your provider is separated to a metagem and you don't need to support Ruby1.9.3, you **should** be using the specific metagem you need.

This is precisely what I was talking about...

@geemus - how about a `spec.post_install_message`?

With something like:
[code]

[2016-04-14 18:05] connorshea commented on #3876
@Temikus [Yeah...](https://github.com/gitlabhq/gitlabhq/blob/master/Gemfile.lock#L219)

[2016-04-14 19:08] plribeiro3000 commented on #3872
@Temikus Good point dude! I forgot about it.

[2016-04-14 19:09] plribeiro3000 commented on #3876
@Temikus You have it already then. Would you have time to send a PR with that since is your idea?

[2016-04-14 19:15] Temikus commented on #3876
@connorshea Looking diagonally through the code it looks to me like you have only AWS to worry about: [1](https://github.com/gitlabhq/gitlabhq/blob/91fa250038e9182988319f088fb84741b6e2efc9/config/initializers/carrierwave.rb),[2](https://github.com/gitlabhq/gitlabhq/blob/95c7aa62defdbc7984c71faeb0b901a7fe59b223/doc/raketasks/backup_restore.md) I would double check to make sure though ;)

@plribeiro

[2016-04-14 21:11] charlesrg commented on #3285
Great, this worked great for me too. Using Centos 7.2, Ceph Firefly and Foreman 1.11

[2016-04-18 13:47] icco commented on #3872
https://github.com/jruby/jruby/wiki/Roadmap looks like jruby 9.0.1.0 and later all support Ruby 2.2 syntax, and older versions of jruby aren't supported any more.

[2016-04-18 15:55] geemus commented on #3872
Yeah, there were a few things that just needed releases ASAP, but where we didn't feel like it was 2.0 ready quite yet. Also, we seem to be factoring out more independent gems the longer we wait, which is a nice "feature" toward 2.0. We could probably move back to a bigger push here though, it just kind of fell off my radar.

[2016-04-18 15:57] geemus commented on #3839
closed by #3878

-

[2016-04-18 15:57] #3839 closed

[2016-04-18 16:09] geemus commented on #3876
Sounds great, looks like this is closed by #3877

[2016-04-18 16:09] #3876 closed

[2016-04-20 16:11] connorshea commented on #3876
@Temikus thanks for looking into that for me :D I've opened an issue in GitLab so hopefully it'll be improved soon.

[2016-04-21 15:27] voelzmo opened #3880 "Bump fog-core to >=1.38.0"
To include excon 0.49.0 we need fog-core >=1.38.0. Can we please get a bump to fix https://github.com/excon/excon/issues/542 as described in https://github.com/fog/fog-core/issues/184?

Thanks!

[2016-04-22 00:45] icco commented on #3880
Do you need to even be including fog in your project? We can do this (we should), but it looks like you might only need one of the sub-projects, not the actual fog gem.

[2016-04-22 07:40] voelzmo commented on #3880
@icco  thanks for the suggestion. We need aws and openstack, so now that fog-openstack is its own thing, we should probably switch to including those two directly. However, currently we don't so not sure if we should mix those two things for now.

[2016-04-22 12:51] icco commented on #3880
It should be seamless, if you only use aws and openstack, just change your deps to `fog-aws` and `fog-openstack`.

[2016-04-22 15:15] #3880 closed

[2016-05-10 17:38] kenn opened #3883 "2.0 release ETA?"
Sorry if it's mentioned elsewhere already, but just a general status inquiry: Is it OK to start using `2.0.0.pre.0` right now? Or are we expecting breaking changes before final?

I like the idea of untangling dependencies from the core, and I'd love to use the new version. 😍

[2016-05-10 19:03] plribeiro3000 commented on #3883
@kenn you are certainly encouraged to use version `2.0.0` or just eh extracted providers.

Regarding ETA and breaking changes we are not that close to be able to give you an answer. It might be soon in the same way that it might not.

We will announce in here and on [twitter](https://twitter.com/fog).

Hope this helps.

[2016-05-10 19:47] kenn commented on #3883
Thanks @plribeiro3000 ! I sure hope it would be on the soon side. 😆

I thought I'd close this issue, but also thought it might work as an FAQ. Feel free to close whenever / if you want to.

[2016-05-10 19:48] plribeiro3000 commented on #3883
Yeah, i think we can leave this open so other people will find it more easily. =)

[2016-05-10 19:55] Temikus commented on #3883
Hi @kenn!

I saw you said that your use-case was:

If that is indeed your main point - this has already happened, you can already use just your relevant gem.
To quote the dependency notice from the README:

Cheers,
A.

[2016-05-10 20:16] geemus commented on #3883
Yeah, many have been separated, but many also have not. We have been headed slowly but steadily in that direction, but don't really have a concrete date when we hope to be there as it's all volunteer effort.

[2016-05-18 20:10] raravena80 opened #3884 "Support DNSMadeEasy API 2.0"
I don't think this is supported yet.

https://www.dnsmadeeasy.com/integration/pdf/API-Docv2.pdf

The new endpoint for the API is

[code]

It's not compatible with this:

[code]

The `@connection` variable would have to change to something like this

[code]

[2016-05-19 18:21] geemus commented on #3884
From the sounds of it, you found out it will take more extensive changes than this? Happy to discuss if that would help.

[2016-05-25 12:18] KaGeN101 opened #3888 "Fog::DNS::Rackspace::BadRequest: [HTTP 400 | ] Validation failed"
We started getting this error all of a sudden today updating our load balancer with Fog on Rackspace.

Has the Rackspace API changed and Fog not in sync with it currently?

We are on the latest gem versions, here is a list or our Fog gem versions:
fog (1.38.0)
fog-aliyun (0.1.0)
fog-atmos (0.1.0)
fog-aws (0.9.2)
fog-brightbox (0.10.1)
fog-cloudatcost (0.2.1)
fog-core (1.40.0)
fog-dynect (0.0.3)
fo

[2016-05-25 16:31] plribeiro3000 commented on #3888
@KaGeN101 Could you open this against [`fog/fog-rackspace`](https://github.com/fog/fog-rackspace) instead please?

[2016-05-25 18:22] KaGeN101 commented on #3888
Okay sure makes more sense :/

[2016-05-25 18:26] plribeiro3000 commented on #3888
Awesome. Thank you!

[2016-05-26 01:06] synthead commented on #3279
+1

[2016-05-26 10:39] Temikus commented on #3279
@synthead Unless your provider wasn't separated into a metagem or you _have_ to support ruby 1.9.3, there should be no reason for you to use fog/fog instead of a specific metagem you need. See "Dependency notice" in the readme.

[2016-05-26 18:24] synthead commented on #2233
+1

This would be a great feature to have!

[2016-05-27 00:00] synthead commented on #2372
Seems pretty crufty to not be able to add a certain NIC when cloning it, only to remove the NIC and add a different one after the clone.  Are there any plans to allow users to clone a VM with the NIC properly added?

[2016-06-08 20:25] jntullo commented on #3644
Has there been any talk of adding in Docker Cloud, or has anybody gotten started on it?

Created a gem here https://github.com/jntullo/ruby-docker-cloud but I think it would be a good provider addition to Fog - happy to get started on it if you all agree.

[2016-06-08 20:26] plribeiro3000 commented on #3644
Sure @jntullo. Do you think you have spare time to do this?

[2016-06-08 20:28] jntullo commented on #3644
@plribeiro3000 I should have time to get it started in the next week or so.

[2016-06-08 20:31] plribeiro3000 commented on #3644
@jntullo Awesome. This [wiki page](https://github.com/fog/fog/wiki/Create-New-Provider-from-Scratch) should help you start.

[2016-06-09 13:52] geemus commented on #3644
Sounds great, thanks!

On Wed, Jun 8, 2016 at 3:31 PM, Paulo Henrique Lopes Ribeiro <
notifications@github.com> wrote:

[2016-06-13 15:28] msommerville opened #3889 "InvalidClientTokenId => The security token included in the request is invalid"
I've looked for a solution to this - everything I have found has said this should work, but I can't find any details on what's happening. I don't know if it's a bug or I'm doing something egregiously wrong.

When executing this snippet:

    awsclient = Fog::DNS::AWS.new(
      :aws_access_key_id => @aws_access_key_id,
      :aws_secret_access_key => @aws_secret_access_key,
    )

    p awsclient

[2016-06-13 17:17] plribeiro3000 commented on #3889
Hey @msommerville. Can you open this against [fog-aws](https://github.com/fog/fog-aws) instead?

Thanks!

[2016-06-13 20:53] msommerville commented on #3889
No need - found the problem - I'm a fat fingered idiot!

[2016-06-13 20:53] #3889 closed

[2016-06-16 17:54] pravi opened #3890 "support new versions of fog-google"
Currently fog declares fog-google <= 0.1.0 and latest release of fog-google is 0.3.2. Does new versions introduce breaking changes? Is there a plan to support newer versions?

[2016-06-16 20:25] Temikus commented on #3890
Hi @pravi

As currently written in the README:

Are you using Ruby 1.9.3? If not - you should be using and requiring `fog-google` directly instead of the whole Fog collection.

[2016-06-17 10:01] pravi commented on #3890
@Temikus I'm packaging gitlab and diaspora for debian. gitlab already moved to individual gems and has fog-google ~> 0.3. But diaspora is still requiring whole fog collection, so it is conflicting.

I have asked diaspora about their plan https://github.com/diaspora/diaspora/issues/3855#issuecomment-226730378

[2016-06-17 13:36] icco commented on #3890
@pravi Fog won't support newer versions of Fog-Google till Ruby 1.9 support is dropped in Fog 2.0

 - https://github.com/fog/fog/issues/3872
 - https://github.com/fog/fog/issues/3883

[2016-06-29 10:26] zhitongLBN opened #3892 "can't not bundle install on fog cause fog-core version not found"
Hi guys, I can't no more `bundle install` in fog because it can't found `fog-core 1.40.1`
[code]
fog-core cannot find `1.40.1` using `.gemspec`,
But using command-line `gem install fog-core -v 1.40.1` it went just fine, weird O.0

[2016-06-29 14:59] geemus commented on #3892
I must have done it wrong. Just pushed a commit that I think should fix it, but let me know if you still have issues.

[2016-06-29 14:59] #3892 closed

[2016-07-05 17:06] Temikus commented on #3872
I propose the following:
- Drop Ruby 1.9.3/1.8.7 support from 2.X hard.
- If something is direly needed (for security issues, etc.) - backport it to 1.X.
- Otherwise - recommend people to upgrade or use 1.X if they need support for legacy ruby versions.

This should not block existing people and allow us to clean up the project at the same time. Makes sense?

[2016-07-05 20:27] geemus commented on #3872
I think that sounds fine, just need to get 2.x back on track and moving forward.

[2016-07-06 14:07] plribeiro3000 commented on #3872
👍

[2016-07-06 17:44] #3890 closed

[2016-07-08 12:47] darokel opened #3895 "Bug in Fog Mock?"
I am using Fog in a Rails app to do file uploads via a library called Carrierwave. When trying to test the upload, I've set this in an Rspec support file:

[code]

My tests return:

[code]

Because `self.data[:buckets]` is `nil` in:
[code]
[code]

Shouldn't this be set correctly after configuring Fog mock like above?

[2016-07-08 14:25] geemus commented on #3895
Hey, I think the issue might just be in how your support file is structured.

`connection.directories.create(key: fog_directory)` should create the directory, but, `Fog::Mock.reset` will actually drop everything from mocks, which would get you back to square one (and cause the issue you are seeing). I don't think the reset should be needed there, so if you just drop that I think you will have bett

[2016-07-08 15:15] darokel commented on #3895
Thanks for the response @geemus, but can we re-open this? The issue still occurs even after I remove the reset.

[2016-07-08 15:26] darokel commented on #3895
This is what's in `self.data`, (note I've omitted some values):

[code]

[2016-07-08 19:00] geemus commented on #3895
Is there a particular need to reach down into the internals to look for this information (vs just using models/requests to look it up through existing mechanisms?)

The mock data is persistent, could it be the order your tests run in? ie does one of the tests delete the bucket? I notice in particular that the code you include here does not create that object, so it must be coming from somewhere el

[2016-07-09 18:55] weppos opened #3896 "fog-dnsimple"
I started working on a new repo that pulls out the Dnsimple provider from this repo. From what I've understood, this is the direction that the library is taking.

The repo is available at https://github.com/dnsimple/fog-dnsimple

At the time being, this is mirroring the same features provided by fog/fog. My plan is to upgrade it to the DNSimple API v2 and remove the legacy code.

I did not find an

[2016-07-11 11:01] jogaco opened #3897 "403 Forbidden when reading from S3"
I am using a gem which relies on fog for S3 storage I/O.
While debugging, I noticed the gem calls `Fog::Storage::AWS::Real#get_object(bucket_name, object_name)`, which in turn calls `Fog::Storage::AWS::Real#request`.
Inside this method, this snippet adds the authorization headers:

[code]

However, @signature_version is  in this case equals to 4, and thus does not add the header.
As a contrast, du

[2016-07-11 12:51] plribeiro3000 commented on #3896
:+1: for The new repo. You can find instructions [here](https://github.com/fog/fog/wiki/Create-New-Provider-from-Scratch).

Regarding The move i believe tou will need to give @geemus access so he can move.

Let me know if The Wiki page ia not enough or if you need any help.

[2016-07-11 13:02] weppos commented on #3896
Thanks for the info @plribeiro3000, I admit I didn't notice the page. Actually, is the page up-to-date? For instance, I was under the impression that fog-core didn't support anything below Ruby 2.0:

From https://github.com/fog/fog

As for the permissions, is kind of complicated. Perhaps @geemus or someone with privileges to create a repo under `fog` can create it and clone/push the repo. I can th

[2016-07-11 13:17] plribeiro3000 commented on #3897
Hello @jogaco . Would you be kind enough to open this against [`fog-aws`](https://github.com/fog/fog-aws) instead?

[2016-07-11 13:20] plribeiro3000 commented on #3896
Hey @weppos . I believe a clone is ok. I can do that but won't be able to give you the right permissions.

That page should be up-to-date with the exception of fog `2.0.0`. As we started moving in that direction and dropping support for ruby `1.8.7` and `1.9.3` we got a lot of feedback from people that can't move to another version yet (e.g LTS distros that still support older versions of ruby).

[2016-07-11 13:22] plribeiro3000 commented on #3896
@weppos The repo is [here](https://github.com/fog/fog-dnsimple)

[2016-07-11 13:26] plribeiro3000 commented on #3896
I just created everything. I only don't have permission to invite new people to the organization.

cc/ @geemus

[2016-07-11 13:28] plribeiro3000 commented on #3896
Hmm. It seems tha wiki page is up-to-date after we got support back. I guess we need to update our README with that info. I will try to do that later.

[2016-07-11 14:31] #3897 closed

[2016-07-11 15:14] geemus commented on #3896
@weppos I think you should have an invite with sufficient access/etc, just let me know if you need anything else there.

@plribeiro3000 as always, thanks so much for helping this along.

[2016-07-11 15:16] plribeiro3000 commented on #3896
:+1:

Em seg, 11 de jul de 2016 12:14, Wesley Beary <notifications@github.com>
escreveu:

[2016-07-11 15:30] weppos commented on #3896
Thanks @geemus, it worked perfectly. Thanks @plribeiro3000 for the assistance.
About the deploy to RubyGems, what is your policy? Do you want me to deploy it and share it with you, or vice-versa?

[2016-07-11 15:41] geemus commented on #3896
@weppos I'm fine with you deploying, I would just ask that you add (at least me) to the owners list. That way should we ever have security or other issues that involved rolling out new versions (or other critical bugs) we would be able to make sure those could go out in a timely fashion.

[2016-07-11 15:43] weppos commented on #3896
No problems at all. I'll try to prep a blank release today to reserve the namespace, and I'll add you.

[2016-07-11 15:43] geemus commented on #3896
Sounds good, thanks!

[2016-07-11 15:59] weppos commented on #3896
Done! https://rubygems.org/gems/fog-dnsimple

[2016-07-11 16:01] plribeiro3000 commented on #3896
@weppos Once you finish the extraction let me know so i can go over and check some minor details to ensure its ready to be added as a dependency at the main repo.

[2016-07-11 16:02] weppos commented on #3896
@plribeiro3000 I will! Feel free to add comments even right now as tickets. I'll be happy to handle them.

Also, I assume that I should provide a patch to remove the code from the current fog library. Is it correct?